[2021-01-19 15:39] umaYnit commented on #507
I think I already know why, because I wrote `rm -r file`.
In the source code, first, directly predict the location of the file parameter by the number of arg, here will get arg[1] and true, but the file is judged again below, and the operation is directly performed through arg[0], and then an error occurs

[2021-01-19 15:44] umaYnit commented on #507
Just change `fs::remove_file(&arguments[0])` to `fs::remove_file(&path)` to fix it easily and quickly.
The code is at:
https://github.com/sagiegurari/duckscript/blob/master/duckscript_sdk/src/sdk/std/fs/rm/mod.rs#L52

[2021-01-19 16:03] sagiegurari commented on #507
thanks a lot!!! a pr would be best

[2021-01-19 16:03] sagiegurari commented on #507
ya i see the bug.... funny oversight. good catch

[2021-01-19 16:09] sagiegurari commented on #506
thanks. the issue i see with that attribute is that its not something i can turn on/off when running deserialize.
its impacting always.

[2021-01-19 16:15] sagiegurari commented on #506
@d4h0 this one feels like a good direction to me: https://github.com/dtolnay/serde-ignored

[2021-01-19 18:37] d4h0 commented on #506
I didn't know `serde-ignored` – thanks! Yes, that looks perfect.

[2021-01-21 22:50] Kreyren commented on #473
I take it back i like it!

[2021-01-22 02:36] #507 closed

[2021-01-23 16:01] sagiegurari commented on #505
I hope this has been handled. if there are still questions, feel free to open/reopen the issue or open an issue in duckscript repo for duckscript specific questions.

[2021-01-23 16:01] #505 closed

[2021-01-23 16:04] sagiegurari commented on #489
Started working on this one, but seems to be a lot of effort.
Would love to get some help with this.

[2021-01-23 16:08] sagiegurari commented on #506
@d4h0 this is now implemented in the dev branch 0.32.11
give it a shot and tell me what you think.
it will print a warning for any unknown key found including which file it was found in.

[2021-01-23 18:45] sagiegurari commented on #473
happy to hear :)

[2021-01-23 19:55] d4h0 commented on #506
@sagiegurari: Works fantastic – thank you so much!

[2021-01-23 20:20] sagiegurari commented on #506
thanks for the feedback.

[2021-01-24 08:21] sagiegurari commented on #506
officially released.

[2021-01-24 08:21] #506 closed

[2021-01-24 14:25] Kreyren opened #510 "Use nanoseconds in the build status"
![image](https://user-images.githubusercontent.com/11302521/105633315-2a047400-5e58-11eb-99ad-3479acd7ceaa.png)

Running hello world or generally code that takes less then 1 second to process is outputted as `Build Done in 0 seconds.`

Proposing to implement logging in nano seconds so that the developer could monitor for possible regression during the development.

[2021-01-24 14:59] sagiegurari commented on #510
not sure about millies, but maybe i could do like cargo does: 0.32s

[2021-01-24 19:42] Kreyren commented on #510
Using 0.32s is acceptable, but not ideal.

i would prefer more accurate measurements for benchmarking to know how much time is being added by cargo-make (my benchmarks in rustlang concern nano seconds with controlled system noise).

[2021-01-25 12:46] sagiegurari commented on #510
@Kreyren this is now implemented in the dev branch 0.32.12 mind taking a look?
also, you might not be familiar with the --time-summary cli flag, which shows a summary of each step and how long it took in same precision already (1/100 of a second). its automatically used in CI but for non CI you need the cli flag or the config settings in the makefile.

[2021-01-25 13:34] tamasfe commented on #489
I can look into this

[2021-01-25 14:51] sagiegurari commented on #489
feels like ruat struct->json schema might be a good standalone project

[2021-01-25 15:53] tamasfe commented on #489
Such project [exists](https://github.com/GREsau/schemars), this is what I also usually use, just slap `derive(JsonSchema)` on the structs in question and call `schema_for!()` somewhere.

The `taplo-cli` has schemars as a normal dependency, and it has a command to print its own config schema, but I have no idea how much bloat and compilation time it actually adds. Should something similar be done h

[2021-01-25 20:01] Kreyren commented on #510
Build failing for me.

https://gist.github.com/Kreyren/e6d748a6d644dbf72d4bcd48a1cdd8e0

[2021-01-25 20:04] Kreyren commented on #510
![image](https://user-images.githubusercontent.com/11302521/105759465-ce69e180-5f50-11eb-97f9-0fa0278fd2de.png)

The `--time-summary` noted

[2021-01-25 20:23] sagiegurari commented on #510
you ran out of disk space

[code]

[2021-01-25 20:46] Kreyren commented on #510
oops, sorry!

[code]

LGTM

[2021-01-26 17:05] sagiegurari commented on #510
Thanks for verifying.
the time summary looks much more detailed when you have a larger flow than 1 task.
for example i took this from the CI of cargo-make of this issue code push:

[code]

[2021-01-26 18:12] Kreyren commented on #510
oh cool O.o

[2021-01-26 20:35] d4h0 commented on #506
@sagiegurari: Awesome, thanks again!

[2021-01-28 08:08] nook1208 opened #511 "With 'on_error_task' config, user's command line arguments are not sent to the running task."
### Describe The Bug
If I use `on_error_task` config, user's command line arguments are not sent to the running task.
When I check the code, If `on_error_task` is enabled `run_protected_flow` function is executed.
And It seems to need some code that pass command line arguments of user to a task that will be run.

### To Reproduce

1. Add 'on_error_task' to Makefile.toml
2. Define any task(like cli

[2021-01-29 09:16] sagiegurari commented on #511
@nook1208 thanks a lot for reporting this. This should be fixed now.

[2021-01-29 09:57] sagiegurari commented on #510
officially release now. thanks for the feedback

[2021-01-29 09:57] #510 closed

[2021-01-29 09:58] sagiegurari commented on #511
officially release now. thanks for the raising this issue

[2021-01-29 09:58] #511 closed

[2021-01-29 14:50] Kreyren commented on #510
Thanks for working on this ^-^

[2021-01-30 02:20] nook1208 commented on #511
Yeah, It's fixed. Thank you!
And I'm appreciate this great product :]

[2021-02-04 09:12] umaYnit opened #513 "Is there an easy way to process multiple files?"
I am trying to rewrite the makefile of the old project to cargo-make，Is there an easy way to something like that?
[code]
I only thought of using duckscipt, but I don’t know how to get the multiple files

[2021-02-04 10:53] umaYnit commented on #513
This is my attempt:
[code]

[2021-02-04 11:08] sagiegurari commented on #513
that actually looks spot on

[2021-02-04 12:41] umaYnit commented on #513
but if I use env value like `concat ${TARGET_DIR} ${app_name}` will get an error：
[code]

[2021-02-04 21:04] sagiegurari commented on #513
not sure i can help without looking at the make file.
i wrote my own based on yours:

[code]

and ran it via ```cargo make build``` and it works well and prints out the rs files i have at that dir (i changed the rust objcopy to echo)

[2021-02-05 01:35] umaYnit commented on #513
Yes, it is correct. But if I remove `target_dir = get_env TARGET_DIR` and call the concat method like `    file_elf = concat ${TARGET_DIR} ${app_name} `, an error will occur. TARGET_DIR is set in `[env]`,

[2021-02-06 13:34] umaYnit opened #514 "When overwrite env condition false, it will be null"
[code]
this will get  `${overwrite_env}`, not `first`. Did I do it wrong?

[2021-02-06 15:36] sagiegurari commented on #514
env is a map, so I'm not sure what will hsppen when you define the same key twice.
regardless just define it once.

what is the use case here?

[2021-02-07 02:02] umaYnit commented on #514
I want to set a value for command different on win and other platforms.

[2021-02-07 08:13] sagiegurari commented on #514
so you should define the env on the task level maybe or on global env block with a mapping.

[2021-02-09 14:26] d4h0 opened #515 "Environment variable not set from a dependency of a task that sets `watch` to true (plus, the dependency is executed twice)"
### Describe The Bug

Hi,

It seems, there is a problem when setting environment variables from a dependency of a task that sets `watch` to true.

### To Reproduce

1) create a new Rust project via `cargo init xy`
2) put the following content in the Makefile.toml:

[code]
3) run cargo make dev-flow

4) execute `touch src/main.rs`

### Error Stack

No error, but as you can see, the env variable `CL

[2021-02-09 19:18] sagiegurari commented on #515
thanks for reporting. I'll check it out :)

[2021-02-10 09:07] d4h0 commented on #515
Okay, thank you

Btw., is there an easier / a different way to run a dependency of a task that has activated `watch` only after the first run?

[2021-02-10 15:52] sagiegurari commented on #515
feel like you are looking for something like this:

[code]

which will every iteration run clear and run.

[2021-02-10 20:57] d4h0 commented on #515
No, I don't think this would do what I intend.

What I'd like to accomplish is this:

1) start a dev server, which prints the address it's listening to

2) start cargo watch and compile my project

3) Don't clear the terminal at this point, so I can see the address of the dev server

4) if I make a change, the terminal is cleared and cargo run is executed (via cargo watch)

If I add `postpone: tru

[2021-02-11 06:25] sagiegurari commented on #515
thanks for the detailed flow, that helps. so how about this?

[code]

[2021-02-11 18:09] d4h0 commented on #515
Thanks, @sagiegurari!

Unfortunately, this doesn't work... :)

(the terminal isn't cleared at all)

If you run my flow from the initial comment, can you reproduce what I describe?

I think, there might be a bug (or even several). If you look at my code and the output it produces, it should be clearer what I'm talking about.

I assume, that `cargo watch` is executed in a different context, and that

[2021-02-11 18:49] sagiegurari commented on #515
oh, didn't think about it. let me check it out and see if i can help resolve this.

[2021-02-12 11:27] d4h0 commented on #515
Thank you for your help :)

[2021-02-13 14:08] sagiegurari commented on #515
haven't tried it, but i think something like this should work.
basically since we can't pass env vars from child to parent process (thanks for reminding me that watch forks it), i'm using a file as a marker.

[code]

its a workaround for this limitation, but couldn't think of a good simple way of communicating env changes from child to parent which is covering all cases.

[2021-02-14 18:28] d4h0 commented on #515
Thank you, this works!

So if this isn't fixable, I think, a short note within the 'watch' option docs (that warns about this, and mentions this workaround) would be good.

Thanks again!

[2021-02-14 18:58] sagiegurari commented on #515
good idea!

[2021-02-18 12:48] d4h0 commented on #515
I just realized, `cargo watch` actually has a `--clear` option – but it seems, `cargo make` doesn't support this option.

Is there a reason why `cargo make` doesn't support all `cargo watch` options?

Also, I'm wondering what the benefit of using `cargo make`s `cargo watch` binding vs. using `cargo watch` directly in a task is. Is there any disadvantage with the latter?

[2021-02-18 14:41] sagiegurari commented on #515
* i am not sure if that option existed when i wrote the integration
* you can do both. but having a task and just adding watch=true makes it simpler usually. but you can do both. you can also call raw cargo watch from cargo make but thats even more verbose.

[2021-02-18 19:31] d4h0 commented on #515
That makes sense, thanks!

I think, I'll give using cargo watch directly a try. That should be less verbose than the workaround (if I'm not missing anything).

[2021-02-21 16:23] umaYnit opened #516 "Maybe should replace the `cargo-script` with `rust-script`"
I tried to use  `cargo-script`  to write a build script, and My project was cross-compiled, so I tried to set a separate environment variable for `cargo-script`, but it still didn’t work. My script like this.
[code]
I checked the project and found this description:

And the issue  pointed out that the project is not very actived, rust-script is a maintained fork of cargo-script.
DanielKeep/cargo-s

[2021-02-21 16:49] sagiegurari commented on #516
ya, i know of that. i also enable cargo play as an alternative.
if we are to replace to the fork, need to make sure its backwards compatible.
if it is, I'll do it, or a PR :)

[2021-02-22 09:00] umaYnit commented on #516
I tried it, and there is basically no problem.
But because it supports "no main" mode, the [judgment](https://github.com/fornwall/rust-script/blob/master/src/manifest.rs#L47) is simple now, so there may be problem if write like the following:
[code]

[2021-02-22 09:01] umaYnit commented on #516
And it not a cargo subcommand

[2021-02-23 14:01] JeanMertz opened #518 "Error on workspaces with spaces in path"
I have been unable to figure out where this happens, but when using a workspace project with a space in the root path, `cargo make` fails to run:

[code]

If I run with `--no-workspace`, it works as expected.

[2021-02-23 14:35] sagiegurari commented on #518
oh i think i know what the issue is.... i'll probably have to fix it in run_script
https://github.com/sagiegurari/run_script/blob/master/src/runner.rs#L90
probably add " before and after.

[2021-02-23 15:02] sagiegurari commented on #518
should be fine now. just reinstall cargo-make and tell me if its solve please.

[2021-02-23 15:29] umaYnit opened #519 "Duckscript call other task not run dependencies."
[code]
When run `cargo make A`, Expect to execute  task `C` before `B`

[2021-02-23 16:51] sagiegurari commented on #519
thanks for reporting. i'll check it out.

[2021-02-28 12:55] sagiegurari commented on #516
if its not a cargo subcommand it can still be used easily but will require a bit more code changes.

[2021-02-28 12:55] sagiegurari commented on #518
@JeanMertz can you please verify on your end?

[2021-02-28 12:56] #515 closed

[2021-03-02 06:48] sagiegurari commented on #513
@umaYnit is this still an issue? trying to figure out if we have something actionable here to do

[2021-03-02 07:01] umaYnit opened #520 "How can I modify the environment variables which built from other env variables?"
This is My makefile.toml:
[code]

[2021-03-02 07:03] sagiegurari commented on #519
@umaYnit this is now fixed in the 0.32.13 dev branch.
can you please confirm it's fixed for you?

[2021-03-02 07:05] sagiegurari commented on #514
@umaYnit hi, is this still an issue?

[2021-03-02 07:14] umaYnit commented on #514
The question here is answered from your suggestion, like this:
[code]
But I always have problems with environment variables (such as #520 ), Maybe it’s  I’m not clear about the principles and best practices here.

[2021-03-02 07:16] umaYnit commented on #519
I will test it right away

[2021-03-02 07:22] sagiegurari commented on #520
not sure what is the question here, your makefile seems to work well:

[code]

[2021-03-02 07:26] umaYnit commented on #520
I expect that when the variable `MODE` is debug, the variable `KERNEL_ELF` can be `"target/debug/kernel.bin"`

[2021-03-02 07:54] umaYnit commented on #519
Yeah, It's pretty good.
[code]

[2021-03-02 07:54] #519 closed

[2021-03-02 08:24] umaYnit commented on #513
I got an error from this file:
[code]
If delete the commented line `# get_env PREFIX`, an error will occured.
[code]

[2021-03-02 08:36] sagiegurari commented on #519
great thanks for confirming.

[2021-03-02 08:36] sagiegurari commented on #513
i'll check it thanks

[2021-03-05 08:54] sagiegurari commented on #520
@umaYnit this should now be resolved in dev branch 0.32.13

[2021-03-05 08:55] sagiegurari commented on #514
#520 is solved in the dev branch, so just worth to validate.

[2021-03-05 09:18] umaYnit commented on #520
Yes, it's ok, I can test code conveniently and happily again. thanks~ :laughing:

[2021-03-05 09:18] #520 closed

[2021-03-05 11:26] sagiegurari commented on #513
@umaYnit ok you seem to have found a big bug in the duckscript flow control commands.
its similar to sagiegurari/duckscript#110 but the fix i did there was for functions and only partial for flow control and seems partial wasn't good enough. so its amazing you found it.

you can now reinstall cargo make (doesn't matter what version) and you should have the fix.

[2021-03-05 14:07] sagiegurari commented on #516
rust-script is now supported. its not the default runner (just to make sure i do'nt break other projects for now)
so to enable it you need to add in the env:
[code]

its currently in the 0.32.13 dev branch.

[2021-03-05 14:28] sagiegurari commented on #516
@umaYnit seems cargo-script is really broken so will make rust-script default after all

[2021-03-05 15:41] sagiegurari commented on #518
Fix is released in 0.32.13 version

[2021-03-05 15:41] #518 closed

[2021-03-05 15:42] sagiegurari commented on #516
@umaYnit since cargo-script was so broken lately, i decided to also release a new cargo make version already.
feel free to check it out and reopen/open issues. your feedback and PRs were great!

[2021-03-05 15:42] #516 closed

[2021-03-05 15:42] sagiegurari commented on #514
Fix for 520 was released

[2021-03-05 15:42] #514 closed

[2021-03-05 15:43] sagiegurari commented on #513
@umaYnit closing this one as a fix is already available and released. if you see more issues or if its not fixed just open/reopen. thanks

[2021-03-05 15:43] #513 closed

[2021-03-06 01:15] x37v opened #523 "env override and makefile extending"
I'm using `cargo make 0.32.13`

I have 2 Makefile.toml files

The first one defines
[code]

And the 2nd one extends the first
[code]

when I run `cargo make echo`in the directory with the extended makefile, I see:
`PACKAGE_INSTALL_DIR: ${PACKAGE_NAME}/externals/`

if I remove the `[env]` section from extended makefile I see:
`PACKAGE_INSTALL_DIR: foo/externals/`

If i keep it removed and run `PACK

[2021-03-06 07:28] sagiegurari commented on #523
feels like a bug. i will check it out.
thanks for notifying me :)

[2021-03-06 14:38] sagiegurari commented on #523
@x37v this is now fixed in the 0.32.14 dev branch
thanks a lot for reporting. please tell me if it solves your issues.

[2021-03-06 18:29] x37v commented on #523
@sagiegurari that did it! thanks so much!

[2021-03-06 18:30] #523 closed

[2021-03-08 10:28] umaYnit commented on #516
Execute compilation for the current project in rust-script, and the compiled product will be generated in the cache directory of rust-script, not the current project dir. test case:
[code]

[2021-03-08 10:42] sagiegurari commented on #516
is that an issue?

[2021-03-08 10:42] sagiegurari commented on #516
i think cargo script did the same

[2021-03-08 10:43] umaYnit commented on #516
cargo script not, will generated in project dir.

[2021-03-08 21:37] sagiegurari commented on #516
strange. i always deleted some binary dir that cargo script created in the .cargo folder if i'm not wrong.
anyway, if this is configurable, i can pass it as part of the cli args.

[2021-03-09 01:49] umaYnit commented on #516
I don’t see the relevant parameters in rust-script, maybe I should open an issue in rust-script.

[2021-03-12 15:54] JeanMertz commented on #518
Thanks for the fix @sagiegurari 👍

[2021-03-16 15:58] ndarilek opened #532 "Possible to install multiple crates in a task?"
Sorry, not sure if this is a feature request or is already supported. I want my web building task to install two crates. Is this possible? I tried a space-separated string, as well as a list of strings. Not sure if there's an existing syntax for this, or if it just isn't supported.

Thanks.

[2021-03-16 18:11] sagiegurari commented on #532
i actually have a section on how to do that

https://github.com/sagiegurari/cargo-make#usage-installing-dependencies-multiple

tell me if that helps or it needs improvement

[2021-03-16 18:32] ndarilek commented on #532
Wow, totally missed that. Apologies.

I'm trying to install trunk and wasm-bindgen-cli for a build task. I have:

[code]

But running `cargo make install-trunk` gives:

[cargo-make] ERROR - Missing cargo command to invoke.

I've tried adding `command = "trunk"` and a couple other permutations, but none works. I basically just want to run `cargo install trunk` then `trunk ...` directly (I.e. not `c

[2021-03-16 20:00] sagiegurari commented on #532
see crate installation section

https://github.com/sagiegurari/cargo-make#usage-installing-crates

it has an example to do that

[2021-03-16 20:09] ndarilek commented on #532
OK, got it figured out. I guess it isn't very clear when I can use
`install_crate = "trunk"` vs. the longer form. Given a choice, I'd
prefer the simpler syntax, and assumed it'd check for the crate's
presence for me.

Thanks.

[2021-03-16 20:09] #532 closed

[2021-03-16 20:10] sagiegurari commented on #532
its one of those features that started one way and than expanded and made me wish i could do some backward break :)

anyway, i hope this solves it for you

[2021-03-26 10:25] MartinKavik commented on #442
I've just found a tool that maybe would help with it: https://crates.io/crates/cargo-quickinstall (I haven't tried it yet)

Or we can draw an inspiration from it and create a super simple installation crate - e.g. `cargo-make-installer`. Users would install `cargo-make` with a cross-platform one-liner like `cargo install cargo-make-installer && cargo-make-installer`. Or just `cargo install cargo-m

[2021-03-26 10:42] MartinKavik opened #533 "Broken makers output formatting in terminal (Windows)"
### Describe The Bug
Broken `makers` output formatting in terminal. Probably only on Windows (git bash, ps, cmd)

![image](https://user-images.githubusercontent.com/18517402/112619073-2628aa00-8e27-11eb-9d40-a4061e521c97.png)

### To Reproduce
Run `makers` on Windows.

### How to resolve it

We were debugging it in [Trunk](https://trunkrs.dev/) and [this code](https://github.com/thedodd/trunk/blob

[2021-03-26 11:34] MartinKavik opened #534 "Allow arguments with a dash"
### Feature Description
Allow arguments with a dash: `cargo make task_name -arg`

### Describe The Solution You'd Like
Currently I have to run `cargo make task_name non_dash_arg -- -arg`.
I would like to run: `cargo make task_name non_dash_arg  -arg`, where `-arg` is available to the task in `${@}`.

### Code Sample

[code]
or

[code]

Would be callable as:
[code]

P.S. It looks like `${@}` doesn'

[2021-03-27 12:37] sagiegurari commented on #442
@MartinKavik thanks for the idea. i was actually reading about it few days ago and found it interesting.
i actually thought about using it to increase installation speed of crates by cargo-make (right now i use cargo install or rustup, why not also support that if its fast and maintained), but using it to also install cargo-make faster wasn't on my mind and its a good idea.

at the moment, i'm not

[2021-03-27 12:39] sagiegurari commented on #533
@MartinKavik  thanks a lot for reporting this.
i just tried on linux and both work ok and i don't have a windows box to try this on :(
its so strange that only makers fails on windows.
if you have the ability to help here and maybe provide a PR with a fix that would be amazing, otherwise i'll probably be blocked on this one.

[2021-03-27 12:48] sagiegurari commented on #534
@MartinKavik thanks. I think the -- thing is a limitation i'm getting from cargo/clap. my code is executed after.

as for duckscript ${@} support, so actually ${@} is not supported in script blocks at all. not just duckscript.
its supported by the args only.
if you want all args in the duckscript context, there are 2 ways:
1. use the 1,2,3,... variables for example ```echo ${1} ${2}```
2. use the

[2021-03-29 19:46] MartinKavik commented on #442
I've created the [issue](https://github.com/alsuren/cargo-quickinstall/issues/13) in `cargo-quickinstall` repo with an idea and to get some info.

When I try to use it - `cargo quickinstall cargo-make`, it returns:
[code]
So it seems to be at least safe to use already thanks to the fallback to standard `cargo install` even so the build pipeline probably run only once a day now and perhaps doesn't

[2021-03-29 20:07] alsuren commented on #442
The build pipeline builds a single package per hour. Most of the time, there's only one or two packages in the build queue, so it should be built soon. I've not been paying attention to quickinstall recently, so it looks like I've got some broken packages floating around in my build queue (I should really automate the process of cleaning those up).

If anyone can think of a design for triggering a

[2021-03-29 22:13] #534 closed

[2021-03-29 22:14] sagiegurari commented on #534
released :)

[2021-03-29 22:14] sagiegurari commented on #533
this is now released.

[2021-03-29 22:14] #533 closed

[2021-03-30 13:25] sagiegurari commented on #486
@Kreyren i just published a new repo: https://github.com/sagiegurari/cargo-make-tasks/
which will hold makefiles for different langs/envs and can be used to pull these tasks by any project (see usage in that repo).

for now i just created 1 makefile (cmake) for my cmake based c projects, but its worth checking what i did there to see if it can maybe give you ideas for your usecase.

[2021-03-31 01:10] Kreyren commented on #486
I like the idea and i will for sure it it for a reference, but i think it should be part of this repo e.g. using `examples` and this issue rather wanted to replace cargo-make with cmake (i want to avoid using voodoo lang to write C++)

[2021-03-31 09:31] orenbenkiki opened #538 "Selectively skipping task"
### Feature Description

Allow `cargo make some-goal --skip some-task` to skip a specific named `some-task` while building `some-goal`. Allow `--skip` to be repeated.

Ideally, `--skip` would accept a pattern rather than an exact name. For simplicity, specifying it takes a substring of the skipped task would be sufficient (similar to how `cargo test` works).

This is a natural extension of `--skip

[2021-03-31 09:50] sagiegurari commented on #538
why not add condition for rsut stable + beta for that specific task instead?
i use conditions a lot in the default makefiles.

[2021-03-31 10:20] orenbenkiki commented on #538
Because "it depends". When I'm running on a nightly toolchain on my local machine, I do want to have the `rustfmt` tasks, especially when I do the full CI build before pushing a new version. On the other hand, in the CI build itself, I don't want it to use `rustfmt` as it is not necessarily available in the bleeding-edge nightly, and I know that the stable build (which happens in parallel) will de

[2021-03-31 11:15] sagiegurari commented on #538
i'll ask few more questions about conditions, but i am not sure it doesn't solve the general issue and i'll use your rustfmt example.
what about something like this:

[code]

this is kinda of doing an OR between conditions (currently condition is AND for all) so this is a wrapper above that.
it would save you from typing stuff like --skip xyz when invoking things.

another way to make a simple con

[2021-03-31 12:04] orenbenkiki commented on #538
I understand the alternatives but they suffer from a common downside, the all require modification of the flow *in advance*, or at minimum duplicate an existing task just to add a condition to it. If one is using canned flows (e.g. from cargo make itself), then this isn't convenient and also will prevent the modified (duplicated) task from benefiting from future bug fixes or improvements in the or

[2021-03-31 12:19] sagiegurari commented on #538
you can redefine the task in your makefile and just add the condition. the rest will be taken from the core makefile.

[code]

so in this case, if mytask is defined in a core makefile (or any extended makefile), the rest of the attributes are taken from there, and only the condition is added on top.

got it. i'll check it out later this week and think about it.

[2021-03-31 12:34] orenbenkiki commented on #538
Good to know about being able to add a condition in this way - that provides a workaround, though IMVHO being able to simply `--skip` would be preferable.

[2021-04-01 23:18] sagiegurari opened #539 "Replace bintray"
* use travis to run arm build and generate artifacts
* update github release with arm artifact
* remove bintray badge, flow tasks and docs

[2021-04-02 14:06] sagiegurari commented on #538
@orenbenkiki this is now available in the 0.32.16 dev branch. tell me if it works well for you.

[2021-04-02 14:28] sagiegurari commented on #539
travis is now paid service, might go with drone, but as a separate issue.

[2021-04-02 15:12] orenbenkiki commented on #538
Wow, that was fast.

Yes, this seems to work well. I note that one can't repeat `--skip pattern1 --skip pattern2` and instead one has to specify `--skip 'pattern1|pattern2'`. That might be worth a note in the help message, or maybe just change the `value_name` to `SKIP_TASK_PATTERN|PATTERN|...` as a hint in this direction.

Thanks!

[2021-04-03 09:22] sagiegurari commented on #538
ya, will add a bit more to the cli doc.

[2021-04-03 10:18] #539 closed

[2021-04-03 10:19] sagiegurari opened #541 "Add arm linux binary to releases"
Github actions do not support arm, so might go with drone build just for releases.

[2021-04-03 10:35] sagiegurari commented on #538
released :)

[2021-04-03 10:35] #538 closed

[2021-04-05 21:05] jayvdb opened #542 "glob paths to ignore files using .gitignore"
### Feature Description
glob paths set using `env` should not include files which are excluded by `.gitignore`.

c.f. https://github.com/rust-lang/cargo/issues/2063

### Describe The Solution You'd Like
Files excluded via `.gitignore` are excluded by default from `env` globs.

Or env globs have `include`/`exclude` overrides and docs highlight that 'hidden' files may be included unless `exclude` is

[2021-04-05 21:08] sagiegurari commented on #542
can you explain your use case and provide a makefile example of what you are doing that requires this?
in many tasks i actually work on files that are in the ignore (meaning files in the target folder), so i'm trying to understand better.

[2021-04-05 21:54] jayvdb commented on #542
My use case atm is selecting files to be linted, specifically Python and QML files.

[2021-04-06 00:53] jayvdb opened #543 "env entries using script ignore runner and use platform specific runner"
### Describe The Bug
I would like to use duckscript to populate env variables.  I was surprised that `script_runner="duckscript"` and `#!@duckscript` do not appear to work.

If I read `evaluate_env_value` correctly, and `EnvValueScript` lacking more fields, no runner is selected, and `shell_to_batch` is not used, in which case https://crates.io/crates/run-script will invoke that value of `script`

[2021-04-06 04:09] sagiegurari commented on #542
can you show an example task toml? so I'll understand how you trigger that? because i'm trying to understand how you pull the files to lint in the first place.

in rust for example, these tools are project aware and you don't need to pass anything

[2021-04-06 10:37] ndarilek opened #544 "Support `version` in `install_crate`"
### Feature Description

Support specifying an exact version when installing a crate.

### Describe The Solution You'd Like

I'm trying to build a wasm app. I need an exact match between wasm-bindgen and wasm-bindgen-cli, and unfortunately a dependency requires the use of 0.2.69. `cargo install wasm-bindgen-cli --version 0.2.69` works, but it'd be nice to encode the version requirement in my Makef

[2021-04-06 12:09] sagiegurari commented on #544
makes sense. I'll check it out.
thanks for the idea.

[2021-04-07 23:10] cortopy commented on #483
I'm trying to have several microservices in a workspace running at the same time with a `cargo run` for each.

I've tried the following:

[code]

But this causes each task to run twice for each service. All servers crash because the address and port has already been taken by the previous run in each

@sagiegurari what is the workaround you've mentioned?

[2021-04-09 06:38] sagiegurari commented on #542
@jayvdb can you please provide some example of how you see the usage?

[2021-04-09 06:39] sagiegurari commented on #542
@jayvdb can you provide an example of how the usage would be?
how would you use it in a task? how would you see it defined?

[2021-04-09 06:42] sagiegurari commented on #483
you should not run dev-service1, instead you should run a flow of 2 tasks
1. kill previous run
2. start a new run via cargo run
its not that related to cargo-make, more like how you would logically define the action you want to take when a code change happens. so in this case -> kill old && start new

[2021-04-09 06:44] sagiegurari commented on #543
scripts inside env vars is the only place i support basic scripting only and due to limitations i'm not going to change that in the near future.
thats why you have [env_scripts](https://github.com/sagiegurari/cargo-make#usage-env-setup-scripts) which you can define many of these scripts. each script can define any env vars you want based on your custom logic.

[2021-04-09 08:32] jayvdb commented on #543
I would like to understand what limitations are driving your decision...?

It seems reasonable that any location where `script` exists, `script_runner` and hashbangs should also allow selecting the script runner.  I'm still a novice at rust, but from what I've seen this doesnt appear hard to implement in this spot so that there is consistency throughout. I'd be willing to have a crack at it if the

[2021-04-09 08:36] jayvdb commented on #542
We are not trying to use this for rust tools. It is other languages, and tools, that we need to do processing of in steps intermingled with the rust build process, as the rust code depends on them.

[2021-04-09 08:42] sagiegurari commented on #544
@ndarilek i just pushed a support for this in the 0.32.17 dev branch. can you verify it please?

[2021-04-09 09:39] sagiegurari commented on #543
all places that invoke a script, do not care for the output, only if it exits with error or not.
these scripts however are different, as the output is the content of the env var.
so other runners do not support it at the moment and would be non trivial to implement and messy. would also complex the codebase for little gain. because there is the env setup scripts for more advanced capabilities.

[2021-04-09 09:41] sagiegurari commented on #542
@jayvdb i got that point already when you said linting py files.
what i'm asking is how you expect it to look like as a user? how will you actually use it.

the solution you requested is:

but there is no env globals in cargo-make so your solution is not clear for me.
give me an example of a task definition that meets your needs so i'll have better understanding.

[2021-04-09 09:54] cortopy commented on #483
But I thought the watch option already killed previous task https://github.com/sagiegurari/cargo-make#watch? I'm a bit confused

[2021-04-09 09:59] sagiegurari commented on #483
no. i don't think i wrote such a comment in the documentation either.
the watch flag on a task is very simple. something changes -> task is called.
a simple example would be, you change a file -> cargo build is called.
for server like processes, i think you need to model it based on that.

[2021-04-09 10:47] jayvdb commented on #543
Ok, can we document this prominently?

[2021-04-09 10:50] jayvdb commented on #542
sorry `env globs` should be read as just `globs (anywhere the globbing code currently is in effect)` - not "globals".

[2021-04-09 12:18] ndarilek commented on #544
Works here. Thanks!

[2021-04-09 13:10] sagiegurari commented on #543
sure

[2021-04-09 13:17] ndarilek opened #546 "Variable isn't being set, and docs are unclear"
### Describe The Bug

This is probably a misunderstanding on my part, but neither cargo-make or duckscript's docs helped here. I'm trying to use cargo-make to package my software for end users, and am building out platform-specific tasks to copy release artifacts into directories for zipping. I'm trying to set up a standard directory and add that to the environment, but unfortunately the variable

[2021-04-09 13:20] sagiegurari commented on #546
set is used to set a local variable. what you are looking for is [set_env](https://github.com/sagiegurari/duckscript/blob/master/docs/sdk.md#std__env__SetVar)

so its basically:

[code]

by default cargo-make loads all env vars also as local duckscript vars so its easy to access them, instead of doing get_env for each one.

[2021-04-09 13:25] ndarilek commented on #546
Thanks for the confirmation, figured that was the difference between set
and set_env, and that the environment variable may not be ready.

What I'm saying is that my output is:

[cargo-make] INFO - Running Task: release-pre
rampage
windows
x86_64
dist_dir =

Clearly I'm setting dist_dir wrong but I don't know how I'm messing it up.

[2021-04-09 14:24] sagiegurari commented on #546
right sorry missed the wrong set usage.
in duckscript, the set returns the value so you need to do:

[code]

[2021-04-09 15:05] ndarilek commented on #546
Perfect, thanks for the quick help!

[2021-04-09 15:05] #546 closed

[2021-04-09 16:27] sagiegurari commented on #542
again there is no glob handling in cargo-make at the moment and i didn't get any feedback fromyou on how you see a solution.
so for now, if you reinstall cargo-make you will have a new duckscript command [gitignore_path_array](https://github.com/sagiegurari/duckscript/blob/master/docs/sdk.md#std__fs__GitIgnorePathArray) which will return an array of paths (its based on the ignore crate used by car

[2021-04-10 16:13] sagiegurari commented on #542
@jayvdb i'm thinking of an internal cargo make way to defining env vars with globs and respecting gitignore.
something like

[code]

Might take me a bit, but once done, you will have the ability to run commands on sets of files without any scripting.

[2021-04-10 16:24] jayvdb commented on #542
Thanks for `gitignore_path_array`. That is a great help.

The proposed builtin support for globbing looks great, however I dont understand the `@@split` - I guess that is invoking duckscript `split` ?

I guess then we should also have the separator be supplied with the glob `MY_C_FILES = { glob = "./src/**/*.c", separator = ";" ... }`.

IMO the separator default for multi-entry env vars should be

[2021-04-10 16:28] sagiegurari commented on #542
no the split is not related to duckscript.
there are built in functions in cargo-make that enable you to manipulate the command arguments dynamically.
see: https://github.com/sagiegurari/cargo-make#usage-functions-split

list env vars in cargo-make use the ';' separator, and than with the split by it, you will get many arguments (one per path) to the command.

[2021-04-10 21:45] sagiegurari commented on #542
@jayvdb this is now available in the dev branch 0.32.17 can you please verify it works well for your needs?
Simple example:

[code]

[2021-04-15 07:08] sagiegurari commented on #544
this is no officially released

[2021-04-15 07:08] #544 closed

[2021-04-15 07:08] sagiegurari commented on #542
this is no officially released

[2021-04-15 07:08] #542 closed

[2021-04-15 07:44] sagiegurari commented on #486
@Kreyren see #542
you can now define env vars via glob paths (with optional gitignore support) which i think is another important tool for this track

[2021-04-15 09:27] Ragarnoy opened #550 "Disabling default cargo make tasks when there are no toml files that it can run?"
I keep running into an annoying issue, people who try building my project will accidentally run `cargo make` when they're not in the folder where my Makefile.toml is, which causes cargo make to try to build the project incorrectly with its default task and run rustfmt on all my files.
Is this preventable somehow ?

[2021-04-15 09:52] sagiegurari commented on #550
there is machine level config to make it search up for project root but won't help you i think.

can you explain better what project it is, and from where they are running it from?

[2021-04-15 09:57] Kreyren commented on #486
I am confused what is this doing, is this using a python file to define environment variables?

FWIW i dont want to make software that during a runtime reads a lot of env vars as that would be unsafe, but i like the idea of using these during a build.

Maybe this could be implemented so that it expects a standardized file whoch sets a lots of variables e.g. how linux is configured ?

[2021-04-15 10:24] sagiegurari commented on #486
no, its an example on creating env vars with glob path

[2021-04-15 10:43] Ragarnoy commented on #550
On my project ( https://github.com/abassibe/Gomoku ), if the default configuration is ran, it will not run my Makefile.toml (that clears the default task https://github.com/abassibe/Gomoku/blob/0a79de7433c843da254f60e2153a448d3f9fd28b/Makefile.toml#L6 and checks for requirements)

It will run the default one instead despite me clearing it, which reformats the whole codebase and leads the user to t

[2021-04-16 11:34] sagiegurari commented on #550
i didn't fully understand that project. the makefile is not in the mater, but on some commit?

anyway, if there is a directory that you want to disable default invocation, you could create a makefile like this

[code]

reason is that cargo-make runs without any file is because it comes bulit in with lots of tasks and the whole point is that its usable by projects without writing any makefile or do

[2021-04-19 13:10] Ragarnoy commented on #550
It's on the `feature/flexbile_build` branch ( https://github.com/abassibe/Gomoku/blob/feature/flexible_build/Makefile.toml )

Isn't calling rustfmt every time a bit extreme though ?
I didn't know about the skip core task variable, i'll try it out next time I'm working on this branch. I'll let you know how it goes.

[2021-04-19 14:44] sagiegurari commented on #550
for me personally its important to make sure its formatted well always.
the perf of the formatter is awesome so i don't feel it as a bottleneck. the build is much worse :)

also you can configure the default task to do whatever you want and you can disable it.
default tasks are there to give a nice quick headstart for your project, but they are not mandatory.

[2021-04-25 03:59] pheki opened #551 "Random name generated for @rust tasks results in non_snake_case warning"
### Describe The Bug

When any @rust script is run (at least with `rust-script`), a `.rs` file name is generated with mixed case letters. This name is then used by `rust-script` for the crate name, which makes cargo emit a non_snake_case warning.

`Makefile.toml` used:

[code]

Output (with path slightly changed):

[code]

### To Reproduce
Create the Makefile.toml above and run `cargo make rust-sc

[2021-04-25 05:56] sagiegurari commented on #551
@pheki agree its annoying.
why not fix it in the source? meaning in [rust-script](https://github.com/fornwall/rust-script) instead of a workaround in cargo-make?

[2021-04-25 23:59] pheki commented on #551
I've opened an issue in rust-script to gather their opinion on the matter

[2021-04-26 07:42] pheki commented on #551
I've sent a PR to fix their issue, so that the characters are now converted to lowercase. This will be fixed by updating `rust-script` whenever it is released (or installing from git).

Thanks!

[2021-04-26 07:42] #551 closed

[2021-04-26 10:52] sagiegurari commented on #551
thanks :)

[2021-04-28 09:58] elonca opened #552 "coverage-flow raise errors for binary projects with strict CLI arguments handling"
Hi,

First, thank you for developing such a good tool!

### Describe The Bug

I got an issue with the coverage-flow task for projects producing binaries for which unknown CLI arguments raise errors.
During the coverage-flow task, an error appears just like if the binary was invoked with wrong arguments.

### To Reproduce

Cargo.toml:

[code]

main.rs:

[code]

First, execute `cargo make` (no issue

[2021-04-28 20:35] sagiegurari commented on #552
@elonca thanks a lot for the feedback.
i'll try to explain what you are seeing (i hope) and why so we can understand if there is an issue and if there is, how to resolve it.

for coverage, by default, i use kcov.
i loop over executables and run kcov on them.
for each executable a report is generated and if you are in CI codecov will grab all of them and upload.

how do i know which executables to

[2021-04-28 20:37] sagiegurari commented on #551
@pheki i also validated it and it works great. thanks a lot for the help :)

[2021-04-29 04:42] pheki commented on #551
:) always glad to help!

[2021-04-29 09:50] elonca commented on #552
OK, I think I understand what's going on.

Correct me if I'm wrong:
 - one executable is produced for the actual program (just called "program" below), and some other executables are created for tests ("tests" below)
 - as it is difficult to differentiate the program from tests, kcov is run on all executables
 - since the actual coverage is built from the union of individual coverages, running kco

[2021-04-29 10:28] sagiegurari commented on #552
ya that area always had pitfalls which is why i created that regex env var which than anyone can modify for their specific project to bypass any limitation.
if your solution is better, you can try it out by implementing it in the kcov task script which is a shellscript basically that runs over the config then finds files and runs kcov on them.

i see you forked, and I can't wait to see your PR :)

[2021-04-29 10:41] ajeetdsouza opened #553 "[FR] A script_file key for running external scripts using path"
Hey, thanks for this incredible tool!

Currently, the `script` key uses a multi-line string for running external scripts, such as `@rust` or `@shell`. It would be nice if I could specify the path to the script instead. That way, I can make use of syntax highlighting, linting, IDE support etc, which is not available when writing in a TOML string.

[2021-04-29 10:45] sagiegurari commented on #553
thanks a lot.
you can do the following:

[code]

just fyi, for syntax, i use neovim with cargo-make plugin so i get syntax highlighting in these blocks as well :)

[2021-04-29 11:09] ajeetdsouza commented on #553
Oh, sorry - I missed that when going over the README. Thanks a lot!

I don't use Neovim, unfortunately, but a VS Code plugin for this would be great to have!

[2021-04-29 11:09] #553 closed

[2021-04-29 21:54] ark0f opened #556 "Profile override"
### Feature Description

Allow to override tasks depending on profile

### Describe The Solution You'd Like

### Code Sample
`Makefile.toml`:
[code]

Output with `--profile development` (or without this flag):
[code]

Output with `--profile production`:
[code]

[2021-04-30 15:22] sagiegurari commented on #556
thanks for the idea. i guess its based on the existing task override by OS.
I original wrote that override feature because i knew scripts/commands will probably be different in linux and windows, so that was a nice trick.
a bit after, i got requests to implement it by arch and specific linux distro and than i knew that the feature i originally wrote might be a mistake :)
however back at the time,

[2021-04-30 15:24] #550 closed

[2021-05-03 07:03] #552 closed

[2021-05-04 05:39] pheki opened #557 "CARGO_MAKE_CRATE_TARGET_DIRECTORY does not respect workspace"
### Describe The Bug
If a crate is in a workspace, CARGO_MAKE_CRATE_TARGET_DIRECTORY will still be in the current directory instead of the root of the workspace

### To Reproduce
- Create workspace directory and add project to it:
[code]
- Create virtual manifest for workspace, adding project to it
[code]
- Add Makefile to print CARGO_MAKE_CRATE_TARGET_DIRECTORY (remove the additional `\` before `

[2021-05-04 07:54] sagiegurari commented on #557
@pheki thanks a lot for the feedback :)

@ark0f worth to check suggestion from @pheki before pushing #554
i actually already trigger cargo metadata as part of the flow so we can use this info as suggeted.

[2021-05-04 09:43] ark0f commented on #557
Really good suggestion, already in PR

[2021-05-04 21:45] sagiegurari commented on #556
@ark0f does this provide a good solution for you, or you feel something more is needed?

[2021-05-04 21:54] pheki commented on #557
Fixed by #554 (thanks!)

[2021-05-04 21:54] #557 closed

[2021-05-05 12:58] ark0f commented on #556
These solutions are good, so I close the issue. Thank you

[2021-05-05 12:58] #556 closed

[2021-05-31 10:52] matu3ba opened #560 "missing conventions for (un)installation, interference from firejail/sandboxing on copying installation files"
### Describe The Bug

zellij uses cargo-make to build multiple crates and provides also release builds. However adding a path like `cargo make install PATH` can only set permissions 0700. This makes binaries usable, but they can not be overwritten.
Unfortunately `cargo make` is invoked by the restricted `cargo` process, so subprocesses can only write binaries as read-only for `cargo` (and later on

[2021-05-31 14:11] sagiegurari commented on #560
@matu3ba thanks for the issue, i'll try to help but i feel some things are related to zellij, no?

1. cargo make install <path> - this task is actually defined in zellij and not part of cargo-make
its defined here:
https://github.com/zellij-org/zellij/blob/9cbe4107403e94b3545257c7b13acd7fdd2cf04c/Makefile.toml#L72
basically its doing cp for files to some folder. the task can do chmod after the cp

[2021-05-31 17:20] matu3ba commented on #560
@sagiegurari No, see this [cargo profile inside firejail](memory-deny-write-execute) which is causing it. On disabling firejail with `firejail --noprofile cargo make install ~/.cargo/bin` the problem does not persist.

Yes, 1. is affected by this. I am not entirely sure how exactly. However the `cp` from zellij does not retain the same permissions: [here](https://github.com/zellij-org/zellij/blob/

[2021-05-31 18:37] sagiegurari commented on #560
wait, the cp doesn't copy the permissions? because of the cargo.profile?

the duckscript cp is using std::fs::copy which in the docs state that it copies permissions as well. strange

[2021-05-31 19:25] matu3ba commented on #560
yes. This is kinda intended behavior of `firejail`, but still has abit poor behavior. The original motivation was to contain cargo to make secrets not easily extractable with macros. For a proper solution also the rustc paths must be sandboxed.

However using cargo-make as standalone program works, since it does get called with a sandbox.

You can try it yourself with the commands I provided.

[2021-06-03 13:35] WilliamVenner opened #561 "`CARGO_MAKE_CURRENT_TASK_INITIAL_MAKEFILE_DIRECTORY` is canonicalized with the `\\?\` prefix"
### Describe The Bug
Unfortunately, something very annoying about Rust's `std::fs::canonicalize` is that on Windows, it prefixes `\\?\` to the path.

https://stackoverflow.com/a/21194605/7471684

Whilst this is all up to spec, and theoretically is correct, annoyingly A LOT of programs, commands, etc on Windows do not support this prefix. `robocopy`, `xcopy` are two culprits.

I'm sure there may be

[2021-06-03 13:53] sagiegurari commented on #561
ya, i know of that issue. i fixed it for cwd env var i setup.
this env var is minor so forgot about it, but I'll fix it as well. no need for extra crate, it's basically just removing that prefix, if i remember correctly

[2021-06-03 13:58] WilliamVenner commented on #561
I did try and tackle the issue; I found that https://github.com/sagiegurari/cargo-make/blob/e47e3e949b41d8f3839fe57e24f8dd0affa4ecac/src/lib/environment/mod.rs#L564 caused my path to fallback to a `.` somehow:

![image](https://user-images.githubusercontent.com/14863743/120656998-fed00800-c47b-11eb-866f-bb092cf72b13.png)

[2021-06-03 14:01] sagiegurari commented on #561
if you can help with this an provide a PR, that would be awesome. i personally don't have a windows machine.
so I'm usually doing guess work :)

[2021-06-03 14:08] WilliamVenner commented on #561
My working solution does make use of the dunce crate - for consistency I removed the unc prefix stripper and respective tests. It's a bit of a cowboy move but the dunce crate should guarantee the correct behaviour.

[2021-06-13 17:14] #561 closed

[2021-06-16 16:42] simlay opened #565 "Shell completions"
### Feature Description

Hi there! Love this project!

Been using this project for a while and the only thing I wish it had is shell completions. I have no idea how hard this feature would be to implement. I'm partially writing this task because it's not been written so others can see that it was at least talked about and maybe someone (or me) would do the work if you're interested in the PR(s).

[2021-06-16 20:01] sagiegurari commented on #565
awesome suggestion.
i already have a cli command to list all tasks that are found/relevant.
so i could use it to build the completion script.

I'll probably take a look on building this for bash, and let others use it as reference to build it to other shells (which I don't use)

the only thing I'm not sure about, is that i could probably make it work for the makers executable, but not cargo make (

[2021-06-16 20:04] sagiegurari commented on #565
by the way, if you want to take a shot at it and submit a PR, that would be even better. just tell me.
i can guide you if needed.

[2021-06-26 10:27] sagiegurari commented on #565
@simlay I've implemented a bash auto complete for makers in 0.34.1 branch.
you will have to install the new cargo-make for it (contains simplified output for list tasks command) + source the new file in the extra/shell folder.
it would take a bit to run it as it calls cargo make to pull all task names that are actually available for you to use.

any feedback and suggestions are welcome.

[2021-07-06 20:26] dbanty opened #566 "Typo in env var of default workflow"
### Describe The Bug
In the default Rust workflow, an environment variable is spelled incorrectly. It is defined as `CARGO_MAKE_TEST_USE_MUTLI_TEST_PHASES` (mutli instead of multi). Unfortunately fixing it is probably going to break some folks' workflows if they have that defined to use `test-custom` (like I do).

https://github.com/sagiegurari/cargo-make/blob/4e824ad95a105932fe20c7e2af702a4da8a14

[2021-07-07 09:12] sagiegurari commented on #566
oh man. i'll fix it but also define the old env var as well to default to the new var (if undefined) or to update the new var (if defined).
that way it won't break anyones stuff. but i'll have to think how to do it the best way....
thanks a lot for reporting it

[2021-07-07 09:13] sagiegurari commented on #565
@simlay did you have a chance to look at it?

[2021-07-09 08:56] sagiegurari commented on #566
@dbanty i've pushed a fix to the dev branch.
basically at the start, before running any task, it will run an env migration task with the logic i stated before.
it will warn if an old env was defined in the global env block.
it will not fix your env, if you defined it in the task level.

[2021-07-09 13:10] dbanty commented on #566
Great, thanks for the quick response!

[2021-07-10 08:18] sagiegurari commented on #566
released in official version

[2021-07-10 08:18] #566 closed

[2021-07-10 08:18] sagiegurari commented on #565
released in official version

[2021-07-10 08:18] #565 closed

[2021-07-14 21:00] x37v opened #570 "example cross complie"
### Feature Description

I'd like to compile for a variety of other platforms, on either osx or linux.

I see this in the enviroment variable documentation:
[code]

but I'm not sure where the `rust cfg feature` is... with cargo i can just specify `cargo build --target aarch64-apple-darwin` for instance, and it looks like I have full control over the `cargo build` arguments in `cargo-make` but I'm

[2021-07-15 07:24] jayvdb opened #571 "format-toml doesnt keep dependency taplo-cli consistent across machines"
### Describe The Bug
I had a old version of taplo-cli installed, and was encountering a different toml formatting locally vs CI, where the latest version is always being installed by `install_crate` because it is missing.

### To Reproduce
1. Manually install https://crates.io/crates/taplo-cli/0.1.0 and cargo-make
2. Run `cargo make format-toml` with a toml file that includes very long lines, e.g.

[2021-07-17 14:56] sagiegurari commented on #571
@jayvdb there is no such guarantee that same version is going to be installed on different machines by default.
by default i install the latest available version.
if you want a specific version, in your custom makefile.toml add the following:

[code]

naturally you can change to any version you want.
i don't want to have something like pinned versions in the cargo-make tomls since it will make me

[2021-07-17 15:01] sagiegurari commented on #570
i think you got those backwards :)
those env vars are to be read, not to be set by you. cargo-make sets them based on your rust setup.
if you want to target a different arch, you need to update the build task to include the needed args, or use a task that calls cross for example.

for example:

[code]

than you can call it like this:

[code]

[2021-07-17 16:45] x37v commented on #570
Okay, that makes sense. I have a number of settings that I base on environment variables to determine, for instance, a dylib suffix or replacement.. I guess I can just default based on the default os and architecture but then override if I want to cross compile.

Jul 17, 2021 8:06:43 AM Sagie Gur-Ari ***@***.***>:

[2021-07-19 14:17] #570 closed

[2021-07-23 17:58] cwfitzgerald opened #572 "shell2batch stops translation When `yarn` or `npm` is encountered"
### Describe The Bug

When using shell2batch, once a single `yarn` or `nom` is encountered, translation stops.

### To Reproduce

Place the following in any cargo project's README.toml with `yarn` or `npm` available locally:

[code]

[2021-07-23 20:16] sagiegurari commented on #572
I used your makefile as is and created the following package.json

[code]

yarn version: 1.22.10
I used gitpod to run the whole thing and it works good.

[code]

so i would first try to create a simple test case so i can reproduce the issue.

[2021-07-23 20:20] cwfitzgerald commented on #572
That's super weird that it doesn't repro. I'll throw together a full repo for you to test.

[2021-07-23 20:22] sagiegurari commented on #572
great thanks. that would really make things easier.
it is possible that its an issue with run_script that is known when some processes require the input stream. but... lets see once you have something.

[2021-07-24 20:20] sagiegurari commented on #571
@jayvdb did you check my solution?

[2021-07-25 03:01] jayvdb opened #573 "23 tests fail on stable-x86_64-apple-darwin - 1.53.0 (53cb7b09b 2021-06-17)"
### Describe The Bug
I am seeing the following errors running `cargo test` on latest stable and nightly:
-  condition::condition_test::validate_criteria_invalid_file_not_exists
-   condition::condition_test::validate_criteria_valid_file_exists
-  condition::condition_test::validate_file_exists_valid
-  condition::condition_test::validate_file_not_exists_invalid
-   condition::condition_test::valid

[2021-07-25 03:15] jayvdb commented on #573
If I run `cargo make test` or `cargo make ci-flow`, there are no errors, and it ends with

So I am guessing these tests are known to not pass under the default `cargo test`.  Perhaps they can be disabled so `cargo test` works.

[2021-07-25 03:23] jayvdb commented on #571
Yes, I can override the `install_crate` in order to have a predictable version.
That doesnt feel like an optimal solution, as then all projects using this task need to do this instead of it being done once here, and users are not given a clue that they need to do this.

This appears to be roughly the same problem as https://github.com/rust-lang/cargo/issues/6196 or https://github.com/rust-lang/car

[2021-07-25 05:02] sagiegurari commented on #573
you must use cargo make to run the test. some of them aee not thread safe and cargo make splits those so some run single threaded.

[2021-07-25 05:02] #573 closed

[2021-07-25 17:37] sagiegurari commented on #571
cargo make works very similar to a user.
user wants to run some command, its not there, they install it.
once its there, they run it.
next time, they just run it.

checking updates each time, would mean perf hit and also lots of instabilities (lets say bugs creep in).
if you want specific version, i give you this ability, but by default i would think most people would find it unexpected.

i get yo

[2021-07-26 03:39] jayvdb commented on #571
I've created two tasks to our `Makefile.toml` for keeping developers local deps updated, using https://crates.io/crates/cargo-update
[code]

Then we make `cargo-make-deps-update` a dep of the `format-toml` task.

[2021-07-26 11:32] sagiegurari commented on #571
nice. are you sure cargo make can update while running?

[2021-07-26 11:55] jayvdb commented on #571
I am sure it can *not*, but this seemed like an opportune spot to keep it updated, and hopefully avoid it being a source of confusion due to differences between developer machines.

Any chance cargo-make might add support for `cargo-update` similar to above.  Note that many deps can be added to the `cargo-update` args, and only those already installed will be updated by default, so you could use
`

[2021-07-26 13:46] sagiegurari commented on #571
cargoakr is extendable, so I'm not sure i want to add that task in.
however, you could create a makefile just for those type of tasks and load it in all your different projects as external dependency (see load scripts) which means it would atill be centralized for you, no matter what project you are working on.

[2021-07-26 13:56] #571 closed

[2021-08-06 01:20] cdmistman commented on #523
Not sure if this is a regression or what, but I'm experiencing a bug that seems similar when running `cargo-make 0.35.0`:
[code]

[2021-08-06 14:25] sagiegurari commented on #523
@cdmistman try the following:

[code]

The issue is that you are setting up global env vars based on other env vars that are defined a bit later.
for example CARGO_MAKE_CURRENT_TASK_INITIAL_MAKEFILE_DIRECTORY cannot be set globally by cargo-make as it is per task. you can have multiple tasks from different files and when you are in a context of a specific task only than its set.
so for task specif

[2021-08-06 14:36] cdmistman commented on #523
Gotcha, can the docs be fixed in that case? Under <https://github.com/sagiegurari/cargo-make#usage-env-vars-loading-order>, it's suggested that env vars such as `CARGO_MAKE_CURRENT_TASK_INITIAL_MAKEFILE_DIRECTORY` are loaded before the `[env]` table (2nd bullet point is `internal environment variables (see Global section)`, 5th bullet point is the global `[env]` table)

[2021-08-06 14:42] cdmistman commented on #523
Although I would have a preference for some of these variables to be set before visiting the `[env]` table to reduce the number of times I have to repeat defining that variable. In the above use-case I listed, I need to use `TARGET_FILE` for multiple rules, and using a variable like `CARGO_MAKE_CURRENT_TASK_INITIAL_MAKEFILE_DIRECTORY` in the `[env]` table for the directory of the containing makefi

[2021-08-06 14:45] sagiegurari commented on #523
you could create a task to define the env vars you need and have it as a dependency.
the vars set would last the entire process so you can access them in other tasks.

as for the docs, I'll clarify it more. thanks for the feedback.

[2021-08-06 14:46] cdmistman commented on #523
ah yes that makes sense! thank you! :)

[2021-08-09 23:16] feldim2425 opened #576 "Cargo won't find a custom json target when running with cargo-make"
### Describe The Bug

When a cargo build is executed in a sub directoy by cargo-make, and the project in that sub directory compiles for a custom target json specified in a .cargo/config.toml the compilation will fail due to the target not being installed.

### To Reproduce

The Makefile.toml is created in the project root folder ( ``project`` )
A Cargo project is created in a sub folder (``projec

[2021-08-10 08:56] sagiegurari commented on #576
@feldim2425 thanks for notifying me.
i tried to check it out with the info you gave and using gitpod. i changed things just a bit to make it work there (as little as possible).
and it seems to be working for me, here is full flow:

[code]

see full code at:
https://github.com/sagiegurari/misc-test/tree/cargo-make-nostd

[2021-08-10 10:01] feldim2425 commented on #576
As far as I can see the test code does not use a custom target json.
The issue seems to be specifically with custom targets.

They are described in the rust embedded book: https://docs.rust-embedded.org/embedonomicon/custom-target.html
But I followed this guide on OS development to create the target: https://os.phil-opp.com/minimal-rust-kernel/#target-specification

[2021-08-10 21:32] sagiegurari commented on #576
thanks for the explanation, but can you show me that you go to the subproject dir, run cargo build and that works fine?

[2021-08-10 21:39] sagiegurari commented on #576
@feldim2425 ok i found the issue you probably have.
you said you are using nightly but your script is not setup for that.
so i played with it a bit and i think this is better and would solve your issue:

[code]

you can see full working example at:
https://github.com/sagiegurari/misc-test/tree/cargo-make-nostd

[2021-08-15 05:43] sagiegurari commented on #576
@feldim2425 did it solve it for you?

[2021-08-16 15:15] sagiegurari commented on #576
cargo-make doesn't read that rust toolchain file. i would assume cargo would, but not in this case i guess.

[2021-08-16 15:15] #576 closed

[2021-08-20 16:32] LLouice opened #579 "Extend Attribute doesn't extend env?"
Currently,cargo-make(v0.35.0) run below Makefile.toml
[code]
 The task2 extends task1 but gives different result, task1 gives `foo`, task2 gives `${Foo}`.

  It's confusing and seems that task2 does not extend  `task1.env`.

  Is that the default behavior or a bug?

[2021-08-21 04:29] sagiegurari commented on #579
Thanks for reporting it. feels like a bug.

[2021-08-28 07:24] sagiegurari commented on #579
@LLouice sorry for the late handling, this should now be fixed in branch 0.35.1
Would love you to verify on your end that it resolves your issues.
thanks a lot for reporting this

[2021-08-29 05:29] tecandrew opened #580 "Fails to link x86_64-w64-mingw32-gcc on Windows 10"
### Describe The Bug
Fails to install the package on chocolately-installed rust package (cargo).

### To Reproduce
1. Install rust using `choco install rust -y`
2. Install `cargo-make` using

### Full Output

[code]

[2021-08-29 05:35] tecandrew commented on #580
looks like installing the x64 binary from the [official rust site](https://www.rust-lang.org/tools/install) fixes this.

[2021-08-29 05:35] #580 closed

[2021-08-29 09:31] LLouice commented on #579
great! I will try it some hours later and give feedback.thanks for your work!

[2021-08-29 14:39] LLouice commented on #579
This bug now be fixed in branch 0.35.1, close it.

[2021-08-29 14:39] #579 closed

[2021-08-29 17:48] sagiegurari commented on #579
thanks for checking and for the feedback

[2021-09-03 21:31] virtual-hexagon opened #581 "Cargo make fails when run from an windows UNC mounted network drive"
### What I am trying to do
The cargo make file I am trying to execute is simply a Hello World from the powershell task runner. My project is located on a network drive with the UNC path `\\?\UNC\ULCV\projs\murray\Code\mango`.  The UNC path is mapped to the system as `P:\murray\Code\mango`.  For compatibility with tools I often have to execute a ` pushd . ` command before spawning any command line

[2021-09-05 22:04] starkat99 opened #582 "Support optional env_files"
### Feature Description
Currently, it's an error if an `env_files` path doesn't exist. I'd like to be able to ignore that error when the file doesn't exist and continue as normal

### Describe The Solution You'd Like
Add an `optional` flag to `env_files` config that when true will ignore the file if the file doesn't exist.

### Code Sample

[code]

[2021-09-06 13:22] edmorley opened #583 "condition_script not failing if the script exits non-zero"
### Describe The Bug
The cargo-make docs describe using `condition_script` along with `condition` + `fail_message` to run a script and fail with an error message if it doesn't pass. However trying the example from the docs doesn't result in a failure, or the error message being printed, which seems like a bug.

Docs:
https://sagiegurari.github.io/cargo-make/#usage-conditions-script

### To Reprodu

[2021-09-06 13:26] edmorley commented on #583
Oh, using `--verbose`, I see:

[code]

So I guess:
(a) it is being run - just no output shown (which is counter-intuitive, given `fail_message` suggests there is a purpose to setting the message?)
(b) conditions are not mean to be fatal

Now (b) isn't a bug (just a design decision), however I wonder for (a) whether the message should always be shown even without `--verbose`, if someone has set a c

[2021-09-06 15:38] sagiegurari commented on #582
how about something like this (didn't test)?

[code]

[2021-09-06 15:46] sagiegurari commented on #583
there have been complaints every now and than that there is too much console output.
so i have moved this one by default to verbose.
however, there is a way to control it, just add the following:

[code]

I'll definitely need to update the docs with this one.

[2021-09-06 15:48] sagiegurari commented on #583
also, ya conditions are not fatal. if you exit 1 it means condition failed and task is skipped. it doesn't mean task failed.

[2021-09-06 15:50] edmorley opened #584 "Cargo make is slow when using workspaces"
### Describe The Bug
I would love to be able to use cargo make with projects making use of workspaces, to run commands per package (ie not use `workspace = false`), however it's currently too slow.

As such, I have to use `workspace = false` and instead have a workspace-wide task iterate through the packages myself, which means I can't take advantage of things like `CARGO_MAKE_BINARY_EXECUTABLE_NA

[2021-09-06 15:54] edmorley commented on #583
It does make sense that a conditional task wouldn't be fatal - not sure why I thought that.
Perhaps it was because the option is named `fail_message` rather than say `skip_message`?

I wonder if one way to make this clearer would be to change the example from:
[code]

...to:
[code]

[2021-09-07 13:15] edmorley opened #585 "Arguments to tasks can be interpreted as cargo make options"
### Describe The Bug
If hyphenated arguments are passed to a cargo make task, and those arguments happen to match a cargo make CLI option, then the arguments are consumed by cargo make rather than being passed to the task.

### To Reproduce
[code]

Then run `cargo make testcase abc -p foo/bar/ def`

### Expected result:
Cargo make runs with the default profile (`"development"`), and outputs the st

[2021-09-07 13:25] tamasfe commented on #489
Someone has submitted a schema (https://github.com/tamasfe/taplo/pull/164), so I believe this can be closed.

It seems to be hand-crafted, so I don't know how updates will be handled, nonetheless it should provide a better experience in IDEs than a generated one.

[2021-09-07 13:25] #489 closed

[2021-09-07 13:41] edmorley opened #586 "CARGO_MAKE_TASK_ARGS not set when using watch mode"
### Describe The Bug
If using `watch = true`, the invoked task does not have `CARGO_MAKE_TASK_ARGS` set, even if args were passed to the task.

### To Reproduce
[code]

Then run: `cargo make testcase abc`

### Expected
The string `"abc"` is echoed both initially after running cargo make, and then again every time a change is made that triggers cargo watch.

### Actual
The string `"abc"` is never o

[2021-09-08 05:38] sagiegurari commented on #585
i'm using clippy for cli arg handling. maybe you can investigate how to resolve it, but i think -- is kinda standard stuff in rust clis. not sure why

[2021-09-08 05:39] sagiegurari commented on #584
can you run it with '--time-summary'? it shows breaks downs where time is spent and might help understand it better.
the to parent process still needs to parse all toml files, and crate level processes might need more complext toml parsing, but it doesn't explain x15

[2021-09-08 06:40] edmorley commented on #584
Hi! Thank you for the reply :-)

Using `--time-summary` I get:

[code]

[code]

[2021-09-08 07:30] edmorley commented on #584
I generated a profile using [cargo-flamegraph](https://github.com/flamegraph-rs/flamegraph). It looks a bit sparse (perhaps due to flamegraph-rs/flamegraph/issues/113?) but may be better than nothing for now :-)

[code]
(Had to use `makers` since `cargo-make` panics saying not run via Cargo. However the slow performance is the same when invoking via makers so this is fine. Sudo is required for dtr

[2021-09-10 13:30] sagiegurari commented on #584
wow, this is really cool. never saw it before.
seems from it that the most time is taken from invoking the git command to pull in the git env/project info.
that doesn't make sense to me since this happens for each sub cargo make invocation as well so i would see it in the run_flow as well * the amount of members. but that one is actually smaller.

[2021-09-10 13:32] sagiegurari commented on #586
interesting, i'll check it out.

[2021-09-10 13:34] sagiegurari commented on #581
thanks, i don't have a windows machine for dev at the moment, but i can try to do code review based on your detailed output and see if i can find something.

[2021-09-10 13:41] edmorley commented on #584
I agree it's strange. I'm not quite sure how subprocess invocations of the same program are represented in the flamegraph. Perhaps dtrace/cargo-flamegraph is smart enough to aggregate them?

[2021-09-11 04:02] virtual-hexagon commented on #581
I am more than happy to help with testing if you throw a patch or branch my way to run through my environment.

[2021-09-12 13:58] sagiegurari commented on #489
@tamasfe thanks a lot, I see the PR
1500 lines by hand is crazy :)

[2021-09-12 15:10] sagiegurari commented on #586
@edmorley thanks for reporting it.
I fixed it in the 0.35.1 development branch. Would love your feedback to make sure it is resolved for you as well.

[2021-09-12 15:14] sagiegurari commented on #583
@edmorley not sure it would be clearer as the " Skipping Task." is already automatically printed so they would see it twice.

[2021-09-12 15:18] edmorley commented on #583
The "Skipping task" message is not printed by default (new users aren't likely to know about or use `reduce_output = false`).

The reason for adjusting the example, was less about the message that gets printed, and more about how a user understands the example when reading it through as part of the docs.

[2021-09-12 15:20] sagiegurari commented on #583
ya, i just updated the docs (in the dev branch) to reflect the needed config changes

[2021-09-12 15:20] edmorley commented on #586
That looks great, thank you :-)

[2021-09-12 15:37] sagiegurari commented on #585
@edmorley i have been looking here:
https://docs.rs/clap/2.33.3/clap/struct.Arg.html
and couldn't find a good way to do it. The code that uses clap to setup the cli is called cli.rs.
So at the moment this feels like a limitation of clap (or i just can't find a way to make it work) and i'm not planning to drop clap at the moment.
if this is something you want to investigate and push a PR if you fin

[2021-09-12 15:37] sagiegurari commented on #586
thanks for checking it :)
i'm going to push more fixes for other issues before releasing a new version.

[2021-09-13 08:47] sagiegurari commented on #581
@virtual-hexagon I hope i fixed it (no idea), can you test with the 0.35.1 branch please?

[2021-09-13 11:48] sagiegurari commented on #584
@edmorley I think i found the bottlenecks and gave a solution which i hope is good enough.
few things
* the summary of the build time was in correct. it only included the time the tasks took, but not the time it took cargo-make to initialize. i added to the summary 2 more items (makefile parsing and env setup) and the total time includes the entire cargo-make time.
* most of the time is spent on t

[2021-09-13 13:26] sagiegurari commented on #486
closing this one as i think duckscript + cmake tasks examples i gave is a good start.

[2021-09-13 13:26] #486 closed

[2021-09-13 17:38] sagiegurari commented on #582
I'm releasing a new duckscript version that would make it even simpler:

[code]

[2021-09-14 08:33] woss opened #590 "having the completions with cargo make and zsh"
I started to move my scripts to the `Makefile.toml` and it seems to me that I will have many tasks. I would like my coworkers don't have to search and find the task names instead of having them as completions. The current sourcing only works with makers and on bash, we are using zsh and to be specific https://github.com/romkatv/zsh4humans

It is an incredibly good setup with awesome completions wh

[2021-09-14 10:27] sagiegurari commented on #590
Thanks, i'll follow up on this one soon. I already have done it for bash, so i'm hoping to do it for zsh would be simple (no idea).

[2021-09-14 15:01] woss commented on #590
i hope this helps https://github.com/zsh-users/zsh-completions/blob/master/zsh-completions-howto.org

I tried to do it but it is beyond me :)

[2021-09-17 14:14] edmorley opened #591 "Cargo make treats .DS_Store in workspace directory as another crate"
### Describe The Bug
When using Cargo workspaces, with the workspace root `Cargo.toml` pointing at a whole directory, if that directory happens to contain files (such as `.DS_Store`) in addition to directories, then running Cargo make against the workspace fails.

### To Reproduce
1. Perform the setup from #584
2. Create a stray file in the workspace packages directory: `touch packages/.DS_Store`

[2021-09-17 15:52] sagiegurari commented on #591
can you share the cargo toml? because i take the member list from there (with glob support)

[2021-09-17 16:27] edmorley commented on #591
It's the one from #584:

[2021-09-17 16:30] sagiegurari commented on #591
ok got it, so it matches the * glob.
I'll check it out.

[2021-09-19 00:20] virtual-hexagon commented on #581
@sagiegurari I built the 0.35.1 branch from source  on windows and ran it in my environment. Unfortunately it did not appear to fix the problem and the behavior of the error is still unchanged. I am reviewing my verbose logs a little closer to see if I spot any changes in behavior.

I noticed that you pushed the dunce dependency down into the run_script crate, so I plan to review the run_script co

[2021-09-20 08:00] sagiegurari commented on #581
@virtual-hexagon i saw the 'workspace' task fails for you.
It is a special task that is auto generated as a script and executed which in turn invokes each member.
I've migrated that native script to duckscript which runs in proc so workspace task should no longer fail for you.
i'm not sure if this will resolve the entire issue since more scripts may be invoked from your makefiles and i want to kno

[2021-09-20 15:34] sagiegurari commented on #591
@edmorley I think this should now be fixed in 0.35.1 branch. would love your feedback.

[2021-09-20 15:34] sagiegurari commented on #584
@edmorley would love your feedback on this one please

[2021-09-20 15:36] sagiegurari commented on #590
@woss i never used zsh and their auto completion scripts looks like a nightmare.
however, they do support bash auto complete scripts and i already have one.
so i wrote short doc (3 line script) which you can run to enable it.
i tested it and seems to work well.

see doc:
https://github.com/sagiegurari/cargo-make/tree/0.35.1#usage-shell-completion-zsh

script:

[code]

would love your feedback

[2021-09-20 15:37] sagiegurari commented on #582
closing due to lack of feedback and since there is a simple solution for users.

[2021-09-20 15:37] #582 closed

[2021-09-22 12:21] woss commented on #590
sure, i'll let you know as soon as possible

[2021-09-22 15:55] woss commented on #590
ZSH doesn't work for me, could be the zsh4humans that is messing things up.

Look at this example below, this is out of the box cargo completions with interactive arrows. It says nicely what is what and you can select it by pressing enter. This is what i had in mind when i submitted this feature.
![image](https://user-images.githubusercontent.com/80440/134377911-672a18c7-7cff-4729-bbb6-c2588383764

[2021-09-23 10:25] sagiegurari commented on #590
so thats how auto complete looks like in zsh :) ya i never used it but now i understand why they have built the auto complete api the way they did.
the bash way is doing tabs and auto complete based on what you wrote, so you do makers bu you will have build and other relevant things as options.

anyhow, it means that whatever i provided doesn't really give you the best solution.
since i'm not a zs

[2021-09-23 10:40] woss commented on #590
good idea to keep it open.

I'm not giving up on learning the zsh completion, which is truly hard to learn.  :)

this is how the zsh completes the `cargo build`. could be that it works differently than the bash in that regard.

![image](https://user-images.githubusercontent.com/80440/134493388-17705691-7f20-4d7b-bed2-5f867acb949a.png)

[2021-09-28 07:36] virtual-hexagon commented on #581
@sagiegurari  I pulled down the latest update. Good news, I was able to get my project to hello world from powershell. But I ran across some behavior that I am not sure if it is intended or not.

Originally when I executed the updated cargo-make, I ran across an error. After looking at verbose logs, I determined that the new workspace script could not find a task called 'powershell' because it was

[2021-09-28 12:30] sagiegurari commented on #581
1. each directory is handled on it own. so you don't get root makefiles automatically.
this allows you some isolation to do things very differently, for example a project with javascript frontend code and rust backend code. in which build means something else for each one.
there is a way to extend the root makefile via one liner
https://github.com/sagiegurari/cargo-make#usage-workspace-extend
[cod

[2021-10-02 05:14] virtual-hexagon commented on #581
@sagiegurari okay I see what you are saying and that makes sense!  As I was messing around with the tasks & flows some more I  ran across a strange edge case. I can run my hello world powershell tasks fine, but if I run a cargo based command such as cargo clean then I get a new error while resolving workspaces.

[code]

I can resolve this error by changing my workspace file as follows:
[code]

aft

[2021-10-02 06:56] sagiegurari commented on #581
@virtual-hexagon that feels like a cargo issue (not cargo-make) which fails to find the members

[2021-10-02 15:16] sagiegurari commented on #586
@edmorley this is now released. closing issue.

[2021-10-02 15:16] #586 closed

[2021-10-02 15:16] #583 closed

[2021-10-02 15:17] sagiegurari commented on #581
@virtual-hexagon the original issue is now released in new official cargo-make release. thanks for the help testing.
if you have more issues please open them as new ones.
the current issue you are facing seems more like cargo issue than cargo-make.

[2021-10-02 15:17] #581 closed

[2021-10-02 15:17] sagiegurari commented on #584
closing as this is now released

[2021-10-02 15:17] #584 closed

[2021-10-02 15:17] sagiegurari commented on #591
released. closing issue.

[2021-10-02 15:17] #591 closed

[2021-10-02 20:04] virtual-hexagon commented on #581
@sagiegurari  Yay,  thanks for all of the help!

I agree that this problem sounds like cargo problem, and either way I have a path forward for my project thanks to your help.

[2021-10-03 20:40] edmorley commented on #584
@sagiegurari Sorry for the delayed reply! Thank you for fixing this - has helped speed things up for me :-)

[2021-10-06 05:30] WorldSEnder opened #594 "Let toolchain describe a minimal supported rust version"
### Feature Description
[code]

Unfortunately, by the time 1.57 stabilizes, the above will suddenly complain to devs using the latest stable release.

### Describe The Solution You'd Like

Support a version check for the toolchain. Multiple syntaxes come to mind:
[code]

The first two could perhaps be a short version of the second.

The last is probably too much to ask, but could use names from sp

[2021-10-08 14:12] chenzww opened #596 "any method to share function define"
use rust-script. I have to copied again the same function define every time, when call function in a new task. Is there a way to define the rust function globally once, and call it elsewhere without copy the same function define?

[2021-10-08 15:14] sagiegurari commented on #596
yes there is. checkout the script documentation, it has this example:

[code]

basically you can split the script to 3 parts, put the global functions in the pre attribute in some base task.
than in actual tasks, extend the base task and put your script in the main attribute

[2021-10-11 02:11] #596 closed, assigned to sagiegurari

[2021-10-16 14:07] #594 closed

[2021-10-22 19:15] federico-terzi opened #599 "Environment variables passed as command line args are not recognized in v0.35.4"
First of all, thank you for the great tool!

### Describe The Bug
In the latest version (v0.35.4), my rust script is not receiving the env. variables I pass as command-line arguments, which worked well in v0.35.0:

[code]

This setup was working until v0.35.0, but it's not working on the latest versions

### To Reproduce

See above, with a script similar to the following:

[code]

The rust script

[2021-10-22 19:22] #599 closed, assigned to sagiegurari

[2021-10-23 22:58] sksat opened #600 "Is there any reason why the `makers` binary is not included in the release?"
### Describe The Bug

This project has two executables but [Releases](https://github.com/sagiegurari/cargo-make/releases) do not include `makers`.

https://github.com/sagiegurari/cargo-make#installation

### To Reproduce
[code]

[2021-10-24 11:18] #600 closed, assigned to sagiegurari

[2021-10-26 14:40] roberts-cliff opened #602 "`--` handling changed recently"
### Describe The Bug
We're using [cargo-make GHA](https://github.com/davidB/rust-cargo-make) and had not been pinning releases, noticed a recent release changed the way additional script args are passed, specifically the `--` token now passes through.

### To Reproduce
[minimal reproduction](https://github.com/roberts-cliff/minus_minus)

I guess it can't be considered a semantic breaking change si

[2021-10-26 15:03] #602 closed, assigned to sagiegurari

[2021-11-07 14:22] thomasheartman opened #608 "Allow custom crate install commands (`cargo local-install`)"
Hi 🙋🏾

This is actually more of a question, but it might make sense to turn it into a feature request if the answer is no.

The question is: can I use `cargo local-install` instead of `cargo install` with the `install_crate` command?

(cargo-local-install ([cargo-local-install on crates.io](https://crates.io/crates/cargo-local-install)) solves some issues related to having a global cargo directory

[2021-11-07 15:14] sagiegurari commented on #608
this is very cool idea. i never heard of local-install so very interesting.
naturally option 2 is more relevant.
i do have install_script so users can write their own logic but its more complex to do that.
would you like to submit a PR or prefer me to do it?

[2021-11-07 15:31] thomasheartman commented on #608
Yeah, I hadn't heard about local-install before either, but it seems like it would be relevant. I also realize I forgot to link to the crate in the OP, but [it can be found on crates.io](https://crates.io/crates/cargo-local-install), where there's also a description of what it does and why.

I saw the install_script option, but because I've barely started using makefiles, it was a bit intimidating

[2021-11-08 14:12] sagiegurari commented on #608
@thomasheartman I've implemented it in the dev branch 0.35.7
you can try it out.

[2021-11-08 22:39] thomasheartman commented on #608
@sagiegurari Oh, sweet! 😄  I'll try and take it for a spin tomorrow!

When the user specifies a custom install command, will cargo-make ensure that the required command is installed (will it trigger a `cargo install cargo-local-install`, for instance), or will it fail?

[2021-11-09 04:27] sagiegurari commented on #608
no it won't, but you can have a task depending on another that will make that happen.
i felt it is extra complexity that can better be manual

[2021-11-09 20:19] thomasheartman commented on #608
@sagiegurari Thanks! Yeah, it seems to work as expected 🎉

Regarding the manual installation of the custom install command: you're right that it would definitely provide extra complexity to the implementation. I do think it would provide a better user experience, though.

Obviously, you know your users much better than I do, and also know how the code works better than I do, so it's up to you in t

[2021-11-10 06:20] sagiegurari commented on #608
* that would work actually

[code]

cargo-make would know to attempt to call that binary with the arg to see it exists or not and only if it doesn't, it will install it.

* as to 'just make it work', i think it just works for 99.99% of the time.
people can just do

[code]

and it will first ensure that somecrate is installed without defining install crate attribute.
your specific use case, i think

[2021-11-14 18:04] s1gtrap opened #610 "Adding extra build steps on a specific platform"
On macOS, we need to wrap the `.dylib` after compilation with an `Info.plist` and so on.

It would be great if one could extend the existing `build` task with a script when run on macOS.

At first I thought about dropping in
[code]
but that fails with
[code]
for obvious reasons.

I tried
[code]
which got it working, but it seems kind of silly as the core build task is perfectly fine, we just need

[2021-11-15 07:47] sagiegurari commented on #610
lets talk first about extending tasks.
you want to run 2 actions in one task, and i suggest to split to 2 tasks.
one is the build and one is the wrapping.
you can run 2 tasks using dependencies or as a flow (via run action or dependency).

for example:
[code]

in fact, cargo-make comes with predefined flows that have empty pre/post hook so you can inject custom logic inside the flow.
for example:

[2021-11-15 20:51] s1gtrap commented on #610
Oh! The pre-/post- prefixes seem neat! But I tossed together
[code]
and it doesn't seem to run the `post-build` task? Even without the `.mac` cond..

[2021-11-15 20:52] sagiegurari commented on #610
how are you running it?

[2021-11-16 11:17] s1gtrap commented on #610
Just `cargo make build`

[2021-11-16 11:19] sagiegurari commented on #610
ok, so there is a confusion here. checkout the link i put in my previous comment. pre/post are not automatic. i manually added those to some predefined flows.

[2021-11-16 15:17] s1gtrap commented on #610
Oh.. well is there any way to make them automatic? I mean this is an essential part of 'building' a VST (on macOS), so it would make the most sense to modify/override the build task, but only on macOS..

[2021-11-16 15:42] sagiegurari commented on #610
i wrote this example in original comment:

[code]

is there an issue with it? you can run it using cargo make b

[2021-11-19 11:21] s1gtrap commented on #610
So I guess that's a no on overriding existing tasks on specific platforms? 😅

That would definitely work, but it would feel much nicer to override the actual 'build' task entirely on macOS, as only that target happens to have extra build steps. Feels kinda workaround-y to introduce a new task called 'b' to build when it intuitively would be accomplished with 'build' alone.

[2021-11-19 11:32] sagiegurari commented on #610
you can by adding clear=true but that means rewriting the entire task for mac.
you cant delete a songle attribute which is what you really trying to do.

[2021-11-20 07:28] sagiegurari commented on #610
to expand on my answer

[code]

should work just fine and covers your usecase.
there is also config.modify_core_tasks where you can rename all core tasks with a namespace and do other tricks.

i'm closing this issue as i provided multiple solutions.

[2021-11-20 07:28] #610 closed

[2021-11-21 12:36] s1gtrap commented on #610
Aah, didn't know about the `clear` attribute.. thanks!

[2021-11-24 03:56] kaphula opened #611 "[Question] Conditionally run task if files have changed on set directory"
Hey,

Is it possible to conditionally skip or include steps based on changes on the filesystem? I read about watch but that's not really what I am looking for, I think. I would like to able to run a separate binary crate on my workspace before compiling and running my main application IF certain directory's contents have changed since the last time `cargo make` was run.

[code]

[2021-11-24 06:55] sagiegurari commented on #611
It is a valid request, however, currently it is not supported.
To support it, i would require to 'cache' some state on the file system that currently I do not manage at all (apart of a global one for the entire machine).
Usually the more specific binaries do that, for example cargo build would not rebuild files that were not changed or not impacted by some change, same goes for other compilers.
i'

[2021-11-24 12:21] lnshi opened #612 "Unable to specify the exact version of one crate"
### Describe The Bug

I followed the instruction in the README.md: [here](https://github.com/sagiegurari/cargo-make#defining-version), and tried to specify a specific version of `rustfmt` by doing:
[code]

but result in the below warning, and still the installed old version of `rustfmt` is used:
[code]

But in the same console if i do `rustfmt --version` i got `rustfmt 1.4.37-stable (59eed8a2 2021

[2021-11-24 17:01] kaphula commented on #611
The crate I want to call is my own and in the same Rust workspace as the rest of my application, so I could in theory add the required watch logic in it directly. And yes, I wanted to see if there's a tool available that does this for me automatically, preferably something very close to Rust and Cargo.

I would use the Rust's own build scripts by running the `run_the_main_app`'s `build.rs` and cal

[2021-11-24 18:45] sagiegurari commented on #611
i wonder if something like in #436 could help?
its using duckscript to check if path is newer than other path and based on it, run a task.
would that help?

[2021-11-25 05:28] sagiegurari commented on #612
thanks for notifying me. i'll check it out.

[2021-11-28 16:58] sagiegurari commented on #612
@lnshi the reason it didn't work for you is that rustfmt is installed from rustup which seems not to update the .crates.toml which i use to find the version.
I'm going to add an additional check using the --version cli command to find out of those type of crates.
however, in your specific use case, it won't help, because i think rustfmt installation instructions do not talk about simple cargo inst

[2021-11-28 17:09] sagiegurari commented on #612
@lnshi you can try out the dev branch 0.35.7 which now has the fix for this.
would love your feedback to understand if it starts up the cargo install.

[2021-11-29 09:27] sagiegurari commented on #611
@kaphula did you look at that issue i mentioned? i have there duckscript script that checks if path is newer than call some cargo make task. maybe it is useful for you as well?

[2021-11-29 13:57] lnshi commented on #612
@sagiegurari thanks for the quick response, i will try it out

[2021-11-30 00:17] kaphula commented on #611
Thanks for the advice, I'll keep that in mind for the future but I don't currently have time to play around with this now. I settled for a [solution](https://users.rust-lang.org/t/running-cargo-run-on-build-rs-of-another-workspace-crate/67758) that is based on pure Cargo/Rust commands. You can close this issue if you want.

[2021-11-30 05:37] #611 closed

[2021-12-04 13:07] thomasheartman commented on #608
Sorry for the late reply; it's been a bit crazy lately 🙇🏼

Ah, that's nice.

And yeah, I agree with you on the other things 😄

[2021-12-07 14:52] MartinKavik opened #614 "Remove OpenSSL"
### Feature Description
We would like to remove OpenSSL dependency from `cargo-make` because it's painful to setup on some platforms.

### Describe The Solution You'd Like
Remove native dependencies like OpenSSL if possible.

---

@arn-the-long-beard Could you provide more details / your experience?

[2021-12-07 16:04] arn-the-long-beard commented on #614
Thank you @MartinKavik  :wink:

Yes well, we do use `cargo-make` a lot because it is a great tool :smile: .

And many times when I setup a new OS for one of my teammate, I do or **not** encounter   compilation error due to OpenSSL, environment variables when running `cargo install --force cargo-make`.

Today I got new errors on a fresh install for Linux (Arch) Manjaro.
But the **same** computer th

[2021-12-07 16:07] sagiegurari commented on #614
question, why not just download the precompiled binaries from the releases?

[2021-12-07 17:08] MartinKavik commented on #614
- I often switch platforms/machines and use different build pipelines with `cargo-make` so both installation and updating is easier with `cargo install cargo-make` for me.
- Onboarding new users to open-source projects is easier with simpler commands / steps - it's annoying for users when they have to manually download and install (multiple) tools (e.g. Rust, cargo make, wasm-pack, etc.). Also the

[2021-12-08 10:27] arn-the-long-beard commented on #614
Well I didn't know this was possible, I have never done it before.  I made a quick search for installing binaries on google but I am not sure where to start. What is your recommendation/guideline to install precompiled binaries ?

Now questions :

- If I get the binaries, does it solve all the Openssl issues we have?

- What is openssl used for in `cargo-make` ?

- `cargo-make` is super practical

[2021-12-08 11:10] sagiegurari commented on #614
* to use precompiled cargo-make executable, just go to the releases at:
https://github.com/sagiegurari/cargo-make/releases
download the binary you want (window, mac, linux)
and put it in your cargo/bin directory (if you use makers executable and not 'cargo make' executable, than just put it anywhere in your path).
I wrote a bit about it here:
https://github.com/sagiegurari/cargo-make#installation-

[2021-12-08 11:20] arn-the-long-beard commented on #614
Okay, thank you so much for your answer :100: :wink:

- We will try to install the binaries right now and see how it solve the issues.

- I will take a look on spare time I think. Not sure I have the level to understand but I 'll give a try :+1:

So to resume,

1 - Check duckscript and see how to make `openssl` optional.
2 - Check `cargo-make` and see how to make `openssl` optional there as well.

[2021-12-08 11:29] sagiegurari commented on #614
ya, plan sounds right.
basically it means to define a feature in both crates.
and for each to update the dependencies based on that.
i am not sure if there is a need for code changes.
i might be able to take a look this weekend on it. i hope :)

[2021-12-08 12:51] arn-the-long-beard commented on #614
Well, we did install the binaries as suggested. And the bug number 3 still appear :

[code]

So I am not sure what we can do.

[2021-12-08 13:26] sagiegurari commented on #614
ok so wasm-pack also needs openssl? if so, removing it from cargo-make won't really help much as wasm-pack is not part of cargo-make.
cargo-make installs it if needed same as it installs any tool that might be requested/needed by a given task (a bit on that here: https://github.com/sagiegurari/cargo-make#installing-dependencies)

[2021-12-08 13:32] arn-the-long-beard commented on #614
Yes good points.

[2021-12-09 13:25] arn-the-long-beard commented on #614
Well, my colleague installed `wasm-pack` globally with this link  https://rustwasm.github.io/wasm-pack/installer/  and he has been able to work now.

It seems that `cargo-make` was downloading `wasm-pack` binaries, this is why he got the last glitch.

So we can still find a way to improve `cargo-make` by removing the dependency :smile:

[2021-12-09 20:39] Person-93 opened #615 "Panic checking if crate needs to be installed"
### Describe The Bug
Cargo make panics while checking if a crate needs to be installed if the args are set like this: `args = ["${@}"]`

### To Reproduce
Copy this task into your Makefile.toml and try to run it.
[code]

### Error Stack

[code]

[2021-12-09 23:26] Person-93 opened #616 "Can't run cargo-make from a task with workspace emulation enabled"
### Describe The Bug
A task to run `cargo make --cwd --some/path -- some-task` doesn't actually run `some-task` when invoked in a workspace.

### To Reproduce
Setup this directory structure:
[code]

The root Makefile.toml:
[code]
Then try to run a task using one of the shortucts:
[code]

Commenting out the line to enable workspace emulation fixes the issue, but then I'd lose workspace emulation fo

[2021-12-10 00:33] Person-93 commented on #616
I figured out what was causing it. The `CARGO_MAKE_WORKSPACE_EMULATION` environment variable from the project root is leaking into the cargo-make instance that is run from the task.

I added this line:
[code]
to each of the "shortcut" tasks and they worked.

Is there a cleaner way to achieve this?

[2021-12-10 00:34] Person-93 commented on #616
Perhaps if a task sets `workplace` to false, the `CARGO_MAKE_WORKSPACE_EMULATION` and `CARGO_MAKE_CRATE_WORKSPACE_MEMBERS` environment variables can be unset?

[2021-12-10 11:26] sagiegurari commented on #615
@Person-93 thanks a lot for reporting.
I've fixed it now in the dev branch.

[2021-12-10 11:36] sagiegurari commented on #616
The reason is this happens while using workspace emulation is that, in the root when calling a task on each member, i set CARGO_MAKE_CRATE_CURRENT_WORKSPACE_MEMBER env and you do not.
So i figure i need to run a workspace emulation.

there are few ways to fix this

1. the right way (i hope it works... didn't touch it for so long) - in shared/models makefile, the task you are running (seems like th

[2021-12-10 13:24] Person-93 commented on #616
I don't want to disable workspace support in the crate's makefile because some of the emulated members are workspaces that make use of workspace support.
What I found that works, similar to your second suggestion is this:
[code]
If this is a use case that you are willing to support, my suggestion would be for cargo-make to unset that variable before running the task.

[2021-12-10 13:25] Person-93 commented on #616
It actually uses the first argument to the task as the name of the task to run.

[2021-12-10 14:50] sagiegurari commented on #616
@Person-93 your solution would impact the parent process env as well, not just the child process.
mine, will only impact the child process that is invoked.
so i think my solution is safer with less prone to future strange behavior.

so, you have workspace that has child workspaces?

[2021-12-10 15:04] Person-93 commented on #616
Fair point. I don't know your codebase well, so I was just spitballing.

No, I'm setting up a monorepo with multiple workspaces. The root of the repo is an emulated workspace.

I'm starting to work on a web app and I've split the frontend and backend into separate workspaces because I don't want them to share dependencies. There's also a couple of individual crates for shared code and utilities.

[2021-12-10 15:16] sagiegurari commented on #616
@Person-93 got it. so in a way, it is a workspace of workspaces :)
you use the emulation to bypass the fact that its not supported by rust and well... thats why i wrote the emulation in the first place, so people can do 'workspaces' without rust workspace (but originally just 1 level).
however, 2 levels of workspaces is not something i planned on, so strangeness may happen (if it does, open an iss

[2021-12-10 15:28] sagiegurari commented on #616
prefer not to so cargo-make (and users) will have the knowledge that they are running in a workspace.
that info can be used to do other things.

but i think the solution i gave you should be ok.
does it solve it for you? do you need anything more to make it work well or should we close this issue?

[2021-12-10 15:29] sagiegurari commented on #614
@MartinKavik  @arn-the-long-beard this is now implemented in the dev branch.
Basically there is now a tls feature (on by default).
so when installing, use the **--no-default-features** flag to the cargo install command.
I would love your feedback to make sure it works well for you (don't forget to install from the dev branch, not crates.io).

[2021-12-10 15:29] Person-93 commented on #616
Yeah, this is solved. I'll move further questions to Discussions.

[2021-12-10 15:29] #616 closed

[2021-12-10 15:32] Person-93 commented on #616
Thanks for helping me out, and thanks for making this awesome tool!

[2021-12-11 10:36] sagiegurari commented on #608
@thomasheartman this is no officially released. thanks a lot for the idea

[2021-12-11 10:36] #608 closed

[2021-12-11 10:36] sagiegurari commented on #615
@Person-93 this is now officially released. thanks a lot for reporting it

[2021-12-11 10:36] #615 closed

[2021-12-11 10:37] sagiegurari commented on #612
@lnshi this is now officially released. if you still face issues, feel free to open a new issue.

[2021-12-11 10:37] #612 closed

[2021-12-11 10:38] sagiegurari commented on #614
@MartinKavik @arn-the-long-beard this is now officially released (needed to release a new version due to other issue) so you can try it out on the latest crates.io version.
if there is any issue with it (or other issues) feel free to open.

[2021-12-11 10:38] #614 closed

[2021-12-13 14:15] arn-the-long-beard commented on #614
Thank you mate !!! We are going to try it. I'll give you a feedback as soon as possible :smile:

[2021-12-16 05:02] usagi opened #617 "NotFound Error with .cmd executable file in Windows"
### Describe The Bug
- In Windows, it has `.cmd` executable files.
- But the `cargo-make` (0.35.7) cannot detect `some-command.cmd` implicity from `some-command` without `.cmd` extension pattern.
- I think it is a bug.
    - If it is not a bug, I suggest support natively the `.cmd` extension implicity pattern in Windows for a convinient crossplatform usecases.

### To Reproduce

Eg. `yarn` command

[2021-12-16 15:21] sagiegurari commented on #617
in cargo make, commands are executables and are proxied as is to the system.
in windows, leaving out the .cmd works in shell, but in general its a workaround that windows has built in.
if i'm not wrong, there is an env var that has a list of priority between cmd, bat and com or something like that...

anyhow, to incorporate that into cargo-make would mean, before each invocation to search the path

[2021-12-17 00:55] usagi commented on #617
I got it. Thank you for your detailed explanation and more simply workaround.

[2021-12-17 00:55] #617 closed

[2021-12-20 14:38] osain-az commented on #614
@sagiegurari.  We have tried it but still having  the same issue.

procedure of what  was done.

1:  In  the Cargo  folder,  the  `cargo-make`  folder was deleted.
2:  Then  install cargo make  by  `cargo install cargo-make`.
2:  Then run  `cargo  make watch`

We still have the same  error as mentioned earlier.
Is there something  that  is missing ?

Thank you

[2021-12-20 14:39] sagiegurari commented on #614
yes. you must use the  --no-default-features  as i wrote in my comments

[2021-12-27 09:16] osain-az commented on #614
With the ` -no-default-features  `  option, after installing everything work fine .

Thanks

[2021-12-29 18:02] kogeletey opened #619 "Generate container image"
### Feature Description
It would be convenient to be able to generate containers like
[earthly/earthly](https://github.com/earthly/earthly)
You can use buildkit, there are bindings for rust

### Describe The Solution You'd Like
Well that's about what it would look like
[code]

[2021-12-31 11:02] sagiegurari commented on #619
Very interesting idea.
I think the scope here is much bigger than what I can handle (like you linked, there is a whole product to do that) and if I integrate with something, it may be out of date or other products would be preferred by others.
however, I was thinking of creating some form of 'plugin' or alternate executer for cargo-make so users can decide that a specific task, they would control

[2021-12-31 11:19] sagiegurari opened #620 "Feature - plugin system for alternate task executer"
### Feature Description
A new plugin system in which cargo-make exposes task meta data and sub task execution capabilities (for example, only execute env setup or conditions).
Users can than setup an alternate executor implemented in duckscript using the meta data/sub execution capabilities.
This would enable to create custom solutions, beyond what cargo-make provides (for example, running a task

[2022-01-11 11:34] sagiegurari commented on #619
@kogeletey please take a look at this dev branch
https://github.com/sagiegurari/cargo-make/tree/0.35.8.plugin#plugin-example

basically using the plugin system i talked about, you can build this feature yourself on top of cargo-make.
This example actually does exactly that, meaning, runs the flow in a docker container.
instead of:
dockerize = true
You do
plugin = "dockerize"

and that plugin does

[2022-01-11 17:33] sagiegurari commented on #619
Closing this as I released it. would love any feedback you may have.
I know it requires some 'manual' work, but it does the job and enables something less fixed on specific implementation.

[2022-01-11 17:33] #619 closed

[2022-01-20 01:59] MikeWallaceDev opened #625 "Task quits in the middle of a script."
### Describe The Bug
I have a main task which calls the task shown below (generate-language-files), and then a second second task (not shown).For some reason half of the first script is run, and then it returns without running the second half, and the second script (flutter-build) starts.

[tasks.generate_language_files]
script = [
  """
  cd app_flowy/
  flutter clean
  flutter pub get
  flutter

[2022-01-20 07:13] sagiegurari commented on #625
with this amount of details, its really hard for me to know what is going on.
since it involves flutter and some repo, i can't just repo it. i don't have any windows machine, but i would have tried on linux if you gave me enough info.
with these details all i can say
1. try moving away from scripts and to commands. 1 command per task. in general i always favor commands since i can do lots of trick

[2022-01-20 19:48] MikeWallaceDev commented on #625
Hello, thanks for your quick reply.

Indeed, my partner on the night shift discovered that this script does not work as is, but rather needs to be duckscript :

[tasks.generate_language_files.windows]
script_runner = "@duckscript"
script = [
  '''
  cd app_flowy
  exec cmd.exe /c flutter clean
  exec cmd.exe /c flutter pub get
  exec cmd.exe /c flutter pub run easy_localization:generate -S assets/

[2022-01-20 19:48] #625 closed

[2022-01-20 22:54] sagiegurari commented on #625
@MikeWallaceDev i'm not sure what limitation there is. i can't debug your script.
duckscript is just an idea to have a better shell env that is much more stable than cmd.
also
1. why exec cmd.exe /c <command> and not exec <command>? if you do it as i suggested, it would work (same script) for windows and other OS. is flutter a script so it can't find it without cmd.exe?
2. you should add exec --fa

[2022-01-21 00:47] MikeWallaceDev commented on #625
Hello @sagiegurari ,
The limitation is that for some reason the script would quit halfway.  I can't say why it quit thought, because there was no error or anything.

1. Why? Cause that's what my colleague used, so I just copied it. If you are saying that your way will be cross platform, then obviously that's a better idea. I'll try that.

1.5  What I would REALLY like to do is call a script from a

[2022-01-21 01:28] MikeWallaceDev commented on #625
So I tried it your way :
[tasks.generate_language_files]
script_runner = "@duckscript"
script = [
  '''
  cd ./app_flowy/
  exec --fail-on-error flutter clean
  exec --fail-on-error flutter pub get
  '''
]
and it didn't work. "Error, program not found".  The same script did work on Linux.  I think you may have been right in thinking that it's because "flutter" is a script. I have no clue why it wo

[2022-01-21 06:17] sagiegurari commented on #625
feels like the flutter script is the problem. no limitation to document on cargo-make side that i can see.
the cmd and --fail-on-error are not related by the way, and i suggest to keep the flag.
the ignore_error is a task level flag which is not related.
if you are going with a windows only version, i think you can do something simpler, but it doesn't matter.

[2022-01-21 20:39] MikeWallaceDev commented on #625
Thank you very much for you help. I used all of your information to make it work, and everything is great now.  I hope that I didn't come off too asshole'ish, I was just tired. Apologies if that is the case :)

Have a great weekend!

[2022-02-01 13:42] Justice4Joffrey opened #626 "env_files + additional_profiles = unexpected behaviour"
### Describe The Bug
When an env_file for a custom profile exists, it is loaded regardless of profile, presumably in relation to its order in the array.

### To Reproduce
https://github.com/Justice4Joffrey/cargo-make-bug

[code]
Uses production profile, but `RUST_LOG=info` in `./etc/prod.env`.

EDIT: I can avoid the `local.env` being loaded by putting it first in the list.

[2022-02-01 15:14] Justice4Joffrey commented on #626
I see - I think this is a misunderstanding on my part. I was expecting `additional_profiles` to be where I specify custom 'valid' profiles. Turns out that's not the case, this is (I think) how I can specify to load multiple profiles at runtime regardless of what profile I've loaded with `--profile`.

Looking back at the docs, it is a touch ambiguous how `additional_profiles` works.

I think I read

[2022-02-01 15:14] #626 closed

[2022-02-01 15:35] sagiegurari commented on #626
no problem. i'm happy to get a doc PR if you wish to improve that section (in the content.md) to make it clearer.

[2022-02-06 07:40] tower120 opened #627 "env variable does not substitute to script"
env variable does not substitute to script, if variable is first thing in the line.

Makefile.toml:
[code]

Output:
[code]

Switching to :
[code]
Solves the problem.

[2022-02-06 15:07] sagiegurari commented on #627
@tower120 thanks, i'm able to reproduce with your example.
The issue is in the shell2batch crate, so i'll fix it there and update here as well.

[2022-02-06 15:31] sagiegurari commented on #627
@tower120 this should be fixed now. just reinstall cargo-make and it should be ok.

[2022-02-07 06:05] #627 closed

[2022-02-07 07:11] tower120 commented on #627
Many thanks! Fixed indeed.

[2022-02-10 18:44] ndarilek opened #629 "Support modifying environment from Rust scripts"
### Feature Description

Not sure if this exists already, but I'd like some way for Rust scripts to modify the environment

### Describe The Solution You'd Like

Not sure what the best way to handle this is. I wonder if the environment can be reread and changed after executing a Rust script, in case the script added new variables intended to be available later on in the pipeline? Or maybe scripts

[2022-02-11 12:58] ndarilek commented on #629
I looked at duckscript, and it seems there's no regexp-matching. Is that
correct?

If so, I'm not sure how any new capability using it will help me here,
though maybe I'm misreading your comment or mistaken on the regexp/more
complex pattern-matching.

Thanks.

[2022-02-11 14:31] sagiegurari commented on #629
adding more commands to duckscript isnt that hard and than its available to cargo make.

[2022-02-11 22:05] dbanty opened #630 "How to disable verbosity in CI?"
Looking through CI logs to find a failed test can be a real pain because of the big backtrace output and the very verbose `rustc` compilation output. I'd like to be able to disable this verbosity unless I need it (I never have so far) but I can't figure out how. It seems to me I should be able to override the `CARGO_MAKE_CARGO_VERBOSE_FLAGS` env var to make this happen but that hasn't worked for m

[2022-02-12 15:55] sagiegurari commented on #629
@ndarilek i just published an example how to create a task and plugin to invoke it which sets the env for the parent cargo make process.
hope it helps

[2022-02-15 10:25] Ding-Fan commented on #614
`--no-default-features` it is double dash in it :eyes:

[2022-02-15 13:39] sagiegurari commented on #629
@ndarilek did it help? did you checkout my example?

[2022-02-16 13:06] ndarilek commented on #629
Sorry. I will check it out today and report back.

[2022-02-17 02:56] dbanty commented on #630
Removing the backtrace is part of it, another is all of the verbose `rustc` entries for compiling each dependency. Seems like the `CARGO_TERM_VERBOSE` flag (or something similar) is set so that instead of simply outputting `Compiling ureq v2.4.0` I get `rustc --crate-name ureq --edition=2018 <...snip lots of stuff>`

[2022-02-17 07:41] sagiegurari commented on #630
I do not define the CARGO_TERM_VERBOSE (never heard of it actually), but you can define it in your makefile env block as you see fit and it should impact the cargo invocation.

[2022-02-17 18:51] sagiegurari commented on #630
i would need a makefile to understand better.
to repo ci mode just set CI=true env var and run it

[2022-02-17 18:57] dbanty commented on #630
The `Makefile.toml` I was using doesn't customize anything related to `workspace-ci-flow`, except for my attempts to reduce verbosity. I think setting `CI=true` would do the opposite of what I want, right?

Right now, when I run locally I get the results I want—reduced verbosity in output. Effectively the same output as running `cargo build`, `cargo test`, etc. manually.

When I run in CI, I get a

[2022-02-17 19:09] sagiegurari commented on #630
ci true just so you can repo locally and understand the issue.
also the setup of cargo env should be done in your makefile, thats why I'm asking for it

[2022-02-17 19:11] sagiegurari commented on #630
and last thing, you.can use the flow and just overwrite a specific task

[2022-02-20 06:27] sagiegurari commented on #630
finally got a chance to look at it, just put in your makefile the following

[code]

[2022-02-21 08:13] sagiegurari commented on #630
@dbanty did it solve it for you?

[2022-02-21 13:53] sagiegurari commented on #629
A solution was provided. i think we can close this one.

[2022-02-21 13:53] #629 closed

[2022-02-23 07:47] janosimas opened #632 "Support bash source"
### Feature Description
Allow using a script file to setup the environment, like the `source` command in bash.

### Describe The Solution You'd Like
I think the ideal solution would be to support something like:
[code]

### Context
I already have a bash environment script defined by the project.
I use `cargo-make` for my personal setup.

[2022-02-23 07:51] sagiegurari commented on #632
unfortunately bash scripts are invoked as child processes so they can't change the parent process env.
there are 2 alternatives
1. env files - https://github.com/sagiegurari/cargo-make#usage-env-file
2. duckscript scripts - those run in parent process and can modify its env (i explain it a bit in the section you probably read - https://github.com/sagiegurari/cargo-make#env-setup-scripts)

in order

[2022-02-23 08:29] janosimas commented on #632
Thanks for the quick reply.

I saw those approaches but they are not ideal in my case because I already have an official setup script.
It's not a simple script and duplicating would also mean keeping it up to date with any changes.

I'll think about this and see if I come with an idea.

[2022-02-23 08:47] sagiegurari commented on #632
so what you could do is
1. the bash script can accept a 'verbose' flag
2. if flag is provided, bash script will printout the needed env vars at the end of execution
3. call the bash script via duckscript with the flag
4. parse the output in duckscript and set the env

this is very similar to an example i wrote about having a rust script modify the cargo-make env.
that example is using a plugin for

[2022-02-23 08:49] janosimas commented on #632
It's not an ideal solution but would it be possible to make a diff of the environment variables and set as `env`?

It would still loose bash defined functions but it's a compromise.

[2022-02-23 08:49] janosimas commented on #632
I had the page open and didn't see your comment.

[2022-02-23 14:52] Justice4Joffrey commented on #626
Sure - #633

[2022-02-24 21:52] dbanty commented on #630
Hey, sorry I haven't had a chance to play around with the original pipeline I was trying to tune at my day job, but I'll give it a go soon on a side project to confirm for you. Thanks!

[2022-02-25 06:38] ModProg commented on #611
I stumbled upon the same issue, I will be able to solve it via duck script I think, but I would still like something like this.

I imagined like a glob that can be specified to be checked for changes.

In my case it is to run `yarn` in a subfolder to generate some files I include, the command I use is quite slow even without changes so it would be great to be able to have a condition like `changed

[2022-02-25 12:33] janosimas opened #634 "How to use scripts and arguments?"
I was doing some tests and I got some results that I believe can be improved.

When a script is used, the script is copied (?) to a temp file and the temp file is executed.

The execution doesn't seam to respect the `cwd` nor the `args` attributes.

[2022-02-27 07:07] sagiegurari commented on #634
when you do 'pwd' at first line of your script, what do you see?
what do you mean by args?
can you provide an example of what you are doing?

[2022-02-27 07:09] sagiegurari commented on #632
did it solve your issue?

[2022-02-27 07:39] sagiegurari commented on #611
like i explained before, it would mean cargo-make would need to know what your command does and where the output is.
otherwise, it can't compare timestamps.
using duckscript you can tell it how and what to compare.
basically it means, you would never be really able just to say: 'do if these files were updated' in any tool unless the tool knows what the output of that command is.
for example compil

[2022-02-27 18:07] ModProg commented on #611
I get what you mean by that, I just wonder if this might be an often enough usecase that I might want to say, run this, if any file in this glob is newer than any file in the other glob.

e.g.
[code]

[2022-02-27 20:39] sagiegurari commented on #611
the mapping is an issue. js might stay js and html might get converted to js.
i could create some task with the deckscript script that you can extend and just give it the params like source, target and task to invoke but i do not think it would cover all cases

[2022-02-27 20:44] ModProg commented on #611
I didn't want anything that advanced.
Just any file in src should be newer than every file in target.

While that does not cover all cases, if one wants specific behavior based on a file to file mapping they probably need to use duckscript.

[2022-02-27 20:54] sagiegurari commented on #611
i might be able to do something for that...

[2022-03-02 11:32] ModProg opened #635 "When calling multiple tasks with `watch` only one seems to actually watch"
### Describe The Bug
When running multiple watch tasks with `parallel = true` only one of them seems to actually watch.

### To Reproduce
I have the following tasks. When I ran `makers watch` `yarn_watch` gets run once and on changes only `cargo_watch` gets restarted.

When I remove `cargo_watch` from the `run_task` `yarn_watch` works correctly on `makers watch`
[code]

### Error Stack

With both

[2022-03-03 16:37] TomPridham opened #636 "cargo make not running tasks in makefile.toml"
### Describe The Bug

running `cargo make test` runs the pre and post tasks, but doesn't run the actual test itself. i tried with our existing makefile and by deleting the makefile in the repo to use the default task that cargo-make has. i tried with latest, v0.35, and v0.34. my coworkers experience the same problem, so there is something weird with our project. it was working as recently as a wee

[2022-03-03 16:49] sagiegurari commented on #636
any chance you can create some simple test case for me to look at?

[2022-03-03 16:49] sagiegurari commented on #635
i'll try to reproduce this

[2022-03-05 02:12] dbanty commented on #630
Sorry for the delay, I confirmed this works on my side project! That doesn't use a workspace so the context is slightly different, but if the solution works there I imagine it'll be appicable for workspaces as well.

Thanks!

[2022-03-05 02:12] #630 closed

[2022-03-05 10:55] sagiegurari commented on #636
ok, i think this is a bug I have that i assume its a workspace since you have a workspace entry in the cargo.toml although its not really a workspace.

[2022-03-05 11:04] sagiegurari commented on #635
looking at your task definition, you have an issue there.
in one of the tasks you defined a different cwd while using parallel so you mess up the other task cwd as well.
I actually documented it in the parallel explanation.
to resolve it and keep it with cwd, just add in addition to the parallel=true also fork=true which will result in a new sub process so the cwd won't mess up the other task cwd.

[2022-03-05 11:16] sagiegurari commented on #636
ok, it is considered a workspace per the docs, but need to add the root package as well if defined. i guess that is your setup, right?

[2022-03-05 19:30] sagiegurari commented on #636
@TomPridham I think i fixed it.
can you please reinstall from the 0.35.10 dev branch and tell me if it resolves the issue?

[2022-03-06 06:47] TomPridham commented on #636
yep. that seems to fix it. thanks for the quick response!

[2022-03-06 08:08] ModProg commented on #635
I will do so, but the one with cwd is the one breaking. The other one works without issues

[2022-03-06 09:37] sagiegurari commented on #636
thanks for checking it

[2022-03-07 06:34] ModProg commented on #635
Well anyway, using `fork` solved it AFAICT, thanks :+1:

[2022-03-07 13:27] #635 closed

[2022-03-07 13:28] sagiegurari commented on #632
@janosimas did it resolve your issue?

[2022-03-07 13:29] sagiegurari commented on #634
@janosimas can you please respond?

[2022-03-07 16:25] sagiegurari commented on #634
so, if it is invoked in the right directory, i'm not 100% sure what the issue you are facing exactly.
can you expand a bit on what is not working?

The original implementation had script content embedded inside the makefile.
only later i added external file support.
to keep things simple, i just loaded the content and called the original flow (which uses another crate run_script - https://github.c

[2022-03-08 12:30] janosimas commented on #634
Just to clarify, I already have a script that I cannot modify and I'd like to use it.

This script tries to identify where it is located, using `$BASH_SOURCE`. This returns the temp directory because you're loading the content and executing in a temporary file in a different folder.

Would it be possible to, instead of loading the content, create a generic script with your boilerplate code that ca

[2022-03-08 12:32] janosimas commented on #632
I'll have to investigate more, I don't think I'll be able to work on this in the next weeks.

[2022-03-09 08:34] kazuk commented on #375
I write cargo-make makefile for grcov.

 https://github.com/kazuk/cargo-make-coverage-grcov

this works on my box (Ubuntu 20.04)

[2022-03-09 08:57] sagiegurari commented on #375
really cool. i'll try it out soon.

[2022-03-11 16:24] sagiegurari commented on #375
Thanks, this is really great. I'll update the readme to reference your repo.

[2022-03-11 16:24] #375 closed

[2022-03-11 17:24] sagiegurari commented on #636
released as part of 0.35.10

[2022-03-30 06:59] janosimas commented on #634
Sorry for the time taken.

I understand the limitation and the particularities of `bash` and the script I have to use.

I'm using `script = ". ./myscript.sh"` but it doesn't work for some of my cases because `$BASH_SOURCE` points to the temp folder.

[2022-03-30 07:04] janosimas commented on #634
On the args subject, it doesn't seam to work correctly with scripts.

Here is an example:
[code]

This will not print `some_arg`.

External args work as expected, e.g. `makers demo print_this`.

The behavior for commands is great and accepts both inputs:
[code]

[2022-03-30 07:28] janosimas commented on #632
This will be a lot of effort in my case.

I'll still but I'll close the issue as it is not solvable.

[2022-03-30 07:28] #632 closed

[2022-03-30 09:16] sagiegurari commented on #632
i gave a simple example to look at

[2022-03-30 09:19] sagiegurari commented on #634
that is not how it works.
args are for command, not scripts. why put args for scripts if you can embed them in the script? whats the use case?

args for scripts are the cli args you gave cargo-make, and those are sent to the scripts.

see more at:
https://github.com/sagiegurari/cargo-make#script

[2022-03-30 09:33] janosimas commented on #634
I expected it to work the same way, the use case is simply consistency.

If `args` is not compatible with scripts, let em suggest to have a warning of incompatible options.

[2022-03-30 09:41] sagiegurari commented on #634
i'm asking because why would you do

[code]

and not directly

[code]

whats the use case for that (apart of consistency)?
for commands there is no other way.

Currently, the only failure i give is if 2 actions were defined (for example both command and script or run_task) and warnings in case of unknown attributes (happens if you do spelling mistake for example and write comand instead of command

[2022-03-30 10:23] janosimas commented on #634
For me, the consistency is relevant specially when you're maintaining a makefile.

When you have a script that works like a command, `args` are more explicit.
[code]

I'll take a look at the code but I'm not sure when I would be able to make a PR.

[2022-03-31 06:17] sffc opened #639 "`cargo make` hangs if there is a bad internet connection"
### Describe The Bug

Running `cargo make` when the internet connection is weak (e.g., long ping time / lost packets) causes the command to hang for an indefinite amount of time.

### Suggested Fix

1. Add a command-line flag to `cargo make` to prevent it from phoning home to check for updates.
2. If the request hangs for more than ~3 seconds, skip the update check.

[2022-03-31 06:22] sagiegurari commented on #639
by default, updates are checked no more than once per week and you can turn it off via configuration:
https://github.com/sagiegurari/cargo-make#cargo-make-global-config
or via cli --disable-check-for-updates param

however, there are many other things that cause network checks for example if you invoke some cargo plugin, and its not there i install it.

[2022-03-31 08:47] janosimas opened #640 "How to use cwd with extend?"
I have a monorepo with many projects.

I created a `Makefile.toml` for each project and another one in the root folder.

My question/issue is that when I'm working on a project/folder the `cwd` of my tasks is relative to the folder. If I want to combine the projects in my root `Makefile`, for ci for example, the relative path does not exist because I'm executing from the root folder.

Is there a c

[2022-03-31 09:04] sagiegurari commented on #640
if we are talking about workspace, than when invoking a member, the cwd is the member directory, not the root.
so relative should be ok.

in addition, you have multiple env vars that can help out
https://github.com/sagiegurari/cargo-make#usage-env-global
for example:
CARGO_MAKE_WORKING_DIRECTORY - current, so if its a member, its a member dir even if you ran from root
CARGO_MAKE_WORKSPACE_WORKING_

[2022-03-31 11:29] janosimas commented on #640
The env setup script worked!
Thanks

[2022-04-05 09:13] fengqi2019 opened #641 "how to invoke the compiled file?"
for example:
[code]
but it can't to run. how do i configure it ?

[2022-04-05 15:39] #641 closed

[2022-04-08 05:20] kazuk opened #643 "run_task with condition rust_version not working?"
### Describe The Bug

`run_task` with `condition` criteria `rust_version` seems not working.

### To Reproduce

define makefile toml as bellow

[code]

I expect to runs `temp_nightly` and `n1` , not to run `temp_stable` and `s1` with Rust 1.59.0, but both to run.

[code]

[2022-04-09 01:19] kazuk commented on #643
Workaround found!

 works with `min` / `max` are correctly format `major`.`minor`.`patch`.

[code]

  results bellow

[code]

[2022-04-10 20:48] MartinKavik commented on #374
Hi,
I think I have a similar problem with `Ctrl+C`.
A `cargo-make` task is stopped by `Ctrl+C` but the process started by the associated command is shutting down and still writing to the terminal. The result is this:

![image](https://user-images.githubusercontent.com/18517402/162638442-c2c2c491-4cda-4240-aa1d-bb8d30ed9498.png)

The task is just a `cargo run` command; the executed app uses [tokio:

[2022-04-12 06:16] sagiegurari commented on #374
@MartinKavik thanks for the feedback.
The idea is interesting but i'm worried about use cases like the one that originally opened this issue which is a sub process that runs forever (such as a server) until you break it.

is there any signal you are getting that parent process died in your sub process? i guess the ctrlc you are not getting but i wonder whats there that prevents the process from be

[2022-04-12 20:59] MartinKavik commented on #374
I'm not sure if it'll answer your question, but:

I've made a simple experiment - added `ctrlc = "3.2.1"` to `cargo-make`'s `Cargo.toml` and modified `run_command_get_output`:
[code]
Then I executed `cargo run --manifest-path "../../../cargo-make/Cargo.toml" --bin "makers" -- mzoon start` to run the modified `cargo-make` version and pressed `Ctrl+C` after a while and the result is:

<img width="40

[2022-04-13 06:04] sagiegurari commented on #374
@MartinKavik very interesting. maybe if we modify what you did to
1. print shutting down...
2. wait for a half sec or so, so child process get the signal and do their thing
3. shutdown cargo make process
that might allow us to remove the need of double ctrlc + allow child process to handle the signal.
the only question, if step 3 comes before the child processes finished to terminate, would they s

[2022-04-13 19:30] tower120 opened #644 ""Task not found" with workspace AND "root package""
In crate with workspace AND "root package":

- Calling `cargo make build`/test/etc. ignores "root package"
- Calling `cargo make 'task_name'` (without CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE) results in "Task not found". Adding CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE ignores "root package".

Basic `cargo build`/test works fine.

[See attachment.](https://github.com/sagiegurari/cargo-make/files/8484155/c

[2022-04-14 04:40] sagiegurari commented on #644
@tower120 thanks for reporting.
I think its due to misunderstanding on my part of the spec so i'll fix that.
if i only picked up members from the members attribute and dependencies.
root, i only took if no members were defined, but thats my issue, if package is defined, i need to add the root as well.
i'll fix that.

[2022-04-18 10:54] gilescope opened #645 "`cargo install cargo-make` fails"
I get the following when trying to install:

[code]

The bug seems to be that it's not using the pure rust `rustls` by default. If it did then it would just install and not complain that it can't find some dodgy c library.

[2022-04-18 16:25] Blightbuster opened #646 "Setting working directory to a absolute path does not work"
### To Reproduce
[code]

Results in:
[code]

[2022-04-18 17:31] Blightbuster commented on #646
Same when using duckscript:
[code]

[2022-04-18 18:04] sagiegurari commented on #645
@gilescope thanks for the feedback.
you could try ```cargo install --no-default-features --force cargo-make``` for simpler no tls installation or even simpler just download the precompiled binaries available in the release tab.

when using tls, i'm using the openssl dependency (well... not directly, via duckscript with attohttpc which is http client, see #614) and i'm not sure its considered 'dodg

[2022-04-18 18:05] sagiegurari commented on #643
@kazuk I just pushed a fix in the dev branch 0.35.11 and would love your feedback. can you try it out and tell if it works well?

[2022-04-18 22:48] #646 closed

[2022-04-18 22:48] Blightbuster commented on #646
Issue was caused by me running the script inside a linux subsystem console in which the c drive didn't exist as such.

[2022-04-19 02:01] kazuk commented on #643
I test branch 0.35.11 with rust 1.59.0, seems not fixed.

[code]

[2022-04-19 06:46] sagiegurari commented on #643
I don't understand the test you did exactly. you didn't install it, you ran it from cargo-make directory which is not a workspace.

[2022-04-19 07:45] kazuk commented on #643
I got branch 0.35.11 and runs `cargo run --bin cargo-make -- make --makefile test_ver.toml test_switch_toolchain`.

[code]

Can you tell me how to install 0.35.11 branch?

[2022-04-19 08:11] sagiegurari commented on #643
oh really sorry, i answered wrong issue!!! my bad.
but in general to install cargo-make from git you can look at this:
https://doc.rust-lang.org/cargo/commands/cargo-install.html#synopsis
basically the command is: ```cargo install [options] --git url [crate...]``` so you can replace url with this repo.

this issue, i definitly want to understand why you need full version to work so i'll investigat

[2022-04-19 08:12] sagiegurari commented on #644
@tower120  I just pushed a fix in the dev branch 0.35.11 and would love your feedback. can you try it out and tell if it works well?

[2022-04-19 10:06] kazuk commented on #643
that works fine! Thank you.

- run on `rust-toolchain` = 1.59.0

[code]

- run on `rust-toolchain` = 1.60.0

[code]

[2022-04-19 11:40] tower120 commented on #644
I unfamiliar with compiler crates. How can I build/apply it?

[2022-04-19 14:44] sagiegurari commented on #644
you can look at this explanation https://doc.rust-lang.org/cargo/commands/cargo-install.html#synopsis
basically its
cargo install --git git@github.com:sagiegurari/cargo-make.git --branch 0.35.11

[2022-04-19 15:27] tower120 commented on #644
Looks like the same error with project attached in issues.

[2022-04-19 16:01] sagiegurari commented on #644
meaning its ignoring the 'root' package? can you show me the output please?

[2022-04-19 16:39] tower120 commented on #644
[code]

[2022-04-19 16:50] sagiegurari commented on #644
I only update the version when i publish so thats ok.
is the test you are running the same as you attached initially? did you set the CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE?
if so i'll use it as a test to check

[2022-04-19 16:52] tower120 commented on #644
I just download attachment from and tried with it, to double check. It is the same error I just wrote.

[2022-04-19 16:54] tower120 commented on #644
`CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE` is not set in there

[2022-04-19 16:54] sagiegurari commented on #644
ok that should be set since you want in the member to access a task that is defined in the root. right?

[2022-04-19 17:22] tower120 commented on #644
I think no - since I don't want member tasks to be build through `cargo-make` process. Only root one. I want root crate to serve as lib hub.
See https://github.com/bevyengine/bevy project structure, for example.

[2022-04-19 17:26] tower120 commented on #644
Or that was not the question? I just looked at doc - it looked like I didn't need `CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE`.

[2022-04-19 23:30] MartinKavik commented on #374
A cargo make task has to explicitly kill its children - without killing we just add a delay to the current cargo make behavior I think.
Timeouts are always tricky. I can imagine shutting down long-running processes with things like embedded temporary databases (for instance blockchain dev nodes/validators or MoonZoon apps in my case in the future) will take more than a second to finish because of

[2022-04-20 07:56] sagiegurari commented on #643
@kazuk great. thanks for checking. i'm hoping to have a new release soon with this fix.

[2022-04-20 07:57] sagiegurari commented on #639
@sffc did you check the disabling the update via config/cli?

[2022-04-20 08:16] sagiegurari commented on #644
let me explain a bit.
cargo-make checks the makefile.toml in the directory its invoked.
for workspace its invoked as child process for every member.
so in the member that is on different dir, it doesn't see the makefile in the workspace root.
in order to automatically 'extend' the root makefile, you need that env var defined.

i just took your example, uncommented that env var comment and made it

[2022-04-20 08:33] sagiegurari commented on #374
I like the opt-in idea.
I wonder if we can 'flag' specific tasks to enable this behavior only for them somehow.
because the issue doesn't happen all of the time, only to specific child processes.
So maybe, we could add some 'execution hints' struct to the toml. something that we can extend later on...

[code]

not nice... but it could give a workaround to the issue which is pretty rare without bre

[2022-04-20 10:45] tower120 commented on #644
I did
[code]
Doesn't that install compiled git version?

I uncommented CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE - I still have the same error as above.

[2022-04-20 17:13] John0x opened #647 "Override env var"
Hey, I did expect env_files to behave like typical dotnet files, which surprisingly isn't the case. Is that intended?
My env_file has a variable "CONNECTION_STRING", which should default to the value set in the env_file but be overwritten, if it's defined as an environment variable.
It's not being overwritten tho, is it a bug?

Usecase:
Having default values defined in the env_file that will be ov

[2022-04-20 17:23] sagiegurari commented on #647
env files do override existing vars.
can you give me a simole test case to try it out?

[2022-04-21 07:03] sagiegurari commented on #644
@tower120 here is what i did. can you please check it and compare with your test?

* Created new empty gitpod machine

* Run installation and pull example:

[code]

* manually uncomment CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE

* run ```cargo make build-test-1```

output:
_see that member is invoked with task but fails on rustc setup which is ok, but task is found_

[code]

* create some test task in

[2022-04-21 07:08] sagiegurari commented on #647
I created the following env file:

[code]

and makefile:

[code]

ran the following command: ```CONNECTION_STRING=CLI cargo make envtest```
and the output was:

[code]

which shows that env file overridden the current env value just fine.
so this seems ok to me unless you have a test case that shows otherwise.

[2022-04-21 09:39] John0x commented on #647
The environment variable isn't being properly propagated to the applications that are run.

envfile:
[code]

makefile:
[code]

Being invoked with:
``
cross-env CONNECTION_STRING=fromcli cargo make testo
``

Output:
[code]

[2022-04-21 09:42] sagiegurari commented on #647
'envfile' is what you defined in your env file so... isn't that the right value?
i see you have a workspace, maybe thats the issue, can you setup a test case for me to check?

[2022-04-21 09:44] John0x commented on #647
Nope. Output should be "connection string: fromcli".
At least that's what I would expect from an .env file: https://www.npmjs.com/package/dotenv
Expected behavior: Environment Variable takes precedence over .env file

I'll check if the workspace is the problem

[2022-04-21 09:48] sagiegurari commented on #647
ok now i got you. no, thats not how it works at the moment.
this is the logic: https://github.com/sagiegurari/cargo-make#usage-env-vars-loading-order
cargo-make overrides whats already defined. if you want to provide via cli you should use the -e cli param.
for example: ```cross-env cargo make -e CONNECTION_STRING=fromcli testo```

[2022-04-21 09:51] John0x commented on #647
ah, okay. But isn't that the whole purpose of dotenv files?
Declaring sane default that can then be overwritten by the environment that it's being run on.

For example by .env file will contain the connection string that is being used for local development (the default), which will then be overwritten by the docker image for production.

[2022-04-21 09:56] sagiegurari commented on #647
i only used it as an alternative of defining everything in the makefile.toml and not as dotenv alternative.
basically a simple ability to also have different prod/dev env files and load the right one.
to have the ability to use different values for dev and production i have profiles: https://github.com/sagiegurari/cargo-make#usage-profiles
with profiles you can load different env files, env blocks

[2022-04-21 09:59] John0x commented on #647
Okay, thanks for the clarification. But I think it would be better to not name them .env files then. Dotenv isn't really a standard but it's pretty established and therefore can cause a lot of confusion if it doesn't behave the way you'd expect .env files to behave.

[2022-04-21 10:16] sagiegurari commented on #647
at this point it would be a big backward break, so not sure i am for that change. also the original purpose was different and that's why i documented the order specifically.
i do understand the confusion.

[2022-04-21 11:31] sagiegurari commented on #647
closing this one for now

[2022-04-21 11:48] tower120 commented on #644
Looks like you repeat my steps, but result is different on my local machine.
I uncommened CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE. And tried to add `tasks.echo` - it does not see that task too.

Could you increase crate version number in dev branch? I have filling that somehow crates.io version is still in use.

[2022-04-21 11:52] sagiegurari commented on #644
@tower120 you can fork that branch to you and update it and than install it from your fork.

[2022-04-21 12:08] tower120 commented on #644
I tried to increase version and install. Still no luck.
You know - maybe this is indeed something on my side - I just not see it.

[2022-04-21 12:19] tower120 commented on #644
How? I'm on Windows. For example:
[code]

[2022-04-21 12:25] sagiegurari commented on #644
oh, windows :). so try to delete it, and run it and see if it fails (it should). then install again.

[2022-04-21 12:30] tower120 commented on #644
Unistalled then installed. No effect - still `ERROR - Task echo not found`.

[2022-04-21 12:32] sagiegurari commented on #644
so maybe i got a bug on windows?
hard to say. try to put verbose logs and redirect to file and attach it as a file or something. it will be big.

[2022-04-21 12:40] tower120 commented on #644
Just FYI - I already migrated to powershell script.

[cargo make --verbose echo](https://github.com/sagiegurari/cargo-make/files/8531051/test.log)

[2022-04-21 14:17] rbartlensky opened #648 "Condition not taken into account when script is present"
Small preface: This project is amazing! For every little odd thing that I wanted to do there was a clear way of achieving it  -- you thought about everything!

### Describe The Bug

Since you can set a default value for an environment variable that is not set, I thought you could achieve the same even when the default value is "taken from" a script.

### To Reproduce
[code]

Running the above:
[co

[2022-04-21 14:25] sagiegurari commented on #647
what do you mean exactly? to have a file that only contains 'defaults'?
you can do it via duckscript in env_script attribute. something like this (not tested):

[code]

[2022-04-21 14:28] sagiegurari commented on #644
ok, something is strange to me here...
you are running it from C:\tmp\bevy_test right?
in the Cargo.toml there you have dependency:  "../bevy"?
I think at the moment, its not detecting it as a workspace. are these 2 folders defined under a same workspace?

[2022-04-21 14:41] sagiegurari commented on #644
per the spec, in order to bevy_test to be considered workspace root, it must have the [workspace] tag
https://doc.rust-lang.org/cargo/reference/workspaces.html#root-package
so i'm just wondering how the structure is of the project exactly

[2022-04-21 15:06] tower120 commented on #644
Damn, sorry. I tried that with a wrong project.
It turns out that it working.

[2022-04-21 15:10] sagiegurari commented on #644
great news. i was worried I got more 'windows' specific issues since i don't have windows to try it on..... so happy its resolved.
i'm hoping to officially release it soon

[2022-04-21 15:11] sagiegurari commented on #648
@rbartlensky I just pushed a support for this in the dev branch. You can install it from there (0.35.11) and try it out.
tell me if it solves your issue or more changes are needed.

[2022-04-21 16:41] John0x commented on #647
Thank you @sagiegurari
But that doesn't seem to propagate the set env vars to the applications being run, does it?

[2022-04-21 16:52] rbartlensky commented on #648
@sagiegurari That was a very speedy reply and fix! I can confirm it's working now:
[code]
I think the version wasn't bumped in your commit, but I'm pretty sure I'm running 0.35.11 :)

Thank you again for everything!

[2022-04-21 18:24] sagiegurari commented on #648
I'm only bumping before releasing. thanks for the idea and for verifying

[2022-04-21 18:25] sagiegurari commented on #647
can you share an example?

[2022-04-21 20:10] sagiegurari commented on #647
@John0x like i wrote in the example, its not tested.
i checked it and there was a bug there.
this should work

[code]

[2022-04-21 20:25] sagiegurari commented on #647
apart of the script i gave you which should solve your issue, i could also add an attribute to enable that.
so it would be something like:

[code]

[2022-04-21 22:12] sagiegurari commented on #647
ok, decided to go for it.
its as i wrote:
[code]

[2022-04-22 17:19] sagiegurari commented on #374
@MartinKavik I looked at that crate.
1. you can't remove handler
2. you can't replace a handler
3. you can't check if handler is defined.
it is a bit limited for some reason.

[2022-04-22 18:36] sagiegurari commented on #648
@rbartlensky this is now officially released.

[2022-04-22 18:36] #648 closed

[2022-04-22 18:36] sagiegurari commented on #644
@tower120 this is now officially released.

[2022-04-22 18:36] #644 closed

[2022-04-22 18:36] sagiegurari commented on #643
@kazuk  this is now officially released.

[2022-04-22 18:36] #643 closed

[2022-04-22 18:37] sagiegurari commented on #647
@John0x this is now officially released.

[2022-04-22 18:37] #647 closed

[2022-04-22 18:38] sagiegurari commented on #639
closing due to lack of feedback and existing config

[2022-04-22 18:38] #639 closed

[2022-04-22 18:38] sagiegurari commented on #645
@gilescope did you check the options I detailed?

[2022-04-25 05:07] sagiegurari commented on #647
@John0x can you share if this resolved your issue?

[2022-04-26 09:59] sagiegurari commented on #645
closing due to lack of feedback and existing solutions

[2022-04-26 09:59] #645 closed

[2022-04-27 14:40] John0x commented on #647
Thank you very much :)
I'll try it tomorrow. Not in the office right now

[2022-04-28 18:30] John0x commented on #647
Seems to be working fine
Thank you for your work :)

[2022-05-05 19:22] comath opened #652 "8.1.0 cargo-watch dependency has been yanked"
### Describe The Bug
The 8.1.0 cargo-watch dependency has been yanked. It should point to 8.1.1 not 8.1.0. If you manually install 8.1.1 it works.

### To Reproduce
On a clean install (with no `cargo-watch`) and with this makefile:
[code]
run `cargo make build`.

### Error Stack

[code]

### Code Sample

I don't think it gets to my rust code.

[2022-05-05 19:47] sagiegurari commented on #652
@comath thanks, i'm releasing a fix for this now.
i wonder why 8.1.0 was yanked.

[2022-05-05 20:38] sagiegurari commented on #652
@comath can you please reinstall and tell me if this issue is resolved?

[2022-05-05 21:17] comath commented on #652
@sagiegurari  It worked! Thank you. :smile:

[2022-05-06 08:38] Fs00 opened #653 "Add ability to disable updates check at startup via environment variable"
### Feature Description
At our company we have Docker containers used for development which bundle cargo-make. In those environments it doesn't make sense to check for cargo-make updates since we periodically update the Docker image to use the latest version.
Update checks inside containers easily become annoying due to the fact that they occur every time we spawn new containers with `docker run`,

[2022-05-06 08:41] sagiegurari commented on #653
you van also define global configuration file in your container

https://github.com/sagiegurari/cargo-make#cargo-make-global-config

[2022-05-06 08:48] Fs00 commented on #653
Yep, I'm aware of it, but the global config doesn't give the ability to fully disable update checks (you can set the frequency, but then you still have the problem of the cache starting from scratch when you run a new container).

[2022-05-06 09:01] sagiegurari commented on #653
you run a new container each time? is that for a CI flow?
if so, if you set CI=true as env var, it will be disabled. however there are few other things that might behave differently for CI

[2022-05-06 15:43] Fs00 commented on #653
For some of our projects, our local development workflow consists of opening a shell inside a new container (e.g. `docker-compose run --rm xxx bash`) and launching cargo-make tasks (e.g. `cargo make test`/`cargo make run`) from there.
Since this happens quite often (at least once a day) and checking updates is quite slow, we'd like to have a simple way to opt-out from update checks.

[2022-05-06 17:07] sagiegurari commented on #653
ok got it. let me see what can be done

[2022-05-07 13:01] sagiegurari commented on #653
@Fs00 this is now implemented in the dev branch 0.35.13 using a new env variable CARGO_MAKE_DISABLE_UPDATE_CHECK
just set it to true or 1 and it should work.
can you please verify it works well for you?

[2022-05-07 14:52] Fs00 commented on #653
Many thanks!
How can I install the development version from the 0.35.13 branch?

[2022-05-07 17:43] sagiegurari commented on #653
try

cargo install --git git@github.com:sagiegurari/cargo-make.git --branch 0.35.13

[2022-05-10 14:52] mightyiam opened #655 "Logging of script lines de-synced from script output"
### Describe The Bug

I wouldn't expect to see [this line](https://github.com/mobusoperandi/michie/runs/6372140047?check_suite_focus=true#step:6:116) where I see it.

I'm hoping there's no need for a reproduction... But if the cause of this issue is not immediately apparent to you then well I guess I could come up with one.

[2022-05-10 14:56] sagiegurari commented on #655
logging of script lines in linux/mac is done via bash built in flags.
cargo-make doesn't output it on it's own.

[2022-05-10 16:19] mightyiam commented on #655
[code]

line 3 is in between lines that are from a process that I expect to already have exited before the code in line 3 is executed.

That means line 4 is from a process that had exited before the code in line 3 had executed.

Does this provide a good enough clue for what could be the cause or do we need a reproduction?

[2022-05-20 20:00] tomers opened #656 "Support providing args as single sting"
### Feature Description

I have the following task:
[code]

As you can see, the final command line is rather unreadable. It is equivalent to Python's `Popen`:
[code]

Alternatively, I can use the following syntax to be able to write a single string, which is more readable:
[code]

From Python docs at https://docs.python.org/3/library/subprocess.html#frequently-used-arguments:

So instead of `shlex

[2022-05-21 05:34] sagiegurari commented on #656
you can use script instead of command to get the same experience

[2022-05-22 19:07] Toasterson opened #657 "Workaround to install on illumos"
### Describe The Bug
This crate cannot be installed on illumos

### To Reproduce
On any illumos machine
[code]

### Workaround
- Clone this repo locally
- cd into repo
- Add the following patch
[code]
- Install with `cargo install --path ./`

### PR Link
ogham/rust-users#49

[2022-05-23 13:29] Fs00 commented on #653
Sorry for my late response, I've just tested it in a container and it seems to work!
[code]

[2022-05-24 17:36] sagiegurari commented on #657
@Toasterson with the new fsio release, is this patch still needed to make cargo-make install and work on illumos?

[2022-05-25 16:52] Toasterson commented on #657
Yes, tested with fsio v0.3.1 and the patch can be removed.

[2022-05-25 16:52] #657 closed

[2022-05-26 09:07] tomers commented on #656
Thank you @sagiegurari for this thorough explanaition. I'll adopt the idea of maintaining external scripts for various targets, and just call them from the cargo make configuration file.

[2022-05-26 09:07] #656 closed

[2022-05-31 21:11] sffc opened #658 ""toolchain" is not obeyed when running Duckscript"
### Describe The Bug

The `toolchain` config option in Makefile.toml seems to only affect commands run directly with `cargo`. However, if I invoke the `cargo` tool from inside Duckscript, I would like the toolchain to also be applied.

### To Reproduce

Add the following rules to your Makefile.toml:

[code]

Actual behavior:

[code]

Expected behavior: both the first command and the second command

[2022-06-01 04:47] sagiegurari commented on #658
@sffc thanks for reporting.
I think the readme might not have been clear enough but this is only supported for commands, meaning 'command' attribute, not scripts (thats where i think i wasn't clear in my readme).
the issue you raise is valid, but if i fix duckscript, it would be confusing why its not working for simple shell scripts (where i can't possibly be able to fix).

as an alternative, i su

[2022-06-01 07:17] sffc commented on #658
Thanks for the reply!

That's basically correct, and your workaround should generally work, except in my case the invocation of `cargo` is actually hidden inside another Rust program. So `cargo make` calls duckscript which calls `program` which calls `cargo somecommand`. The inner program (which I did not write) checks the `$CARGO` environment variable to figure out which cargo to use.

[2022-06-02 02:43] sffc commented on #658
Hmm. I think part of the confusion is that `rustup run` does not override the environment variable `$CARGO`, so the cargo version running the script "leaks" into the environment of the script.

[2022-06-02 03:28] sagiegurari commented on #658
lol. you are right.
let me think of something, i might have a solution.

[2022-06-02 09:31] sagiegurari commented on #658
@sffc can you check development branch 0.53.13
It should define the CARGO env var for any script (not just duckscript) invoked from a task when a toolchain is defined.

[code]

[2022-06-07 16:22] mightyiam commented on #655
Yes, it was in GitHub Actions. And their log web UX has some issues. I didn't realize that it's that serious, though. Ordering is kind of important.

[2022-06-07 16:22] #655 closed

[2022-06-10 18:49] angelorendina opened #661 "Possible error in docs, and in cache.toml location"
### Describe The Bug
1. The [documentation](https://github.com/sagiegurari/cargo-make#installation) states that cargo-make gets installed in `$HOME/.cargo/bin`, but this is not necessarily true. As per [cargo install docs](https://doc.rust-lang.org/cargo/commands/cargo-install.html#description), the installation location can be set in a number of ways (`$HOME/.cargo` being the fallback).
2. Not en

[2022-06-10 21:26] sagiegurari commented on #661
thanks the info.
the cache actually is not related to cargo location but to the platform cache standard location
see more here
https://docs.rs/dirs-next/latest/dirs_next/fn.cache_dir.html

[2022-06-11 07:05] sagiegurari commented on #658
@sffc did you have a chance to verify the change?

[2022-06-11 12:16] sagiegurari commented on #658
this is now released. @sffc feel free to reopen if needed and thanks for notifying me of this issue

[2022-06-11 12:16] #658 closed

[2022-06-11 12:17] sagiegurari commented on #653
@Fs00 this is now released

[2022-06-11 12:17] #653 closed

[2022-06-11 12:17] sagiegurari commented on #374
This is now officially released

[2022-06-11 12:17] #374 closed

[2022-06-11 12:25] Fs00 commented on #653
Great, many thanks! I think it may be worth documenting this feature in the Readme too.

[2022-06-11 19:31] sagiegurari commented on #661
closing since i think this is explained. if there are more issues or answer is lacking feel free to reopen.

[2022-06-11 19:31] #661 closed

[2022-06-13 17:38] John15321 commented on #341
@mmstick
@sagiegurari
Could we use `cargo-deb` for that?
https://crates.io/crates/cargo-deb
"This is a [Cargo](https://doc.rust-lang.org/cargo/) helper command which automatically creates binary [Debian packages](https://www.debian.org/doc/debian-policy/ch-binary.html) (.deb) from Cargo projects."

[2022-06-13 18:15] sagiegurari commented on #341
ya probably but I'm not familiar with the entire publishing process to debian. need to learn a bit on it.

but a good start would be to create a deb file and have it part of the binary release artifacts

[2022-06-13 18:53] John15321 commented on #341
I would really like to contribute to your package because I really like it so If you would like I can take of it 😄

[2022-06-13 20:26] John15321 commented on #341
Sure 😄 I will start tomorrow and ask you if I don't know something

[2022-06-13 22:00] sagiegurari commented on #658
thanks for checking

[2022-06-13 22:19] John15321 commented on #341
@sagiegurari

Hey Im trying to build it locally (on an ubuntu vm, its on arm)

And Im getting this compilation error (I set my rustc version to 1.56.0):

[code]

[2022-06-13 22:30] John15321 commented on #341
Do you guys have any build instructions? I cannot find any

[2022-06-14 04:49] sagiegurari commented on #341
are you on master?
make sure to upgrade your rustc as well.

github actions defined for this repo serve as best build instructions. you can see os, rust version, ...

[2022-06-14 04:52] sagiegurari commented on #341
by the way I do:
[code]
(which is also the same in the github actions) as the command to build and test

[2022-06-14 04:55] sagiegurari commented on #341
@John15321 ignore what i said. seems that clap broke something and are not backward compatible.
they released 3.2 14 hours ago and its not compatible with 3.1 although minor version should be backward compatible.
its third time they are doing this and i'm seriously thinking of dropping clap

[2022-06-14 05:52] John15321 commented on #341
Checkout structopt
https://crates.io/crates/structopt
It's fully stable aka now it's only reciving bug fixes and i would say it's all that most programs would need
It's actually what clap is based on

[2022-06-14 06:03] John15321 commented on #341
Yeah i noticed that clap isn't the best in the way it is maintained. For example because structopt was merged into it, it has quite a few of it's features but they are not documented at all. I managed to use those features thru trial and error and when confronted as to why not document them as they are very useful and basic (like changing the name of the parameter etc). They said that's it's fine

[2022-06-14 06:29] John15321 commented on #341
@sagiegurari
Also, I would suggest adding some sort of a nightly build for your project in the CI. Its made to catch things like this

[2022-06-14 07:29] sagiegurari commented on #341
nightly build exists. you mean recurring build every day/week not due to code change?

[2022-06-14 07:31] John15321 commented on #341
Oh right, i forgot that it could also mean building it with the nightly edition of the rust compiler. But yes I mean running a build every day/night. Generally speaking the more CI jobs like this you have the easier it is to catch some regression as your frequency of measurement increases scientifically speaking

[2022-06-15 05:03] sagiegurari commented on #341
thats a good idea.
by the way, to unblock yourself until i fix the clap issue, you can remove the deprecated lint enforcement i have

[2022-06-18 17:38] sagiegurari commented on #341
@John15321 please work on top of branch 0.35.14 where i pushed fixes for clap

[2022-06-19 16:18] John15321 commented on #341
@sagiegurari  Im having a problem with cross-compilation due to that `ring` library.

<img width="546" alt="image" src="https://user-images.githubusercontent.com/56229312/174490372-7a4add76-40c0-48b0-9d3c-34f05a2432ce.png">

That appears not on any cross-compilation. So given that we can have an amd64 ubuntu runner that's cool and we can have a deb package for amd64, but given that GitHub does not

[2022-06-19 16:18] John15321 commented on #341
What do you think?

[2022-06-19 16:23] John15321 commented on #341
Also I think that after I manage to get this one running properly I could take a look at making packages for other distros like arch, fedora etc. I have been in the Linux world for a long time and I would love to do that

[2022-06-21 20:54] sagiegurari commented on #341
i prefer the deb to be uploaded to the release like other binaries.
if we can't manage arm, lets skip it. i mean, the more options we can give the better but its not all or nothing.
i work on arm by the way (rasp pi) so i am aware of the issues.

[2022-06-21 21:18] John15321 commented on #341
Sure, makes sense. So I will do it for amd64 releases so that it goes to the release section. Also, I would recommend we make an issue about not being able to cross-compile because of musl. Just so that we have it in the backlog so the problem itself is somehow remembered/stored

[2022-06-25 15:24] John15321 commented on #341
@sagiegurari I opened this PR with my changes. Please take a look at them. It's been a while since I have been playing with GitHub Actions and I want to be sure that my change to the CI doesn't affect other release artifacts being appended to the release itself.

https://github.com/sagiegurari/cargo-make/pull/665

Here is an example of the output of this workflow on my fork:
https://github.com/Joh

[2022-06-26 04:06] jingzhaoou opened #666 "Default environment variable"
### Feature Description

In Makefile, I can do
[code]
That is, if user does not define `AN_OPTION`, default its value to `default_value`. I searched for a while and don't see any solution how to achieve such behavior with `cargo make`.

I think I can implement this through env scripts. However, I am curious if there are any better solutions. Thanks a lot!

[2022-06-26 04:11] sagiegurari commented on #666
PREFER_EXISTING = { value = "new", condition = { env_not_set = ["PREFER_EXISTING"] } }

[2022-06-27 07:24] jingzhaoou commented on #666
Wow, that is exactly what I am looking for. I highly recommend to add that to the document. More than happy to help out the `cargo make` project whenever possible. I am using it daily since I found it two weeks ago.

[2022-06-27 07:24] #666 closed

[2022-06-27 10:22] sagiegurari commented on #666
i actually copied it from the documentation :)

[2022-06-27 17:18] MartinKavik opened #667 "Support ${@} in Duckscript tasks"
### Feature Description
Support ${@} in Duckscript tasks

### Describe The Solution You'd Like
It would be nice to use `${@}` in tasks written in Duckscript to pass an array of task arguments.

### Code Sample

My current ugly task definition:

[code]

The future refactored code with `#{@}`:

[code]

---

Related question:
Can we somehow use an _array_ as arguments? E.g. `exec --fail-on-error make

[2022-06-27 17:40] MartinKavik commented on #667
[code]
^ this seems to work. `${x}`s are still ugly but the code is much better now. Thanks.

[2022-07-03 03:08] RuijieYu opened #668 "Add alias `--quiet` for `--loglevel error`"
### Feature Description

This is a snippet for the `--verbose` flag on the newest version, `0.35.13`:
[code]

I would like to have a similar flag, `--quiet`, that is equivalent to `--loglevel error`.  This `--quiet` flag also aligns well with many other cli tools where `--verbose` and `--quiet` flags are both accepted and work as expected.

I imagine the added snippet for the `--quiet` flag would

[2022-07-04 06:18] sagiegurari commented on #668
will handle it. i'm rebuild the cli anyway so good timing

[2022-07-20 21:37] jirutka opened #670 "Missing Cargo.lock in the repository / release tarballs"
Please include `Cargo.lock` in the repository and keep it up-to-date when releasing new versions. It’s important for (linux) distributions to ensure reproducible builds.

[2022-07-20 21:43] sagiegurari commented on #670
I'm not sure cargo-make is packaged by any linux dist. could be wrong.

[2022-07-20 21:47] jirutka commented on #670
You are wrong… https://repology.org/project/cargo-make/versions. ;) And I’m currently packaging it for Alpine Linux.

[2022-07-21 08:28] sagiegurari commented on #670
oh wow. nice. any chance you can also do some PR to update the docs and put some installation instructions using package managers for relevant dists?

[2022-07-21 13:55] sagiegurari commented on #668
@RuijieYu this is now available in the 0.35.14 dev branch.
You can validate it works well for you.

[2022-07-21 15:49] sagiegurari commented on #667
@MartinKavik this is now released. if there are issues feel free to reopen. thanks for the idea.

[2022-07-21 15:49] #667 closed

[2022-07-21 15:50] sagiegurari commented on #670
this is now officially released

[2022-07-21 15:50] #670 closed

[2022-07-31 00:52] dbanty commented on #442
I'm pretty sure this project is available via `cargo-quickinstall` now—though I've been using [`cargo-binstall`](https://github.com/ryankurte/cargo-binstall) to get at it. I'm not sure about resolution priority, but you could support the `cargo-binstall` format directly to not have to wait on `cargo-quickinstall`'s build pipeline.

[2022-07-31 01:07] dbanty opened #674 "Allow using `cargo-binstall` / `cargo-quickinstall` to download `install_crate` dependencies"
### Feature Description

Building crates from scratch can be slow—luckily [`cargo-quickinstall`](https://github.com/alsuren/cargo-quickinstall) and [`cargo-binstall`](https://crates.io/crates/cargo-binstall) provide a solution! Popular crates (in the case of quickinstall) or crates that opt-in to the right format (in the case of binstall) can be downloaded as prebuilt binaries! I'd love to be able

[2022-07-31 07:42] sagiegurari commented on #674
good idea. I'll check it out

[2022-07-31 12:09] frederikhors opened #675 "What about adding it on Chocolatey?"
What do you think about adding it on https://chocolatey.org so we can install it using the below command?

[code]

I would like to use it also on Windows PCs without rust and cargo.

[2022-07-31 12:33] frederikhors opened #676 "warning: the following packages contain code that will be rejected by a future version of Rust: winapi v0.2.8"
Installing it on Windows with `cargo install cargo-make` it works but prints this warning:

[code]

[2022-07-31 15:25] frederikhors opened #677 "[FR] A way to use `pwsh.exe` (PowershellCore) on Windows by default instead of `cmd.exe`"
I'm using Windows and [the new Powershell Core](https://github.com/PowerShell/PowerShell) (`pwsh.exe` and not `powershell.exe`).

It would be amazing to be able to use `pwsh.exe` instead of `cmd.exe` by default:

[code]

[2022-07-31 15:41] frederikhors opened #678 "[FR] Reduce logs info"
Is there a way to remove all the messages like these below?

[code]

[2022-07-31 16:41] sagiegurari commented on #675
good idea. will have to check out how....

[2022-07-31 16:42] sagiegurari commented on #676
I don't use that directly. what rust version do you use?

[2022-07-31 16:43] sagiegurari commented on #677
you can use that runner today by pointing to that exe. you can't change defaults but that might break other makefiles you are importing (like the core makefiles)

[2022-07-31 16:44] sagiegurari commented on #678
you can change to err logs using the quite flag or loglevel flag. even change the default log level via machine level config.

[2022-07-31 18:43] frederikhors opened #679 "JSON schema outdated?"
i think the JSON schema is outdated: https://github.com/tamasfe/taplo/issues/294#issuecomment-1200476690

[2022-08-01 08:51] frederikhors commented on #678
Thanks, I tried and `--quiet` works.

But since I would like to use makers every day to perform routine operations calling it by hand in the terminal I would like to avoid using that flag every time.

What do you think of a config like this?

[code]

Obviously it would be a low priority config because it would then be overridden by the other methods of changing the log level.

[2022-08-01 08:53] frederikhors commented on #677
I can use that runner only if I use this config:

[code]

[2022-08-01 08:54] frederikhors commented on #676
[code]

[2022-08-04 11:05] indietyp opened #685 "Env variable interpolation stops working when extending"
### Describe The Bug

When redefining environmental variables, from a Makefile that we extend from and execute any task `@@split()` no longer works.

### To Reproduce

Minimal Reproducible Example:

extend.toml

[code]

base.toml

[code]

[code]

### Error Stack
### Code Sample

[2022-08-04 11:14] indietyp commented on #685
Update: if `CARGO_TEST_HACK_FLAGS_BASE` is defined in `base.toml` This issue does not occur:

extend.toml: unchanged

base.toml

[code]

[code]

[2022-08-05 15:39] sagiegurari commented on #685
The order to env vars is preserved since env vars may depend on others (as you did for example).
So order is defined from base to extended and so on....
in your case its as follows:

base->CARGO_TEST_HACK_FLAGS
extended->CARGO_TEST_HACK_FLAGS_BASE, CARGO_TEST_HACK_FLAGS

so overall order is:
CARGO_TEST_HACK_FLAGS, CARGO_TEST_HACK_FLAGS_BASE

so when CARGO_TEST_HACK_FLAGS is evaluated, CARGO_TEST_H

[2022-08-05 15:49] sagiegurari commented on #679
@frederikhors thanks for updating me. ya, i'm not the one who originally wrote it and I do not maintain it.
However, if you could push a PR to that repo to update it, it would be appreciated :)
since the code is not hosted in this repo, i'll be closing this issue since its not actionable here.

[2022-08-05 15:49] #679 closed

[2022-08-05 15:50] sagiegurari commented on #678
no, that would be too late since cargo-make loads and prints before it loads the toml file.
like i wrote, you can configure it in machine level via log_level flag.
See: https://github.com/sagiegurari/cargo-make#cargo-make-global-config

[2022-08-05 15:56] sagiegurari commented on #677
yes exactly!
so you can do something like this to reuse the definition:

[code]

however, if you want multi platform, you can add the .windows like this:

[code]

also if you want to have some automatic handling without doing extend, you can write a custom cargo-make plugin:
https://github.com/sagiegurari/cargo-make#usage-plugins

[2022-08-05 16:07] sagiegurari commented on #676
@frederikhors this is due to the ftp crate i'm using in duckscript for ftp commands.
the project feels abandoned, so I'll probably move to another crate. maybe suppaftp

[2022-08-05 16:58] indietyp commented on #685
Thanks for the reply. This is pretty unintuitive because of the following:
The value isn't replaced with an empty string but instead with the value that isn't split.

What I expect:

[code]

What I get:

[code]

As you can see, the value is still inserted, but only as a string, which then isn't split. I'd say this is quite unintuitive.

In my mind, how it would work, ideally, is doing it kind of l

[2022-08-05 20:51] sagiegurari commented on #685
@indietyp i get the confusion. it is confusing. but i'll give you a counter scenario

base
env1 = x
env2 = ${env1}

extended
env1 = y

with your solution it will do
env1 = x
env2 = x
env1 = y

with mine
env1 = y
env2 = y

so order matters a lot and extend doesn't change execution order and doesn't cause multiple executions.
its taking multiple configs and putting them one on top of the other and r

[2022-08-06 09:08] indietyp commented on #685
That's also what I expect, but my case is

base
env2 = y

extended
env1 = y
env2 = ${env1}

That env2 is also y, which in the current case works, but not really.

[2022-08-06 09:54] sagiegurari commented on #685
i gave different scenario of possible issue in case i go with your suggestion. please read carefully.

[2022-08-06 10:20] indietyp commented on #685
Sorry, I misunderstood. I see what you mean now. This makes sense. It's all about trade-offs. I am still confused about why the string is inserted into the arguments. Do you have any idea? Maybe a diagnostic warning about this specific case would be suitable?

[2022-08-06 10:22] sagiegurari commented on #685
i can't remember if i'm changing it to empty string or leaving it as is when i can't find the env var. is that the case you are talking about?
can you give basic example for me to check?

[2022-08-06 10:55] frederikhors commented on #677
Thanks.

It may work, but I feel it could be done better. Each time the script starts it must create a temporary `.ps1` file. I don't think that's the fairest thing in the world.

A way to directly call `pwsh.exe` with the command would really be much better.

[2022-08-06 10:57] sagiegurari commented on #677
you can use the command and args if possible. meaning put in command pwsh and in args the script (if powershell supports that...)

[2022-08-06 11:02] frederikhors commented on #677
I'll try now.

Anyway, I'm having this error trying with this code:

[code]

[code]

Why?

[2022-08-06 11:11] indietyp commented on #685
I think I finally know where the confusion is coming from. With my suggestion

base
env1 = x
env2 = ${env1}

extended
env1 = y

result
env1 = y
env2 = y

would still work, but also

base
env1 = x
env2 = x

extended
env1 = y
env2 = ${env1}

result
env1 = y
env2 = y

would work because when we encounter the 2nd `env2`, we recalculate the "dependency" graph. In the first example, `env1` is already de

[2022-08-06 11:14] frederikhors commented on #677
So I can confirm this works on Windows:

[code]

Is there a way to use this?

I tried with:

[code]

but I get an error:

[code]

[2022-08-06 11:23] frederikhors commented on #677
Ok the problem was I was using `script` in `[tasks.print_hello]`.

The error now is this:

[code]

with:

[code]

Why?

[2022-08-06 11:24] frederikhors opened #686 "Error "Task is private" using `extend` on a private task"
I'm having this error trying with this code:

[code]

[code]

Why?

[2022-08-06 11:27] frederikhors commented on #679
The repo I linked is not who maintains the json schema.

Do you know which is the repo? I can PR if we know which is.

[2022-08-06 11:27] frederikhors commented on #679
Sorry we can PR here: https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/cargo-make.json.

[2022-08-06 11:32] frederikhors commented on #679
Done https://github.com/tamasfe/taplo/issues/294#issuecomment-1200476690.

[2022-08-06 11:33] indietyp commented on #685
In the example I already gave in https://github.com/sagiegurari/cargo-make/issues/685#issuecomment-1206660949, the variable is inserted (look at the echo arguments), but isn't split.

[2022-08-06 11:37] frederikhors opened #687 "Default values for config fields?"
Writing https://github.com/SchemaStore/schemastore/pull/2394 I was in doubt for the default values of these config, can you help me?

[code]

[2022-08-06 11:49] frederikhors commented on #678
I tried your suggestion from https://github.com/sagiegurari/cargo-make/issues/678.

I read the guide https://github.com/sagiegurari/cargo-make#global-configuration-1.

But it seems to me that the path for Windows must be `C:\Users\Fred\AppData\Roaming` which can be found with powershell using `$env:appdata` or with `%APPDATA%` in Win+R command.

I then created a `config.toml` file there with `log_

[2022-08-06 12:14] sagiegurari commented on #686
oh right, when you extend you get all stuff from base task including private=true.
so in extended task put private=false or just don't define private=true in base task

[2022-08-06 12:15] sagiegurari commented on #677
[code]

[2022-08-06 12:16] sagiegurari commented on #679
thanks a lot @frederikhors

[2022-08-06 12:18] sagiegurari commented on #687
[code]

its the opposite :)

https://sagiegurari.github.io/cargo-make/api/cli/types/struct.ConfigSection.html

[2022-08-06 12:28] sagiegurari commented on #678
can you try to create a subdir there called cargo-make and put the file there?
I think you misunderstood the docs.

[2022-08-06 13:19] sagiegurari commented on #685
i'm pretty sure this is how it works right now.
i think you meant to suggest:

[code]

right?

anyhow, while your suggestion (if i understood correctly) is a good one, you must understand the current implementation

1. makefile loading -> just loads the makefile while keeping env vars in order. it doesn't know/understand the env vars at all.
2. setup env -> this one is pretty complex with multiple

[2022-08-06 13:37] indietyp commented on #685
Yes! that is what I want, but this isn't working as intended (at least from what I understood)

[code]

This is certainly a fix for the problem, tho it causes some confusion. (which I will probably implement). Thanks for the elaboration on how `cargo-make` works. I think my suggestion would still add something, but I can imagine that integrating it correctly could be a real mess. (would boil down

[2022-08-06 15:39] sagiegurari commented on #685
I'm very happy to get PRs.
This specific issue might be really messy so I wouldn't invest too much in it.
If you got simple solution, i'll be happy to accept it, but if it is going to be as complex as i suspect, i would probably not.
So, just making sure you are aware of it before you invest too much time.

in general, i'm accepting PRs into cargo-make (there are over 40 contributors)

[2022-08-07 16:19] #687 closed

[2022-08-07 16:19] #686 closed

[2022-08-07 16:21] sagiegurari commented on #678
@frederikhors please check my answer and reopen if its not solved

[2022-08-07 16:21] #678 closed

[2022-08-07 16:22] sagiegurari commented on #677
@frederikhors please check my answer and feel free to reopen if not solved

[2022-08-07 18:16] frederikhors commented on #677
If I use this I need to repeat `"-C"` on each command, it's very awful.

It would be AWESOME, really, to have in `Makefile.toml` (**or in the global config file**) something like:

[code]

Like [Justfile does](https://github.com/casey/just#windows-shell).

I cannot re-open this if you close it.

Please, please, please create this config for us.

We tried A LOT of libraries like this and Makers is

[2022-08-07 18:20] frederikhors commented on #678
It works! Thanks!

[2022-08-07 18:26] frederikhors commented on #687
Fixed in https://github.com/SchemaStore/schemastore/pull/2398.

[2022-08-07 20:00] sagiegurari commented on #677
let me think of some solution here...

[2022-08-07 20:07] frederikhors commented on #677
Since you are thinking, it would also be very useful to have a way to pass a list of commands as if it were a script but by running each command by itself, without using the syntax of args. Example:

[code]

[2022-08-07 20:20] sagiegurari commented on #677
that feels like a script instead

[code]

[2022-08-07 20:25] sagiegurari commented on #674
@dbanty can you checkout the dev branch 0.35.16 for this?
basically add also force=false to the install_crate block.
still need to write few tests, but it should be ok now.
would love your feedback

[2022-08-07 20:51] dbanty commented on #674
Hmm, I'm still seeing the same error 🤔 I could have done something wrong though. I installed the new version like `cargo install --git https://github.com/sagiegurari/cargo-make --branch=0.35.16` (I've never used that syntax before, so maybe that's wrong?). It then told me:

[code]

I then uninstalled `mdbook` with `cargo uninstall mdbook` and added a couple of lines to my `install_crate` section s

[2022-08-07 21:27] sagiegurari commented on #677
@frederikhors  so I improved the cargo-make plugin system to enable users to create tasks on the fly and run them.
plugins are a way for users to take over how tasks are executed from cargo-make and run custom code.
see more at: https://github.com/sagiegurari/cargo-make/tree/0.35.16#usage-plugins

so i created a powershell plugin:
https://github.com/sagiegurari/cargo-make/tree/0.35.16#usage-plugin

[2022-08-07 21:28] sagiegurari commented on #677
by the way, with plugins, you can expand mine to support a list of commands as you wanted. but you will have to implement that.

[2022-08-07 21:33] sagiegurari commented on #674
thanks and sorry about that. i'll check it out tomorrow. didn't have time to setup tests...

[2022-08-07 21:46] dbanty commented on #674
No problem, thanks for working on this!

[2022-08-08 06:46] sagiegurari commented on #674
@dbanty it should work well now with your usecase.

[2022-08-08 07:31] sagiegurari commented on #676
@frederikhors this should be resolved now. i can't be 100% sure since i don't have windows, but i believe based on the signals i'm seeing. if its not, feel free to reopen.

[2022-08-08 07:31] sagiegurari commented on #674
@dbanty this is now officially released. if there are any issues with it, feel free to open an issue and I'll handle.
thanks for the idea

[2022-08-08 07:31] #674 closed

[2022-08-08 07:31] #676 closed

[2022-08-08 07:32] sagiegurari commented on #677
@frederikhors this is now released so you can use the official cargo-make version with this plugin code
feel free to open new issues around this subject if needed.

[2022-08-08 07:32] #677 closed

[2022-08-08 08:49] frederikhors commented on #676
I can confirm it works now.

[2022-08-08 08:51] frederikhors commented on #677
Thank you very much.

Unfortunately now with plugins it has become really complex, even just to understand.

I cannot present this solution to the team.

Thank you very much also for your speed.

I had something much simpler in mind, like justfile does.

Thanks again.

[2022-08-08 09:17] sagiegurari commented on #676
thanks

[2022-08-08 09:25] sagiegurari commented on #677
than maybe i didn't explain it well, since it simplifies your work.

i'm not sure if its 1 project or multiple or a workspace, but it supports all very easily.
lets assume you have a workspace with many crates and root makefile at the top

[code]

1. in plugins toml file you put the code i wrote and thats it. no one looks at this file anymore.
2. in workspace root toml file put
[code]
3. in each c

[2022-08-08 09:34] frederikhors commented on #677
Ok. Thanks again.

But for a moment imagine if everything you are telling me can be solved without plugins and without all this with a simple line:

[code]

Great, right?

[2022-08-08 10:17] sagiegurari commented on #677
and how would some tasks use powershell and some use something else? i'm not sure i get it?

[2022-08-08 10:33] gilescope commented on #442
Maybe it’s just me but the more deps involved, the greater the security
risk of a supply chain attack. Cargo Quickinstall does seem like a good way
to cut the build times though.

On Sun, 31 Jul 2022 at 01:52, Dylan Anthony ***@***.***>
wrote:

[2022-08-08 13:23] frederikhors commented on #677
With the example I wrote above I want Makers to execute all commands in pwsh.exe when it comes to Windows.

I don't want to use cmd.exe at all.

[2022-08-08 13:47] sagiegurari commented on #677
but its not cmd. i'm not sure i get it.
lets say you have this

[code]

what would tell it to use powershell capability in pwsh task and ignore it and call cargo in the cargo build task?
also, the tasks.build one does not call cmd.exe at all. it calls cargo.
maybe i'm not explaining what the difference between command+args compared to script good enough?

[2022-08-08 13:51] sagiegurari commented on #677
@frederikhors maybe just is using cmd to call commands. thats similar to what cargo-make does with scripts.
for 'command+args' cargo-make calls the provided executable directly.

[2022-08-08 15:39] frederikhors commented on #677
Ok. Let's recape. I know the difference between script and single command with args. In this post I was asking for a feature to call many commands in one task only without using script. But it's another question. Forget it.

What I need is a way to use Makers on Windows/Linux with the same Makefile.toml file committed in my git project.

What I need too is to NOT use cmd.exe on Windows only becaus

[2022-08-08 16:17] sagiegurari commented on #677
ok, but I don't use cmd.exe for commands at all, only for scripts :)
and there you can replace it by specifying the script runner (you did it).
and commands, have nothing to do with cmd.exe.
thats why i'm so confused of what your expectations are.

i gave the plugin solution as it is the way for users to expand on what cargo-make doesn't give out of the box by putting a reusable piece of code that

[2022-08-20 14:36] rino0601 commented on #374
Hi @sagiegurari I just found that `execution_hints = { "pass_break_signal" = true }` is what I looking for.

But it doesn't mention on README.md and https://sagiegurari.github.io/cargo-make/ and whatever called this:
<img width="603" alt="image" src="https://user-images.githubusercontent.com/1422445/185751020-51373b4f-5595-4299-bf11-934c6f392c63.png">

The comments above is the only one I can find

[2022-08-23 23:52] morenol opened #701 "`--env-file` flag not working for 0.35.16"
### Describe The Bug
Using `cargo make <target> --env-file .env` works as expected with `cargo-make==0.34.0` and it does not work with cargo make `0.35.16`.  not sure about the previous versions of `0.35.X`

### To Reproduce

In any working worlspace try to use `--env-file` to set environment variables.

#### Details
Tested in macos and linux

[2022-08-24 14:00] sagiegurari commented on #701
thanks, will check it.
i do remeber the docs state enfile=value and not envfile <space> value but both should work. so I'll test that

[2022-08-29 11:42] sagiegurari commented on #701
@morenol ok, i get the issue.
you put
cargo make <target> --env-file .env
instead of
cargo make  --env-file .env <target>

if it worked on the past, is due to a bug and was not according to the readme docs.
all params/options must come before the target
the only thing after the target are the task args.

[2022-08-29 11:42] #701 closed

[2022-08-29 14:56] sagiegurari opened #702 "Workaround rustup env issue when setting toolchain"
see rust-lang/rustup#3029

I'll be removing the 3 env vars.

[2022-08-30 05:27] sagiegurari commented on #702
released

[2022-08-30 05:27] #702 closed

[2022-08-30 05:27] sagiegurari commented on #685
@indietyp thanks for the PR, this is now released as part of cargo-make 0.36.0

[2022-08-30 05:27] #685 closed

[2022-08-31 10:42] geovex commented on #581
I'm little lost. Is there any way to use cmd runner (or any command for that matter) without UNC path on mounted drive in windows. Because when i run any command i get something like this
[code]

[2022-08-31 11:41] sagiegurari commented on #581
can you run it with verbose logs so we can see more info? maybe put the output in a gist and share the link in your response so it would be more readable.

you can also replace the runner instead of cmd if it helps.
another workaround would be to use duckscript (not sure if it will help or not....) and run it from there.

to be honest, i don't have a windows development machine to fully support su

[2022-09-01 12:24] geovex commented on #581
I tried to exclude side effects of other tools. And made a kind-of clean rust-msvc install, cargo-make and hello-world project and on mounted drive. But still
`Makefile.toml`
[code]
<details>
<summary> short output </summary>

[code]
</details>

also with `-l verbose`
[verbose.log](https://github.com/sagiegurari/cargo-make/files/9469697/verbose.log)

Is this an expected behaviour or is there a way

[2022-09-01 16:48] sagiegurari commented on #581
@geovex thanks. please open a new issue with this info and i'll try to help.
i do'nt have windows, but maybe with the log you gave, i can try to help.
i'll probably need your help to test things out

[2022-09-16 15:33] JonathanWoollett-Light opened #708 "`cargo audit` ignored"
### Describe The Bug

Whenever a step calls `cargo audit` this step is ignored by `cargo make`.

### Example

[code]
produces:
[code]
skipping `cargo audit`

### To Reproduce

[code]

[2022-09-17 13:06] sagiegurari commented on #708
audit is already predefined for you as follows:

[code]

so my guess is that you do'nt have dependencies or you don't have a cargo.lock file.

1. you do'nt need to redefine existing tasks
2. you can remove all predefined core tasks if you wish
3. you can overwrite existing predefined core params, but in your case, you didn't overwrite the condition.

so you have many options here

[2022-09-17 18:05] JonathanWoollett-Light commented on #708
So `cargo audit` is being run, just silently?

It seems very unintuitive to do this task without logging it.

I would argue if it is done by default, it should not be done silently. These sort of default tasks should print their output like any user defined task.

[2022-09-17 18:44] sagiegurari commented on #708
not run at all since you are probably failing in the condition that i wrote.
all tasks print execution if they execute.

[2022-09-17 23:03] strowk opened #709 "Parallel flag conflicts with path because of race condition"
### Describe The Bug
I would like to have a setup with two services having their own separate Makefile.toml files and another root Makefile to rule them all.

One of tasks I want to add is `start`, which is supposed to be watching for changes and running `run` whenever something is changed. Unfortunately, I have run in the problem in that combination of run_task and dependencies with path, seem to

[2022-09-17 23:11] strowk commented on #709
FYI there is a workaround for this, instead of "dependencies" one can simply make a task executing make with "--cwd" like this:
[code]
, however, I believe that standard approach with "path" should be able to handle this situation as well

[2022-09-18 04:33] sagiegurari commented on #708
a bit on conditions:
https://github.com/sagiegurari/cargo-make#usage-conditions

and how to override tasks:
https://github.com/sagiegurari/cargo-make#usage-extending-tasks

@JonathanWoollett-Light  core tasks behave/print/work exactly like your custom ones.

[2022-09-18 04:38] sagiegurari commented on #709
@strowk cwd and specific env vars will be affected during invocation of parallel.
its actually documented at the end of this section:
https://github.com/sagiegurari/cargo-make#sub-task

there is no isolation as you call it and the cwd is of the current process.
if you do want to run 2 processes in parallel on different cwds, you should use it with the 'fork' attribute (its in same section in the r

[2022-09-21 17:17] sagiegurari commented on #709
@strowk did you try the solution via fork?

[2022-09-21 17:17] sagiegurari commented on #708
@JonathanWoollett-Light did you get answers here?

[2022-09-21 18:57] strowk commented on #709
Aah, got it. Yeah, I did not read docs completely, my bad. Fork works good, big thanks. I think maybe some sort of warning won't hurt, cause without knowing this beforehand, race condition is somewhat hard to pin down.

[2022-09-21 19:02] sagiegurari commented on #709
parallel without fork is valid solution for other scenarios. so what/when warning do you recommend?

[2022-09-22 16:52] sassman commented on #565
In the docs it is written to

[code]

However it seems that the `extra` folder is not packaged as part of the crate, so it would not appear at `~/.cargo` e.g. under `~/.cargo/registry/src/github.com-1ecc6299db9ec823/cargo-make-0.36.0/`

The most simplest fix for this would be to include the `extra` folder in the `Cargo.toml` in the `include` section.

[2022-09-22 18:57] sagiegurari commented on #565
didnt think someone would search it there....
in my mind people would do clone, source the file and delete

[2022-09-22 19:10] sassman commented on #565
That's also an option. But since the code is already locally available after a cargo install it would be way more convenient to not have to clone the repo and rather reuse the local available crate code, specifically also the shell completion script.

[2022-09-22 19:47] sagiegurari commented on #565
cool. feel free to PR this if you want, or open a new issue so i can track and do it

[2022-09-22 22:00] Voxelot opened #712 "Cargo make incompatible with Rust 1.64 Workspace Inheritance"
### Describe The Bug
As of Rust 1.64, a package version can be set using `version.workspace = true`.

cargo-make expects PackageInfo.version to be an `Option<String>`, and is unable to parse the new map structure.

https://doc.rust-lang.org/cargo/reference/workspaces.html#the-package-table

### To Reproduce
Using Rust 1.64, set "version.workspace = true" in a workspace package to trigger the parsi

[2022-09-23 03:56] sagiegurari commented on #712
oh... thanks for reporting. I'll handle that today

[2022-09-23 04:22] Voxelot commented on #712
I also forgot to mention that this may also affect the parsing of inherited package deps, but I didn't get far enough to test if that was an issue or not for cargo-make.

[2022-09-23 06:54] sagiegurari commented on #565
@sassman i've added it. currently not published, only in dev branch.

[2022-09-23 09:42] sassman commented on #565
Thanks, I was about to create the PR but thanks for the very fast help.

Maybe it's worth to mentioning the approach in the docs? Then I could prepare this PR, if you don't mind.

[2022-09-23 09:45] sagiegurari commented on #565
you can PR the documentation, since i already pushed the cargo.toml change.
if you do, the doc is in the content.md that is the source of the readme.md

[2022-09-23 13:27] sagiegurari commented on #712
@Voxelot i've pushed a fix for the package inherit support in a dev branch 0.36.1
would love your feedback if it works well for you.

as for dependencies, it might be less critical, but also more tricky as i support workspace emulation.

[2022-09-23 21:22] morenol opened #715 "CARGO_PROFILE sometimes does not get resolved"
### Describe The Bug
When using something like:

`cargo make --env-file .env <some-target>`
Sometimes, CARGO_PROFILE and CARGO_MAKE_GIT_HEAD_LAST_COMMIT_HASH don't get resolved.

I will try to create a sample project with the issue. At least with version 0.34.0, I don't experience that issue

[2022-09-24 05:43] sagiegurari commented on #715
* CARGO_PROFILE - cargo make doesn't set that env var at all actually. it is cargo that does that. Did you mean CARGO_MAKE_CARGO_PROFILE that is defined by cargo-make and can be used in your tasks? or CARGO_MAKE_PROFILE which is not related to cargo at all, but to the cargo-make run?
* CARGO_MAKE_GIT_HEAD_LAST_COMMIT_HASH - only set if you are in git repo with value that i'm able to extract. I use