[2019-07-11 21:16] Sushisource commented on #263
Ah, another note, with `run_task`. The profile seems to get quotes added around it:

[code]

[2019-07-13 17:18] sagiegurari commented on #263
oh, that's a bug. i'll check that out. thanks

as for the workspace=false, i opened issue #264 which will allow you to disable it globally via workspace level env block. that i think, should give you a very simple solution.

[2019-07-13 17:18] #261 closed

[2019-07-17 09:37] roblabla opened #265 "Specify minimum version for tools/dependencies"
**Features Description**
It'd be kinda neat to specify the minimum version of a tool we want. For instance, in SunriseOS, we now require cargo-xbuild 0.5.14, but `cargo-make` won't install the latest `cargo-xbuild`, it'll only install it if it wasn't found previously.

**Describe the solution you'd like**
Having some kind of `[dependencies]` section where we specify minimum version of the tools in

[2019-07-17 19:29] sagiegurari commented on #265
ya thats a great idea and i was thinking about it long time ago.
reason i didn't implement is that, there is no standard way to get the version value.
many crates support --version but not all and the output is not standard although very common.

but since i see i'm not the only one thinking about it, i'll add partial support, meaning if i can pull that info, i'll validate the min_version requeste

[2019-07-17 19:31] sagiegurari commented on #265
wait... didn't read your entire post :)
so there is a toml/json with the values... that's awesome. will investigate.

[2019-07-17 21:40] roblabla commented on #265
was thinking the Makefile.toml itself would have a [dependencies] section, not the Cargo.toml. This way, "implicit" installations could still have a minimum version to check. But a dedicated install task would work too.

[2019-07-23 04:11] sagiegurari commented on #216
@leo60228 [cargo-play](https://github.com/fanzeyi/cargo-play) seems to provide similar features.
do you think it would be a good alternative to use? can't really test on windows to say for myself.

[2019-07-23 15:01] leo60228 commented on #216
I think it looks good.

[2019-07-28 14:53] sagiegurari commented on #259
@Sushisource a fix has been pushed for this in 0.22.0 development branch.
Feel free to test it to see it fixes your issue.

[2019-07-28 16:43] sagiegurari commented on #263
@Sushisource the profile name bug should be fixed now in the 0.22.0 development branch.
you can test it to ensure its ok.

[2019-07-28 17:17] sagiegurari commented on #264
@Sushisource support to disabling workspace level via config section value is now available in the 0.22.0 development branch.

[code]

[2019-07-31 21:10] sagiegurari commented on #265
@roblabla I just pushed this feature to the 0.22.0 development branch.
you can look at the docs on how to set it up at: [Defining Minimal Version](https://github.com/sagiegurari/cargo-make/tree/0.22.0#usage-installing-min-version)
If you can verify its ok and working good for you, it would be great.
The solution does come with few limitations which are documented.

[2019-07-31 21:57] roblabla commented on #265
Awesome! The limitations shouldn't be a problem for me. I'll implement it in SunriseOS ASAP. Going over the docs, this stood out:

Maybe this should break the build, or at least put out a warning that `min_version` won't be respected?

Something I was wondering, but I'm not 100% sure if it's a good idea: can this be used to get `cargo-make` to self-update? If so, maybe it could get integrated with

[2019-07-31 22:16] sagiegurari commented on #216
@leo60228 support for cargo-play has been pushed to 0.22.0 development branch.
You can look at the [docs](https://github.com/sagiegurari/cargo-make/tree/0.22.0#usage-task-command-script-task-examplerust) on how to control which crate is being used (cargo-script is still the default unless configured differently).
if you can try it out, it would really help. especially since i don't have windows ma

[2019-07-31 22:20] sagiegurari commented on #265
on windows the exe is locked while executing so ya, windows is out of the question.
however, self update is a cool idea. I'll open an issue regarding that.
as for the warn printing, I have a lot of it in case i'm unable to validate the min version, but nothing if i decide to skip it. it would make the code more... complex :( so I prefer to leave it out unless its really important.

if this and few

[2019-07-31 22:23] sagiegurari opened #266 "Support self update"
**Features Description**
On linux/mac the exe is not locked while running so if the min version is defined, we could also have cargo-make validate and self update if need and configured to do so.
naturally windows is out of scope here.
(this is based on discussion in #265)

**Describe the solution you'd like**
[code]
In case the min version is higher then installed and self_update = true, cargo-ma

[2019-07-31 22:45] leo60228 commented on #216
I don't either, but I know @roblabla was looking at this a while ago.

[2019-08-01 01:18] kitlith commented on #266
on windows, would it be possible to download to another file, exec into a seperate exe/batch script, move the file, and then exec back?

[2019-08-01 03:16] sagiegurari commented on #266
not sure its worth it.
but anyway you can't move or rename the files being executed.
usually you need to have another update process for this and I'm not planning to go there

[2019-08-01 15:18] roblabla opened #267 "config.min_version doesn't work if the new TOML file breaks the old parser"
**Describe the bug**
cargo-make tries to parse the Makefile.toml entirely before checking the config.min_version key. This causes an issue when the new format cannot be parsed properly by the old parser: we get an error before min_version has a chance to get seen.

**To Reproduce**
Under cargo-make 0.21:

[code]

**Error Stack**
[code]

[2019-08-01 15:30] roblabla commented on #266
Yeah windows support definitely involves a bit more logic, but it'd be really nice to have it there too. I think it could be done using a fairly simple process (assuming cargo is used to actually do the update):

1. Copy self to new temporary location (Can get self with [current_exe](https://doc.rust-lang.org/std/env/fn.current_exe.html) and open in read-only should work).
2. Run self from new loc

[2019-08-01 20:11] sagiegurari commented on #267
the min version is used to prevent cargo make running the flow in case the makefile structure is legit but in reality cargo make can't support the needed features.
For example, functions:

[code]

if you run an old cargo-make, it will work but it will just pass that string as an arg to the command instead of invoking the split function.
in order to prevent such inconsistent behavior, I introduced

[2019-08-01 20:18] sagiegurari commented on #266
Need a bit of time to think about this whole thing.
don't think we need to start copying exe files, instead we could (for windows) run a batch file from cargo-make, and in it:
* kill/wait for cargo-make to end
* run cargo install --force cargo-make
* run original command

this batch could be generated in runtime by cargo-make using the input data we have from the cli and the current env (cwd and o

[2019-08-01 21:43] Sushisource commented on #259
@sagiegurari Confirmed, this fixes it. Thanks!

[2019-08-01 21:44] Sushisource commented on #263
@sagiegurari Confirmed fixed. Thanks!

[2019-08-01 23:04] sagiegurari commented on #263
thanks a lot for confirming.

[2019-08-01 23:04] sagiegurari commented on #259
thanks a lot for confirming. an official release will be available start of next week.

[2019-08-05 16:55] roblabla commented on #267
To be clear, this is the expected output:

[code]

I'm specifically after this kind of output because it would let my teammates know immediately what's up and what they have to do to get the build working again.

The TOML could get deserialized to a super minimal struct that just looks for `config.min_version`'s value, and emit the error on failure, or something like that.

[2019-08-05 17:13] roblabla commented on #265
I'm running into a bit of a problem. I tried making a rule that updates `cargo-xbuild`, but when running it, I'm getting an error.

TOML:

[code]

Output:

[code]

[2019-08-05 18:55] sagiegurari commented on #265
InstallCrateInfo supports both min version + binary + test_arg so it should have used that.
but seems serde decided to deserialize with wrong type.
I fixed it and pushed to the dev branch so you can reinstall it and try it out.
thanks for testing.

[2019-08-05 18:59] sagiegurari commented on #267
I could load only the initial makefile, but that might not be accurate.
if i want to do it right, it could be costly and complex.
i'll have to load the entire hierarchy of makefiles, some which might require loading scripts to fetch as that min_version might be defined in any one of them.

[2019-08-06 07:26] sagiegurari commented on #267
thinking about adding a [global config](https://github.com/sagiegurari/cargo-make#cargo-make-global-config) option to allow this shallow loading of only first makefile just to check min_version without loading extended makefiles.
that would mean you would have to add something in your global config.toml file:

[code]

so this feature would have to be manually opt-in outside your project.
makes sen

[2019-08-06 08:46] roblabla commented on #267
That would work-ish, but I'm admittedly not a huge fan of having people write something in their local config, given I mostly want this to facilitate on-boarding.

I looked around in the codebase. The min_version is checked [right after descriptor loading](https://github.com/sagiegurari/cargo-make/blob/f3fdc37c4a0e667d9b1c3fd96bfb4470a7e163fd/src/lib/cli.rs#L93). Descriptor loading works by callin

[2019-08-06 08:48] sagiegurari commented on #267
PRs are the best :)

[2019-08-07 15:53] sagiegurari commented on #265
@roblabla did the latest fix resolve the issue?

[2019-08-07 20:56] roblabla commented on #265
Tried it again, and there's still a bug. Here's a makefile:

[code]

`cargo make install-cargo-xbuild` does not cause cargo-xbuild to get updated (which it should since cargo-xbuild version 0.5.20 isn't even released).

Did some digging, and I found that [here](https://github.com/sagiegurari/cargo-make/blob/0.22.0/src/lib/installer/crate_installer.rs#L68), crate_only_info is false. This happens be

[2019-08-08 05:50] sagiegurari commented on #265
I'll setup more test cases for sure. thanks, will check

[2019-08-08 16:47] sagiegurari commented on #265
fixed and added more tests

[2019-08-09 10:30] #267 closed

[2019-08-13 10:31] sagiegurari opened #270 "Ability to mark a task deprecated"
**Features Description**
To enable to share makefiles and still be backward compatible, need the ability to mark tasks deprecated.
this would
* show warning when invoked
* show in task list as deprecated

**Code Sample**
[code]

[2019-08-14 09:53] #270 closed

[2019-08-14 09:54] sagiegurari commented on #216
@leo60228  @roblabla cargo make 0.22.0 has now been published with cargo-play support

[2019-08-14 09:54] #216 closed

[2019-08-14 09:55] sagiegurari commented on #265
@roblabla cargo make 0.22.0 has now been published with min version validation changes.

[2019-08-14 09:55] #265 closed

[2019-08-14 09:56] sagiegurari commented on #264
@Sushisource cargo make 0.22.0 has now been published with the workspace level disabling flag

[2019-08-14 09:56] #264 closed

[2019-08-14 09:56] sagiegurari commented on #263
@Sushisource cargo make 0.22.0 has now been published with the profile fix.

[2019-08-14 09:56] #263 closed

[2019-08-14 09:57] sagiegurari commented on #259
@Sushisource cargo make 0.22.0 has now been published with the condition cwd fix.

[2019-08-14 09:57] #259 closed

[2019-08-14 14:32] giacomocariello opened #273 "Compilation error on version 0.22.0"
**Describe the bug**

Install fails with compilation errors E0505 and E0503.

**To Reproduce**

$ cargo --version
cargo 1.34.0
$ rustc --version
rustc 1.34.2
$ cargo install --force cargo-make

**Error Stack**

   Compiling cargo-make v0.22.0
error[E0505]: cannot move out of `directory` because it is borrowed
  --> /root/.cargo/registry/src/github.com-1ecc6299db9ec823/cargo-make-0.22.0/src/lib/ins

[2019-08-14 14:46] sagiegurari commented on #273
Thanks for reporting this.
I bump the rustc minimal version every now and then, usually due to cargo-make dependencies that also bump their minimal version.
in this case, cargo-make minimal version is now 36, not 34.

if you must use 34, you can use the prebuilt binaries I create for every new release.
I have binaries for linux, mac and windows available.
for 0.22.0 you can find them at: https://g

[2019-08-14 16:32] sagiegurari commented on #273
closing this one. if you still have an issue, you can reopen and we will see how to resolve.

[2019-08-14 16:32] #273 closed

[2019-08-15 15:28] vtavernier opened #274 "codecov: no coverage report found with tarpaulin"
**Describe the bug**
On Travis CI, using `cargo make --no-workspace workspace-ci-flow` results in Tarpaulin being run (as seen in the build log, lines [752](https://travis-ci.com/vtavernier/hyperion.rs/jobs/225545361#L752) and [1282](https://travis-ci.com/vtavernier/hyperion.rs/jobs/225545361#L1282)), but uploading the reports to codecov fails with `No coverage report found` (line [1362](https://t

[2019-08-16 13:29] sagiegurari commented on #274
I don't use tarpaulin so much because it doesn't support arm so i'm not really testing the full CI flow.
I'll try to see what i can do to fix, but if i'm not wrong, tarpaulin has built in support for coverall which you might want to look at as well.

[2019-08-17 21:30] x37v opened #275 "enviroment variable set in script not available in dependent tasks"
**Describe the bug**
I have a relatively complex scenario for setting some env vars that I want to use in my build tasks. I'm using a rust script and `env::set_var` but the variables I've set are not visible to my dependent tasks.

**To Reproduce**
1. make a `Makefile.toml` file with the contents from below.
2. run `cargo make echo`

**Error Stack**
[code]

**Code Sample**
[code]

[2019-08-18 14:28] sagiegurari commented on #275
commands and scripts are invoked as child processes and therefore do not change the env of the main cargo-make parent process.
there are [other ways to change the env](https://github.com/sagiegurari/cargo-make#usage-env)

Having said that, looking at your use case, it does seem a nice feature to have a way to map env values to other env values. meaning to do something like the decoding you are doi

[2019-08-18 18:13] x37v commented on #275
@sagiegurari yeah.. i figured that was the case and wasn't sure if I should log this as a bug or a feature request.

The [other wasy to change the env](https://github.com/sagiegurari/cargo-make#usage-env) are a bit too cumbersome for this more complex scenario.. I guess I could use a script but the multiline on 1 line with `\n` didn't seem great.. if at least i could evaluate this rust code and pr

[2019-08-18 18:47] sagiegurari commented on #275
I was thinking of enabling 'decode' for env vars like the following:

[code]

so source would be the value to decode and could accept env vars for example.
default is the output of PLATFORM_EXTERNAL_EXT_SUFFIX in case no mapping was found.
mapping holds source value to target value.

[2019-08-18 19:13] x37v commented on #275
@sagiegurari `decode` sounds like it would work well..
might want to allow an error if there is no match.. though I guess you have other operations that can achieve that assertion.

[2019-08-19 10:21] sagiegurari opened #277 "Feature - Support Decode for env var init"
**Features Description**
To enable defining env vars based on value mapping of other env vars, need to introduce a decode env capability.

**Describe the solution you'd like**
We could define the source value which can be an expression holding env vars and text, a value to value mappings and a default value.

**Code Sample**
[code]

see discussion at #275

[2019-08-19 10:24] sagiegurari opened #278 "Feature - Support @@decode function for cli args"
**Features Description**
With #277 we could also have a new args function that does decode to enable same powerful capability for commands as well.

**Code Sample**
[code]

[2019-08-19 18:24] sagiegurari commented on #275
@x37v you can now try out the new decode capability in the 0.22.1 development branch.
you can look at the [docs](https://github.com/sagiegurari/cargo-make/tree/0.22.1#usage-env-config)

[code]

you don't need to write rust code anymore, just define it in the toml.
as for errors, i do not believe its up to env setup to do that, but you can do validations in your task using conditions.

[2019-08-20 04:00] x37v commented on #275
@sagiegurari works for me on linux with my minimal testing. looks great!

[2019-08-20 04:08] sagiegurari commented on #275
thanks for checking

[2019-08-20 05:06] sagiegurari opened #279 "Move link-dead-code definition to coverage task"
reduces impact for other tasks that do not require it and may benefit of not having it defined in the first place.

[2019-08-20 05:13] sagiegurari opened #280 "Enable decode to mirror source value as default value"
in some cases we might want the decode to use the original value if no mapped value is found.
currently the default value is hard-coded or defaulted to empty.
so change that behavior that is default is not defined, it will be defaulted to source value instead.

#275

[2019-08-20 05:17] sagiegurari opened #281 "Add env mapping between cargo make profile and cargo.toml profile"
A new env var will hold the mapped value to be later on used in compilation/testing.

[2019-08-20 11:03] #274 closed

[2019-08-20 11:37] #278 closed

[2019-08-20 11:37] #280 closed

[2019-08-20 11:37] #281 closed

[2019-08-20 11:38] #279 closed

[2019-08-20 11:38] #277 closed

[2019-08-20 11:38] sagiegurari commented on #274
@vtavernier your PR is now available in 0.22.1 version which was just published.
thanks a lot

[2019-08-20 11:39] sagiegurari commented on #275
@x37v this is now available in 0.22.1 version which was just published.
i think you can do all your mapping now without rust code.

[2019-08-20 11:39] #275 closed

[2019-08-30 15:49] Qix- opened #283 "SDK treats ~ as if it is a special directory"
**Describe the bug**
The SDK appears to be using `~` in path names on MacOS as if they are handled specially by the system. Instead, it looks in the CWD for a directory literally called `~` (e.g. via `mkdir \~`) instead.

**To Reproduce**
Steps to reproduce the behavior:

1. On MacOS, build the SDK and create a simple program to call `wooting_analog_initialise()`
2. Build and run.

Output should l

[2019-08-30 15:51] Qix- commented on #283
This is happening because, contrary to popular belief, `~` is not a special character used by the UNIX/BSD filesystem subsystem. It's more correct to manually pull the `HOME` environment variable via e.g. `getenv()` (or some Rust equivalent) and use that instead.

Note that I do not have `WOOTING_ANALOG_SDK_PLUGINS_PATH` set, so there's a default being substituted in somewhere.

[2019-08-30 15:52] Qix- commented on #283
Aaaand just realized I'm on the wrong tab and wrong repo. Apologies.

[2019-08-30 15:52] #283 closed

[2019-08-31 04:24] sagiegurari opened #284 "add cargo-udeps task"
this will allow to ensure we don't have unused depedencies.
need to gate it with env var to ensure we don't backward break the flow

[2019-09-01 20:38] roblabla opened #285 "Get current workspace member in an env variable"
**Features Description**
It'd be nice to know which workspace member is being processed right now. The use-case I have would be to prevent certain tasks to run for some workspace members.

**Describe the solution you'd like**
Have a `CARGO_MAKE_CURRENT_MEMBER` environment variable that is set to the current workspace member project name.

**Code Sample**
N/A

[2019-09-01 21:01] sagiegurari commented on #285
cool idea. pretty easy to implement but would take a bit due to network issues :)

[2019-09-02 06:44] sagiegurari opened #286 "Support script file instead of script text in task script attribute"
**Features Description**
Allow to invoke external scripts using script attribute instead of command.
this allows to define the 'runner' inside the script via shebang line and not hardcode it in the task command attribute.

**Code Sample**
[code]

[2019-09-08 14:20] roblabla opened #287 "Run task if file does not exist"
**Features Description**
It'd be nice to be able to make a task only run if a file does not exist. For instance, I have a task that generates some development signing keys. I only need it to run if the key is not already generated. I currently use an `if [ -f ]` in a condition_script, but that's not portable (it won't work on windows).

**Describe the solution you'd like**
I'd like to extend `cond

[2019-09-08 14:23] sagiegurari commented on #287
a condition is a good idea.
if i'm implementing not exists, i'll implement exists as well.
i'll probably be able to start working on next version in about a week or so...

[2019-09-13 12:35] oblique opened #288 "Unclear how I can have a central `Makefile.toml` for a workspace."
Consider this directory structure:

[code]

I want to be able to be inside `foo` directory and `Makefile.toml` of the workspace to be loaded automatically. The only way I found is to create a new makefile within `foo` and use `extend = "../Makefile.toml"`.

Is there a way without creating new makefile in `foo`?

[2019-09-13 12:37] sagiegurari commented on #288
can you check this one out?
https://github.com/sagiegurari/cargo-make#usage-workspace-extend

this however relevant if you are running from the workspace root.
when running directly in the member crate, the extend you did is the solution

[2019-09-13 12:46] oblique commented on #288
Ok thanks. I will this solution.

[2019-09-13 12:46] #288 closed

[2019-09-17 09:55] hilarudeensaktivo opened #289 "Stop running tasks in default Makefile.toml"
**Describe the bug**
I have Makefile.toml in my workspace. This is having following configuration. And I wanted to skip default Makefile.toml. But this is not skipping as expected.

[code]

**To Reproduce**
1. Add Makefile.toml file in your workspace directory
2. Add following config in your Makefile.toml
[code]
3. Run command `cargo make` or `cargo make --makefile ./Makefile.toml`

Expected: shou

[2019-09-17 19:16] sagiegurari commented on #289
can you show me your makefile and the output of the run?

[2019-09-18 04:43] hilarudeensaktivo commented on #289
<img width="1071" alt="cargo-make-bug-issues-289" src="https://user-images.githubusercontent.com/52275660/65112057-e8f68700-d9fb-11e9-8f60-c024ce4d14fe.png">

Makefile:
<img width="553" alt="cargo-make-bug-issues-289-makefile" src="https://user-images.githubusercontent.com/52275660/65112263-b39e6900-d9fc-11e9-99ef-c1eb6d2c96f6.png">

Output:
[cargo-make-run-defaults-issues-289.log](https://github.

[2019-09-19 05:25] elpiel opened #290 "Clippy installation fails nightly"
**Describe the bug**
After I've updated my nightly toolchain to the latest update, my clippy had to be rebuild, so cargo-make tried to update it by failed.

**To Reproduce**
1. Update to latest nightly (or a toolchain that will trigger rebuild/reinstall of clippy)
2. Run `cargo-make install-clippy-any`

**Error Stack**
[code]

Changing the install arguments fixes the problem:
`install_crate_args =

[2019-09-19 17:51] sagiegurari commented on #290
always happy to get a PR :)

[2019-09-19 17:59] sagiegurari commented on #289
ok, so this is a workspace (missed that part), so basically  you want each member to either define that as well or automatically extend the workspace makefile by adding

[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = "true"

[2019-09-19 18:09] elpiel commented on #290
Just wanted to check if I am the only one and that there is indeed a problem there.
Look out for my PR 😋

[2019-09-20 05:42] hilarudeensaktivo commented on #289
Thanks @sagiegurari resolves the issue

[2019-09-20 07:12] #289 closed

[2019-09-28 21:18] sagiegurari opened #293 "curl based github release task"
**Features Description**
since the cargo plugin hasn't been updated for 2 years, I'm going to setup a curl script as an alternative.

[2019-09-29 06:08] sagiegurari opened #294 "ability to unset environment variables"
**Code Sample**
[code]

[2019-09-29 13:53] sagiegurari commented on #285
pushed an implementation for it in the 0.22.2 dev branch.
you will now have an env var: CARGO_MAKE_CRATE_CURRENT_WORKSPACE_MEMBER which will hold the member name (last path element)

[2019-09-30 17:30] sagiegurari commented on #287
@roblabla this is now implemented in 0.22.2 branch. see [docs](https://github.com/sagiegurari/cargo-make/tree/0.22.2#usage-conditions-structure) for files_exist and files_not_exist conditions.

[2019-10-01 13:04] sagiegurari opened #297 "new CARGO_MAKE_PR env"
New env to hold true if cargo-make detects we are running in a PR build

[2019-10-01 17:36] #297 closed

[2019-10-01 17:36] #284 closed

[2019-10-01 17:36] #293 closed

[2019-10-01 17:36] #286 closed

[2019-10-01 17:36] #294 closed

[2019-10-01 17:36] sagiegurari commented on #287
published in 0.22.2 release

[2019-10-01 17:36] #287 closed

[2019-10-01 17:36] sagiegurari commented on #290
published in 0.22.2 release

[2019-10-01 17:36] #290 closed

[2019-10-01 17:36] sagiegurari commented on #285
published in 0.22.2 release

[2019-10-01 17:36] #285 closed

[2019-10-01 19:33] enfipy commented on #52
I faced the same issue. Every command I wrote to Makefile.toml is ignored if I inside any folder other than root.

Is there any way to fix it?

[2019-10-01 19:38] sagiegurari commented on #52
can you open a new issue with an example run and error?
did you look at [search_project_root](https://github.com/sagiegurari/cargo-make#cargo-make-global-config)?

[2019-10-02 08:08] enfipy commented on #52
The issue was with `warkspace`. Maybe it would be better to change log info for this kind of error?

[2019-10-02 08:23] sagiegurari commented on #52
sorry, i still have no idea what error you are talking about or how you resolved it. i need more info/output/something

[2019-10-02 17:39] #257 closed

[2019-10-09 07:47] Jake-Shadle opened #300 "Additional profiles causes use of incorrect env block"
**Describe the bug**
Adding an additional profile seems to cause cargo make to always choose that profile's `[env]` block to be used instead of the actual profile that is set in CARGO_MAKE_PROFILE, or at least, for the default `development` profile.

**To Reproduce**
Add an additional profile.

Add environment blocks for both the default `development` profile and the profile that was added. Add a

[2019-10-09 10:37] sagiegurari commented on #300
it's not really 'instead', its in 'addition of'.
so the 'development' env block is loaded and then also the 'release' in your example.
since they both use same env vars, they override each other.
it might make more sense to load the additional and only then the main profile env blocks.

by the way you could do the following:

[code]

you should see 'true' printed twice which means both blocks are

[2019-10-09 11:08] Jake-Shadle commented on #300
Ahha, I see, and I presume it's "last one wins" in the order they are declared in the actual Makefile?

I think it would indeed make more sense to load them in a different order if they are always cumulative. Though the comment in the README

to me would still indicate that enabling a profile means **only** the environment variables in that profile + global set which is why I was confused by this

[2019-10-12 10:56] sagiegurari opened #301 "print project name being built"
**Features Description**
if Cargo.toml is available, print the project name defined in it.
this would help workspace projects, seeing which member is being built.

[2019-10-12 20:25] davidB opened #302 "A github-action to install cargo-make"
Just to thank you about your powerfull cargo subcommand, and tell you that I use it for cross CI build. And I publish a github-action to ease its installation https://github.com/marketplace/actions/rust-cargo-make (downloading the releases is faster than running `cargo install cargo-make`, like I do on azure-pipelines, travis,...).

During the dev of the action, I noticed that the content of the .

[2019-10-13 11:54] sagiegurari commented on #302
thanks a lot. The github action is pretty cool.
as for the zip, i wasn't aware of that (it was developed as part of a PR) but i think at this point, its better not to change it as it would break scripts/builds for other projects.

[2019-10-13 11:54] #302 closed

[2019-10-14 21:25] sagiegurari commented on #300
@Jake-Shadle a fix for this has just been pushed to the 0.23.0 dev branch.
you can try it out.

[2019-10-15 06:52] Jake-Shadle commented on #300
Awesome, will check it out, thanks!

[2019-10-16 08:30] #301 closed

[2019-10-16 08:30] sagiegurari commented on #300
this is now published so i'm closing this issue.
you can reopen it if it still causes problem in 0.23.0 version.

[2019-10-16 08:30] #300 closed

[2019-10-16 09:48] phi-gamma opened #304 "conditional dependencies"
**Features Description**

Provide a mechanism for choosing or overriding a dependency based
on profiles.

**Describe the solution you'd like**

Ideally, parameters from an “env” would be expanded in a
“dependencies” expression:

    [env.debug]
    build_mode   = "build"

    [env.release]
    build_mode   = "build-release"

    [tasks.foo]
    dependencies = [ "${build_mode}" ] ## ← error, unexpa

[2019-10-16 15:23] sagiegurari commented on #304
nice. lets see if existing capabilities already provide a solution for you or something else is needed.
let's take the build task as an example:

[code]

I took these parts from the internal makefile.toml.
anyhow, as you can see, the ```cargo build``` command accepts additional optional params.
by default those params are **--all-features** but it can also be empty or you can define **--release**

[2019-10-17 07:26] phi-gamma commented on #304
Thanks for the detailed write-up. I added a line tweaking ``CARGO_MAKE_CARGO_BUILD_TEST_FLAGS`` to the config and it works as desired.

Absolutely! Closing this issue as redundant.

[2019-10-17 07:26] #304 closed

[2019-11-04 23:46] olvyko opened #306 "Make possible to provide the env file pathes in the `Makefile.toml`"
**Features Description**
Make possible to provide the env file path (`--env-file`) in the `Makefile.toml`.

**Describe the solution you'd like**
Now, when you use `--env-file`, you need to call `cargo make` like this:
[code]
but it would be cool if you could provide the env file pathes in the `Makefile.toml`,

**Code Sample**
(for example, but can be implemented differently)
[code]
then just run `

[2019-11-05 05:22] sagiegurari commented on #306
nice, few questions:

* ```test = "./env/test.env"``` - what is test? is that like a profile name, so only for test profile we will load the file? because per your example its the task name which seems a bit strange.
* ```env-files``` will be loaded **before** the env block (same as cli env files defined). hope it makes sense.
* how about this instead:
[code]
few things about this example:
* env f

[2019-11-05 05:41] enfipy commented on #306
Your solution with profiles in parentheses is good but maybe it would be better to make it like `[env]`?

For example following code:
[code]
will work same as:
[code]
with corresponding env files.

And if somebody will want to add global env file something like this:
[code]

[2019-11-05 06:00] sagiegurari commented on #306
just that i'm clear on your solution, basically you are saying to expand the capabilities of ```env``` block and have in it a new keyword env-files.
right now env keywords are the actual env keys or profile names that hold a sub env block (although you can override it by doing someprofile=somevalue instead of a block in your makefile).

if i understood correctly, the problem here
[code]

is that y

[2019-11-05 06:24] sagiegurari opened #307 "Document env loading priority"
with addition of #306 I think its about time I documented the order in which env is loaded.
* cli
* env files in makefile
* env block order
* profiles

[2019-11-05 06:30] sagiegurari opened #308 "Migrate the envmnt::expand capability"
migrate the env expansion code to envmnt in sagiegurari/envmnt#15 to reduce cargo-make complexity.

[2019-11-09 12:14] daxpedda commented on #263
Using `workspace = false` doesn't allow me to let tasks run for every member.
So I wanted to detect profiles and pass them through with environment variables (`[env.profile]`), but this doesn't work when used in combination with `CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true`, which I need so I don't have to duplicate tasks for every member in a workspace.

So is there a reason why profiles aren't p

[2019-11-09 21:27] daxpedda opened #310 "Workspace working directory."
**Features Description**
Access to the original working directory by members of a workspace.
This can be a problem when trying to use a unified `Makefile.toml` with `CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true`.

**Describe the solution you'd like**
An environment variable e.g. `CARGO_MAKE_CRATE_CURRENT_WORKSPACE_MEMBER`.

**Code Sample**
[code]

[2019-11-10 16:18] #310 closed

[2019-11-10 21:13] daxpedda opened #312 "`CARGO_MAKE_TASK_ARGS` is not passed down to workspace members."
**Describe the bug**
`CARGO_MAKE_TASK_ARGS` is not passed down to workspace members.

**To Reproduce**
Create a workspace, use some task arguments and `echo ${CARGO_MAKE_TASK_ARGS}` to see that they turn out to be empty.

**Code Sample**
[code]

[2019-11-10 21:20] sagiegurari commented on #312
happy to get a PR :)

[2019-11-11 18:45] #312 closed

[2019-11-11 19:44] daxpedda opened #315 "Filter for workspace member"
**Features Description**
Ability to define list of workspace members to be used and all others to be skipped.

**Describe the solution you'd like**
An environment variable like `CARGO_MAKE_WORKSPACE_FILTER_MEMBERS` to select specific members to be used and none other. Orthogonal to `CARGO_MAKE_WORKSPACE_SKIP_MEMBERS`.

**Code Sample**
[code]

[2019-11-11 20:01] sagiegurari commented on #315
maybe include instead of filter? so it would be less confusing with skip?

[2019-11-11 23:12] daxpedda opened #317 "Expand environment variables in tasks.cwd"
**Features Description**
Ability to set current working directory in task depending on a environment variable.

**Describe the solution you'd like**
Reuse the current `cwd` key in `tasks` to expand variables the unix variable expansion style way that is already used throughout `cargo make`.

**Code Sample**
[code]

[2019-11-12 10:23] sagiegurari commented on #306
@olvyko and @enfipy this feature is now available in the 0.24.0 development branch.
you can try it out and provide feedback before it goes to official release.
The documentation is here: https://github.com/sagiegurari/cargo-make/tree/0.24.0#usage-env-file

[2019-11-12 11:22] #317 closed

[2019-11-12 11:49] #315 closed

[2019-11-12 12:13] #308 closed

[2019-11-12 12:13] #307 closed

[2019-11-22 17:25] sagiegurari commented on #306
this is no published officially in 0.24.0 release.

[2019-11-22 17:25] #306 closed

[2019-11-27 20:12] sagiegurari opened #320 "use new git_info crate"

[2019-11-29 01:30] emigr2k1 opened #321 "Concurrent/Parallel tasks"
**Features Description**
This feature would allow to run a parent task that executes other children tasks parallelly. The parent task would only finish after all children tasks have finished.

**Describe the solution you'd like**
If I have something like
[code]
then I run `cargo make build`, it should execute build-ts and build-sass parallelly.

There is a problem with the output of both tasks bec

[2019-11-29 06:54] sagiegurari commented on #321
thanks, its a really good idea.
i was thinking about it a while back but figured no one would use it so definitely want this to happen.
i was also thinking about the output but there i think we shouldn't buffer.
the result would be a big mess but reason is that there are scripts/cimmands that you invoke that might pause and wait for user input (fir example if you install something with sudo, it wi

[2019-11-29 18:47] coffeenotfound opened #322 "Support importing of Makefiles (as opposed to extending)"
**Features Description**
This feature allows you to "import" another Makefile and depend on its tasks without extending it.

**Describe the solution you'd like**
Importing a makefile as opposed to extending it would allow depending on its tasks while still treating it as a seperate makefile. This is important for relative paths which break upon extending from a master makefile.

Makefiles would be

[2019-11-30 11:29] sagiegurari commented on #322
thanks for the feedback. i'm wondering what cargo-make provides now that can solve this and what needs development to help out making it simpler.
so... in your case, you could extend some other makefile and use/depend on the tasks there, but you are saying that relative paths are getting messed up as they are based on the current working directory and not makefile location.
so extended makefile ha

[2019-11-30 11:35] sagiegurari opened #323 "Outdated dependencies validation as part of CI flow to be limited to master branch only"
Installation of outdated takes a long time, so better to limit this one

[2019-11-30 11:40] sagiegurari opened #324 "run_task to enable running multiple tasks"
**Features Description**
run_task today only supports running a single task.
as a preparation for #323 it should also support running a list of tasks.

**Code Sample**
[code]

Having the name attribute in this scenario to also accept a list of names, we can have it run multiple tasks.
later on in #323 we can add the parallel attribute into this object to support parallel invocation of those tasks.

[2019-11-30 12:42] sagiegurari opened #325 "list tasks command output redirection to a file"
This enables to create a standalone markdown file with all task lists.
Which can be useful to anyone wanting to generate makefile documentation and distribute it easily.

[2019-11-30 15:42] sagiegurari commented on #321
@emigr2k1 I just pushed a commit with the parallel support.
You can read the [docs](https://github.com/sagiegurari/cargo-make/tree/0.24.1#usage-task-command-script-task-examplesubtask) and checkout the parallel flag on how to use it.
if you can try it out and provide some feedback, that would be great.

Simple example:

[code]

[2019-11-30 17:28] coffeenotfound commented on #322
This works from the master makefile but it's a sub optimal solution as this breaks when using the nested makefiles directly. Eventhough there probably is a functional solution in this case, having to "work around" the limitations isn't very intuitive or enjoyable.

I believe my approach as outlined above adds a necessary primitive that has many more uses than my specific problems. If you think abo

[2019-11-30 19:35] davidB opened #326 "Logging when a task is skipped (caused by mismatch condition)"
**Features Description**
When analyzing output of a run it would be useful to have feedback about Task not executed because condition of the task is not ok.

**Describe the solution you'd like**

- The minimal solution would be display for "skipped" task "Skipped" instead of "Running"
[code]
become
[code]
- Other alternative: allow to provide a message to display when condition is ko
[code]
[code]

[2019-12-01 04:51] sagiegurari commented on #326
Changing the output from 'running' to 'skipping' sounds good to me.
I am not sure about the message inside the condition as there is also condition_script that can filter out tasks.

[2019-12-01 05:08] sagiegurari commented on #322
I just want to understand the problem better before i change 30 files and we end up with same issue.
In this case, even import thing won't help you as commands are executed from current working directory. meaning relative paths are relative to working directory and not to makefile location.
With imports it would stay the same as tasks do not have the meta data of where they were defined. If for ex

[2019-12-01 18:18] sagiegurari commented on #326
@davidB running/skipped printout is now implemented in 0.24.1 development branch.

[2019-12-01 19:43] davidB commented on #326
About the message inside the condition, it could be move out (at same level than `condition` and `condition_script`) by example named `skip_message`.
I never try condition_script, if there is an `echo` into the script called by `condition_script` does it is displayed ? if yes, I guess `else_message`(or `skip_message`) could be only an optional field of `condition`.
having more info (to debug) is s

[2019-12-01 23:51] emigr2k1 commented on #321
@sagiegurari Wow! That was quick.
I just tried it and it's working fine so far. I'll let you know if I have anything else to say.
Thank you!
Should this issue be closed?

[2019-12-02 04:03] sagiegurari commented on #321
no need to close. i usually close when i officially release it

[2019-12-02 16:05] daxpedda opened #330 "Add `CARGO_MAKE_CARGO_HOME` environment variable"
**Features Description**
A variable to get `CARGO_HOME`.
I'm not sure if there are other use cases, but I'm using it in combination with `--remap-path-prefix`.

**Describe the solution you'd like**
Probably the easiest method is to use [`home`](https://crates.io/crates/home) to get the correct path and pass it through.

**Code Sample**
[code]

[2019-12-02 20:42] #330 closed

[2019-12-03 03:17] coffeenotfound commented on #322
Thanks for the answer!

That makefiles store metadata about where they are defined is pretty much the core of my idea. Instead of loading the different tomls and putting it all into one datastructure an imported makefile is it's own datastructure (which again could import or extend other makefiles). The only thing that connects them in the code is a reference from the importer to the importee.
All

[2019-12-03 07:03] sagiegurari commented on #322
What if we store the file and directory that **originally** defined the task (ignoring the fact that it might be updated by extending files), then allowing you to do something like this:

[code]

which you can set in specific tasks that need it in your common makefile.
you would still extend not import that file but it could give you the cwd dynamically without modifying every extending makefile.

[2019-12-05 16:28] coffeenotfound commented on #322
I agree that import functionality would be kind complex to implement. Your idea seems like a good compromise. Having the cwd type as makefile (i.e. use the cwd of the declaring makefile) should be the default in my opinion (just like declaring an env var uses the cwd of the declaring makefile) but I guess that would break backwards compatibility

[2019-12-05 21:23] sagiegurari commented on #322
@coffeenotfound just pushed a commit to the 0.24.1 development branch.
At the end, I decided to provide 3 new env vars that will be set at the start of every task invocation:

* **CARGO_MAKE_CURRENT_TASK_NAME** - Holds the currently executed task name.
* **CARGO_MAKE_CURRENT_TASK_INITIAL_MAKEFILE** - Holds the full path to the makefile which **initially** defined the currently executed task (not a

[2019-12-06 11:31] #325 closed

[2019-12-06 11:31] #320 closed

[2019-12-06 11:31] #324 closed

[2019-12-06 11:31] sagiegurari commented on #321
This is now officially release so i'm closing this issue.

[2019-12-06 11:31] #321 closed

[2019-12-06 11:32] sagiegurari commented on #326
This is now officially release so i'm closing this issue.
I'll create another issue and link to this one regarding the skip message.
i'm not 100% sure how useful it is if its static, but will get to it...

[2019-12-06 11:32] #326 closed

[2019-12-06 11:32] sagiegurari commented on #322
This is now officially release so i'm closing this issue.

[2019-12-06 11:32] #322 closed

[2019-12-06 11:33] sagiegurari opened #332 "Enable to provide custom condition failure message"
see #326 for more context

[2019-12-06 16:37] sagiegurari opened #333 "New task to print out entire env info"
Print git, rust, crate, cargo and so on... at start of CI flow and as standalone task.

[2019-12-08 05:43] sagiegurari opened #334 "New env var - CARGO_MAKE_CI_BRANCH_NAME"
Will hold the branch name defined by the CI provider env and not via git info.
Depends on sagiegurari/ci_info#11

[2019-12-08 05:46] sagiegurari opened #335 "env_contains condition"
Should work same as env in terms of toml definition.
However, it should use envmnt:contains_ignore_case to check if defined.

[2019-12-08 19:03] sagiegurari commented on #332
@davidB this has now been pushed to the 0.24.2 development branch.
checkout the [docs](https://github.com/sagiegurari/cargo-make/tree/0.24.2#usage-conditions) for usage.
basically you just define the fail_message in the condition object (even if only condition script is setup).

[2019-12-09 11:05] sagiegurari opened #337 "new env var to hold CI vendor name"

[2019-12-09 18:44] davidB commented on #332
Thanks, lot of code to change for adding this attribute.

[2019-12-12 17:02] coffeenotfound commented on #322
This does solve my issue! Thanks for the quick implementation!

[2019-12-13 13:53] #337 closed

[2019-12-13 13:53] #335 closed

[2019-12-13 13:53] #332 closed

[2019-12-13 13:53] #323 closed

[2019-12-13 13:53] #334 closed

[2019-12-13 13:53] #333 closed

[2019-12-17 19:24] aklitzke opened #339 "Non-workspace dependent tasks are ran multiple times"
**Features Description**
Let's say we have a workspace makefile:
[code]

There doesn't seem to be a good way to make `want-to-do-once` run only once at the beginning of the build.

**Describe the solution you'd like**
I'll leave that up to you, but seems like a pretty common case. In particular I'm using it to generate a random number which is shared workspace-wide.

[2019-12-18 03:24] sagiegurari commented on #339
i think you can do the following

* your main task (workspace-build) will be
  * workspace=false so when running from cli it will not run it per member
  * have dependency on run-once that just sets up an env var with the number
  * setup the real build task name in the env
  * run-task to be defined as do-on-members which enables to run a flow per member (enables to switch to workspace mode basic

[2019-12-18 15:35] aklitzke commented on #339
Hmm, I was kinda hoping to accomplish this without defining a new task like `workspace-build`. There would be two technically two seemingly valid tasks that can be ran at the root level to build: `workspace-build` and `build`, and it's not immediately obvious to someone reading the code which to use IMO.

[2019-12-19 07:51] sagiegurari commented on #339
in that case you could have a definition of workspace build and member build in root workspace. you can set them to private to prevent direct invocation.

then in workspace toml define build task that extends workspace-build and changes private to false and in each member also define a timl file with build task that extends member-build with private=false.

users will always run build but it will

[2019-12-19 08:03] sagiegurari commented on #339
another way, if you create workspace and member build tasks as i wrote before, you can define a build task in workspace that does runtask with routing based if its currently in workspace or not via env var.
that way you don't have to create makefiles for members.

[2019-12-20 00:15] bluejekyll opened #340 "Possible improvements to coverage task"
So, I've noticed a few issues with the kcov-coverage task that is in the default library. I don't feel comfortable putting up a PR against the base makefile toml, but would be happy to if you see it as desirable.

The first is that I believe coverage data is overwritten when multiple tests are run. The next is that the current grep match statement for collecting the tests isn't general enough. And

[2019-12-23 21:00] mmstick opened #341 "Debian Packaging"
Would you be interested in having debian packaging in the repository?

[Currently maintaining this in a fork for Pop!_OS](https://github.com/pop-os/cargo-make/tree/master/debian).

[2019-12-23 22:06] mmstick opened #342 "Evaluating multiple conditions when creating an environment variable"
Reading the documentation, it's not very clear on how you could take this Makefile:

[code]

and convert that into the TOML format.

[2019-12-23 22:45] bluejekyll opened #343 "Allow multiple profiles from CLI"
**Features Description**

There is a feature for "additional_profiles" but I think it's a little limited at the moment, or maybe I don't really "get" what they are for. Today, I'm using the `env` section in tasks for specifying a feature set to test. For example, I have `dns-over-openssl` or `dns-over-rustls` features that need to be tested separately.

What I've done today is have an optional FEA

[2019-12-23 22:45] mmstick opened #344 "Setting env variable if not already set"
With Make:

[code]

Defines that `prefix` will only be assigned to `/usr/local` if it has not already been defined.

There doesn't seem to be a way to achieve this here in a reasonable way

[2019-12-24 06:52] sagiegurari commented on #344
that's a good idea. I think adding the 'condition' structure to env definition will resolve it and also give you a lot more choices.
so you could do

[code]

and naturally in condition you will have access to all condition capabilities like env value checking, file exists and so on...

[2019-12-24 07:26] sagiegurari commented on #340
thanks a lot. ya, seems like a lot of changes.

1. interesting point. usually i get coverage using unit tests mostly so didn't notice that integration tests coverage are getting overwritten. will check the issue and your solution.

2. prefer not to introduce cargo-with to the default build flow due to the fact that they seem to really slow down the build.
I'm aware of caching and such, but its not

[2019-12-24 07:46] sagiegurari commented on #343
Need to understand the actual issue first, because your original solution looks great to me.
so you have a task per feature that the user can request to build.
and the problem is the coverage being overwritten if the user is running ```cargo make feature1``` and then ```cargo make feature2```?
is coverage important if you are not running with all features enabled (i guess so)? because it means par

[2019-12-24 07:48] sagiegurari commented on #341
would love to have it.
so i can install it via apt-get? and how is it getting updated in case of a new cargo-make release?
(I got zero knowledge on how to publish to linux package manager repository)

[2019-12-24 09:01] bluejekyll commented on #340
Totally understood. I do think the functionality might be something interesting to just pull into cargo-make... though we'd need to think about how that would work.

So I get a hang with my stuff, it might be something about the complexity of the tests, etc.

yes, this is just for the kcov build, it's really just the brew installs (requires brew, but most devs on mac use this now).

[2019-12-24 09:04] bluejekyll commented on #343
I mean, it's not hugely important, but it would be better.

I can mimic all the tasks that I have now with cov-${task} and do the same, but it just feels like a lot of duplication... that's all.

I'm also starting to adopt this for use in another project, and have a similar issue with sets of profiles that might be useful.

[2019-12-24 09:47] sagiegurari commented on #343
did you look at init tasks? that task is invoked always before the task the user selected in the cli.
by default its empty but you can override it, and then do a mapping in run_task of that init task which will invoke the relevant (new custom) task setup_env_dns_over_ssl/setup_env_feature2/...
and in those tasks you can have an env block that defines whatever you need.

would that prevent that dup

[2019-12-24 09:52] sagiegurari commented on #340
if you want to investigate and maybe provide a pull request, that would be great.
we can then set that value as a default cargo make env (like other default env vars that are set in the code) and use it in the coverage or use it in the coverage pattern...
PR?

i saw your script code, it looks good to me to have brew install it for mac.
i'll be happy to get a PR for that. if some mac developer want

[2019-12-24 09:56] sagiegurari commented on #342
you can use the decode even now and define TARGET=release if DEBUG=0
although the condition structure that i'm going to add in #344 should also solve it.

the real issue here is that ARGS is being built and being appended additional values.
in order to do that now, you can define it in the global env table using decode of debug, and then appending to it in the env block of the task and add the fro

[2019-12-24 11:23] sagiegurari commented on #344
@mmstick just pushed a change to the 0.24.3 development branch with condition support.
basically it looks like:

[code]

you can see the [docs](https://github.com/sagiegurari/cargo-make/tree/0.24.3#usage-env-config) and [example toml file](https://github.com/sagiegurari/cargo-make/blob/0.24.3/examples/env.toml#L19-L240.

[2019-12-24 19:02] mmstick commented on #341
You can on Pop!_OS, at least, since that's where it's now being packaged. It would allow anyone to build debian packages from the source repo, too. `ie: dpkg-buildpackage -b`

Any repository in the Pop!_OS GitHub repository that contains a debian directory is automatically packaged by our CI.

[2019-12-24 21:51] sagiegurari commented on #341
cool. maybe you can document it in the installation section?

[2019-12-27 01:47] bluejekyll opened #346 "Eager vs. Lazy variable resolution"
**Features Description**

When env sections are being evaluated, the resolution of variables that reference other variables is done eagerly, i.e. at the first point the variable is resolved. It would be nice to be able to delay this to when the environment is "commited" to the task executing this, or possibly have an option to do this. (Similar to the difference between `=` and `:=` in make).

For

[2019-12-27 06:12] sagiegurari commented on #346
They are evaluated by the order of they are defined. That is by design to make it really simple to understand.
You have an interesting use case, but I think  you can resolve it by doing something like this:

[code]

[2019-12-27 06:57] bluejekyll commented on #346
I'll try that.

[2019-12-27 07:13] bluejekyll commented on #346
Ok, I attempted this, and the evaluation is still too eager for this to work.

[2019-12-27 07:16] sagiegurari commented on #346
how so? i tested it before i posted :)
can you give me an example toml (just the env) and how you are executing cargo make (the command line)?
I'll be able to check it in few hours

[2019-12-27 07:40] bluejekyll commented on #346
Oh, it does work, but with one complication, here's the broken version:

https://github.com/bluejekyll/pg-extend-rs/blob/9090d45ebec23bb006b0cf48c34d0668c0d10d54/Makefile.toml#L14

When I remove the `additional_profiles` it works as you laid out. I was using the the `addiotonal_profiles` to set a default profile. When using it that way, it caused it not to work.

[2019-12-27 07:43] sagiegurari commented on #346
ok, will check that.  thanks for the example

[2019-12-27 07:44] bluejekyll commented on #346
Just tried setting those values in a different way for defaults, and that also doesn't work.

No, thank you... I appreciate all the work on this!

[2019-12-27 07:47] sagiegurari commented on #346
but can you explain why it's setup that way?
i mean, if you set the value anyway in the makefile and not via command line, why not just do

* simple env with the version you want
* second env that uses decode to convert that major version to the actual full major.minor version

[2019-12-27 07:49] bluejekyll commented on #346
Sorry, I'm using this for enabling the profile from the cli:

`cargo make default-features -p v11`

Sure, I can explain. I do my best :)

[2019-12-27 08:02] sagiegurari commented on #346
if you enable from cli, then remove it from the additional profiles. it should work ok.
or maybe I'm missing something?
that is the flow i checked before posting

[2019-12-27 08:06] bluejekyll commented on #346
yes, sorry if I wasn't clear. Without the `additional_profiles` it works.

The only disappointment there is that then I don't have default values for those variables. That's just disappointing, and I don't see an easy way of then specifying the defaults for those values, a profile would always be necessary.

[2019-12-27 08:20] sagiegurari commented on #346
did you try maybe using decode for that? then you can have that mapping.
you can do the mapping based on the profile or whatever you want.
i use decode to map cargo make profile to cargo profile

[2019-12-27 08:21] bluejekyll commented on #346
I haven't used decode yet, let me look at that.

[2019-12-27 08:38] bluejekyll commented on #346
So if I understand correctly, @@decode can only be used with command arguments. I'm using these variables in scripts:

https://github.com/bluejekyll/pg-extend-rs/blob/9090d45ebec23bb006b0cf48c34d0668c0d10d54/Makefile.toml#L189

Now I suppose we could fork and call cargo make recursively or something along those lines, but I think that starts getting into some awkwardness in process management. Not

[2019-12-27 08:42] sagiegurari commented on #346
there is also env decode

for example

LIBRARY_EXTENSION = { source = "${CARGO_MAKE_RUST_TARGET_OS}", default_value = "unknown", mapping = {"linux" = "so", "macos" = "dylib", "windows" = "dll", "openbsd" = "so" } }

[2019-12-27 08:46] bluejekyll commented on #346
Oh, I think I missed that in the docs. I will try that tomorrow. That does look like it could help with this. Thanks for the pointer!

[2019-12-27 09:04] bluejekyll commented on #346
Ok, I decided to do it right now, this works:

https://github.com/bluejekyll/pg-extend-rs/blob/9acc1c9b1667485ff8b56cc7ba463b1f3991f141/Makefile.toml#L30-L32

[code]

Thank you for your patience! I think with this, I might not have a need for the lazy loading. Feel free to close. It appears to work perfectly.

[2019-12-27 09:06] sagiegurari commented on #346
great. I'll leave this open for few days to make sure nothing more is needed in this area :)

[2019-12-27 09:40] sagiegurari opened #347 "workspace publish flow"
same as the current publish flow that works good for single crates, have workspace support as well.

[2019-12-27 17:06] sagiegurari commented on #339
@aklitzke did this resolve your issue?

[2019-12-30 11:02] sagiegurari opened #348 "Embed duckscript to provide real multi platform inprocess scripting capability"
**Features Description**
Embed duckscript, a shell like scripting language that will provide:
* multi platform solution - no longer need to use @shell
* Enable to modify cargo-make process env and cwd from within the script

**Code Sample**
[code]

[2019-12-30 13:40] shell commented on #348
Thanks for no longer using me 😄

[2019-12-30 13:41] sagiegurari commented on #348
lol sorry about that ```@shell``` is a custom runner name that is used in the code.
but... i'm sure it happens a lot with such a github user name :D

[2019-12-30 13:43] shell commented on #348
No worries. Thats what you get for having programming-related name, I've got all kinds of notifications. But then I like to laugh with people about it.

[2019-12-30 13:55] #346 closed

[2019-12-30 14:08] sagiegurari opened #349 "New CARGO_MAKE_PROJECT_NAME and CARGO_MAKE_PROJECT_VERSION env vars"
for crates those 2 env vars should be same as the crate name and version.
but for workspaces it should be
project name: the workspace directory base name
version: if a member crate exists with the same name as the project name, take that value. or take the value of the member based on a new env var CARGO_MAKE_WORKSPACE_VERSION_CRATE which will hold the master version.

after that, need to update f

[2019-12-30 14:09] sagiegurari commented on #343
@bluejekyll is this resolved via init tasks or something more is needed?

[2019-12-30 15:29] bluejekyll commented on #343
Thanks for following up. I haven’t had a chance to try the solution you mentioned. It’s not clear to me how to use that to solve the issue in the way that I’ve considered it, but also, I’m not currently blocked so I wouldn’t call this a bug that has high urgency, if you want to close it.

[2019-12-30 16:46] sagiegurari commented on #342
@mmstick did you checkout my answer? did it help resolve the issue?
also I just added support for duckscript which is an embedded scripting engine so you will be able to play around with cargo-make env a lot more.
not released yet, but just a heads up.

[2019-12-30 17:06] mmstick commented on #342
I'll try cargo-make out again soon. Perhaps later today, after work hours.

[2019-12-31 08:30] dakom opened #350 "path for watch options"
The [cargo-watch](https://github.com/passcod/cargo-watch) crate allows specifying directories to watch (via the `--watch` or `-w` cli args)

Would it be possible to add this here? Ideally it should have full support including passing multiple directories.

Use case is I am running `cargo-make` in a web project where the wasm is compiled from subdirectories. So they need to be watched specifically,

[2019-12-31 09:40] sagiegurari commented on #350
That's good idea. I'll add it.

[2019-12-31 12:36] dakom opened #351 "namespace conflict with other cargo commands"
Naming tasks like `build` or `clean` causes a failure - seems there's some conflict between task names and cargo utility names?

[2019-12-31 12:39] sagiegurari commented on #351
what do you mean? can you give an example error?

[2019-12-31 12:43] dakom commented on #351
With this Makefile.toml:

[code]

Running the `clean-okay` or `build-okay` tasks works fine. Running either `clean` or `build` errors with

[code]

And then a large dump of what I guess is some serialized state

[2019-12-31 13:03] sagiegurari commented on #351
ok, i get you.
so cargo make comes with a LOT of built in tasks so you won't have to write your own makefile (in some cases).
so those tasks like 'clean' are there for you.
when you define clean, it extends the core clean task, doesn't replace it.
to replace you can use the clear attribute (clear = true).
you can also remove all core tasks and start fresh if you want.
I think the documentation exp

[2019-12-31 13:09] dakom commented on #351
Ahh I see... and yeah, adding this to the toml fixes it:

[config]
skip_core_tasks = true

From my perspective, feel free to close the issue :)

[2019-12-31 13:10] #351 closed

[2019-12-31 13:24] dakom opened #352 "Can't find command"
From command prompt or powershell, running `npx --version` gives me `6.12.1`

But when I run this task:

[code]

I get:

[2019-12-31 13:27] sagiegurari commented on #352
is it an exe? maybe you can add the extension to the command?

[2019-12-31 13:34] dakom commented on #352
It's a `.cmd` it seems... installed by node or npm, but running it with the extension gives other errors (and wouldn't be cross-platform though that could be dealt with via conditionals I guess)

no worries, can use `script` for now - but I'd imagine this might come up for others too since `npx` is how you run other npm-installed tools like webpack

[2019-12-31 13:36] sagiegurari commented on #352
if its cmd, you must use script to invoke it as it is not a command.
running it from a shell is not the same as using the os api to call a command.
so you can have a script
```npx ....``` which should be cross platform

[2019-12-31 13:42] #352 closed

[2019-12-31 19:11] #349 closed

[2019-12-31 19:11] #348 closed

[2019-12-31 19:11] #347 closed

[2019-12-31 19:12] sagiegurari commented on #344
This is now published in the new cargo-make version.

[2019-12-31 19:12] #344 closed

[2019-12-31 19:12] sagiegurari commented on #350
This is now published in the new cargo-make version.

[2019-12-31 19:12] #350 closed

[2019-12-31 20:23] dakom opened #354 "multiple directories in watch"
now that it's possible to add a path to watch (#350 ) - I'm not sure how to add multiple paths.

The syntax for cargo watch itself is to have [multiple `-w` args](https://github.com/passcod/cargo-watch/issues/119#issuecomment-493718619)

I think on the toml side it'd feel natural to have an optional list of paths. e.g.:

[code]

[2019-12-31 20:29] sagiegurari commented on #354
no problem.

[2019-12-31 20:33] dakom commented on #195
I'm really liking `cargo-make` as a generic task runner, but that means I need to have it run tasks from outside a rust project... so I think I need to call `watchexec` which will then itself call `cargo make [task]`

That works fine, though there's about a 200-300ms overhead of calling `cargo make` itself. Would be cool if there was like a fast path for this use case, which I think is related to

[2019-12-31 20:35] dakom commented on #354
Cool :)

![image](https://user-images.githubusercontent.com/6406986/71633591-d5bf9e00-2c1d-11ea-967e-77dfe9ea118d.png)

[2019-12-31 20:53] dakom opened #355 "script hangs terminal"
**Describe the bug**
Running a task that launches `npx webpack-dev-server` causes a hang in windows when exiting

**To Reproduce**
1. Install node, npm, etc.
2. Create a minimal webpack project (and install webpack-dev-server)
3. Start the webpack-dev-server via npx directly:
[code]
4. Control-C to break out
5. No problem so far.. can type on the console, task manager looks clean - all good
6. Now

[2019-12-31 21:13] sagiegurari commented on #195
I'm not planning to embed it for the reasons already detailed above.
might mean 200ms but would reduce complications in the project like duplicating the logic found in cargo watch.

[2019-12-31 22:48] sagiegurari commented on #354
since this is a breaking change for something i just pushed, decided to create a new release.
it will be available in about 20 minutes

[2019-12-31 22:56] #354 closed

[2019-12-31 22:59] sagiegurari commented on #355
sorry, but i won't be able to investigate this one as i'm not going to install all that and i do not develop on windows at all.

[2020-01-01 12:15] dakom commented on #355
Understood. I can work around it in the meantime by launching `cargo make` from npm instead of the other way around.

If you have any tips to like where in the source code to look at that _might_ cause a hang, maybe I'll take a look down the road. Not a high priority for me either though since the workaround is fine

[2020-01-01 14:09] sagiegurari commented on #355
scripts are executed in the command.rs and it is using another library run_script (also mine) which creates a script file and executes it.

[2020-01-01 16:34] dakom commented on #355
started doing a bit of sleuthing and was able to recreate the bug in a local project using just `run_script` (not cargo make) ... will open an issue there just for the sake of keeping track

[2020-01-01 17:21] dakom commented on #355
OK as noted over in `run_script` - the issue isn't windows or npx, but rather what I'm launching (webpack-dev-server) is a server that just hangs around and expects to be killed with control-c

Can there be an option in `cargo-make` to call `run_script::spawn()` instead of `run_script::run()`?

In this case, `cargo-make` would need to stay active (like in watch mode I guess) and then `kill()` the

[2020-01-01 17:31] dakom commented on #355
Yup! The same problem happens with any other command that hangs around.

For example, assuming `watchexec` is installed, this will demonstrate the problem:

[code]

`cargo make foo` will execute it and everything is fine - but ctrl-c then does wacky stuff and can't type in the terminal (curious what the effect is on linux!)

[2020-01-01 18:05] sagiegurari commented on #355
i use cargo watch on linux and cntl c works ok there.
you can get a linux box via gitpod. its really easy

[2020-01-01 18:33] dakom commented on #355
on windows internal watch works fine, but external does not. for example, script1 and script2 hang, but script3 is totally fine:

[code]

However you're launching cargo watch internally... can that be used to launch arbitrary scripts the same way?

[2020-01-01 19:43] dakom commented on #355
so it's not just the internal `watch` that works fine... commands are okay too:

[code]

[2020-01-01 19:51] sagiegurari commented on #355
thanks for the investigation.
i'm guessing in most cases it should be ok then as cargo make usually runs tasks and ends and doesn't usually used for running forever running processes.
if it does, its usually with built in watch=true.
having said that your use case is 100% valid and is a combination of
1. running a forever process
2. having to run it as a script and not as a command as the thing is

[2020-01-01 19:59] dakom commented on #355
Thanks, will keep that in mind as another workaround :)

But... I find the solution! though I don't understand enough about `Command` to know if it's valid...

In the `run_script` crate - the fix is changing [this line in create_command_builder()] (https://github.com/sagiegurari/run_script/blob/09d9a0e402924dbdf8bc38780bee006fa5b974f7/src/runner.rs#L48)

from this:
[code]

to this:
[code]

The way

[2020-01-01 21:13] dakom commented on #355
Another interesting data point... for some reason the `command = "cmd.exe"` workaround does not work.... still freezes for some reason. There's no cache being generated or something right?

Good news is though that I tested on a local fork the above suggested change to `run_scripts` and after doing that, this works just fine, so I imagine it'd carry over to `cargo-make` too (assuming the suggested

[2020-01-01 21:20] sagiegurari commented on #355
cool. so open a pr for run script please.
I'll run some tests and if all ok, I'll push it.
thanks a lot for all the investigations

[2020-01-01 22:16] dakom commented on #355
Done. Goodnight :D

[2020-01-03 15:53] sagiegurari commented on #342
@mmstick the latest version of cargo-make now supports duckscript which enables to modify env vars inside cargo-make via simple scripting.
it can help the appending scenario you have for the ARGS env vars.
You can call that script as an init task so any flow you run, the init task will always be called at the start and can be used to setup the env.
here is an example of your env vars in toml

[cod

[2020-01-04 22:26] daxpedda opened #357 "Get default build target including from `.cargo/Config.toml`"
**Features Description**
A way to get default build targets from `.cargo/Config.toml` or fall back to rustc default.

**Describe the solution you'd like**
An environment variable like `CARGO_MAKE_CRATE_TARGET_TRIPLE`.

**Code Sample**
[code]

[2020-01-06 07:17] sagiegurari opened #359 "Enable @script type detection with shebang line"
**Features Description**
The shebang support points to an existing executable to run the script.
Might be really useful also to support the ```@script``` types such as ```@duckscript```.
naturally langs that do not support the ```#``` comments will not work well.

**Code Sample**
[code]

[2020-01-06 19:33] sagiegurari opened #360 "env_scripts block"
A scripts block that is invoked as part of the env resolution phase to enable more custom manual env setup

[2020-01-08 13:16] elpiel opened #363 "Run task for specific package in the repository"
**Features Description**
cargo's `--package` option in `cargo-make`

**Describe the solution you'd like**
I would like to see this option as I find it difficult to build a release and zip, since it only does that on the main crate in the `workspace`.
This will allow for repositories that have multiple crates and want to build them separately and independently from each other. Or just running a tas

[2020-01-08 14:47] sagiegurari commented on #363
what if you added an env block per member and name it like the member.
in it you define only that member to be included and than run the whole thing with -p and member name?

[2020-01-08 23:54] sagiegurari opened #364 "Add condition that release flow is done on master"

[2020-01-10 07:12] elpiel commented on #363
I.e. to create a task to be run on each member from the workspace if it has the env. variable defined/not empty? So if there is env. variable in the member's `Makefile` it will execute the task for it.

[2020-01-10 09:33] sagiegurari commented on #363
No, you don't need makefile for each member.
What i meant is, lets take for example you have members A, B and C.
in your workspace makefile you can add the following:

[code]

And if you run in your workspace level the following:

[code]

it will use profile 'B' which in turn load ```CARGO_MAKE_WORKSPACE_INCLUDE_MEMBERS = "B"``` which will result that only that member is invoked with task ```somet

[2020-01-10 10:44] sagiegurari commented on #342
going to publish soon env_scripts which enable to init env vars without any task (before the flow starts).
I think that + duckscript capabilities provide you a full solution.
i'm closing this one for now, but if its not clear enough or doesn't meet  your needs just reopen it or open a new issue.
thanks for the feedback.

[2020-01-10 10:44] #342 closed

[2020-01-10 10:46] sagiegurari commented on #339
closing due to lack of feedback.
feel free to reopen if it didn't answer your need.

[2020-01-10 10:46] #339 closed

[2020-01-10 11:14] #360 closed

[2020-01-10 11:14] #359 closed

[2020-01-10 11:14] #364 closed

[2020-01-10 11:15] sagiegurari commented on #357
0.26.0 version is being released with your PR

[2020-01-10 11:15] #357 closed

[2020-01-15 08:04] sagiegurari commented on #363
@elpiel did it solve your issue or you need something additional?

[2020-01-15 09:52] elpiel commented on #363
Let me get back to you later since I am no longer working on this task.
Maybe close it for now and reopen it once I come back to it or someone else has similar problem again.

[2020-01-15 10:52] #363 closed

[2020-01-15 11:03] sagiegurari opened #366 "auto load all env vars as duckscript vars"

[2020-01-17 13:55] sagiegurari opened #367 "Update kcov to 38"

[2020-01-17 15:21] sagiegurari opened #368 "add sleep before publish during workspace flow"
In workspace, crates depend on each other and multi publish may fail due to that.
adding a bit of wait, should hopefully resolve it.

[2020-01-17 20:27] #368 closed

[2020-01-17 20:27] #366 closed

[2020-01-17 20:27] #367 closed

[2020-01-20 08:18] thinkpadder1 opened #370 "Update rustfmt overwrite parameter in examples"
**Describe the bug**
`rustfmt` replaced `--write-mode` with `--emit`. See the bottom of https://github.com/rust-lang/rustfmt#tips

**To Reproduce**
Steps to reproduce the behavior:
Run existing simple example on latest stable: https://github.com/sagiegurari/cargo-make#usage-simple

**Error Stack**
[code]

**Code Sample**
[code]

**Solution**
Change the args to:
[code]

[2020-01-20 09:21] sagiegurari commented on #370
thanks a lot. i'll update it.
too bad rustfmt always do that and break backward compatibility :(

[2020-01-20 18:00] sagiegurari commented on #370
done. thanks a lot

[2020-01-20 18:00] #370 closed

[2020-01-23 05:13] sagiegurari opened #371 "print duckscript version info env task"
this depends on a newer version

[2020-01-24 11:12] #371 closed

[2020-01-24 11:57] mazgi opened #372 "v0.26.1 cannot parse line breaks in condition statement"
**Describe the bug**

Does cargo-make v0.26.1 cannot parse the Makefile if it included line breaks in a condition statement?

**To Reproduce**

I would be glad if you check the following repository.
[202001.cargo-make-0.26.1-cannot-line-breaks-in-condition](https://github.com/mazgi-sandbox/202001.cargo-make-0.26.1-cannot-line-breaks-in-condition/tree/c7b5c44ef53923599f0e4104a055365260d29964)

The

[2020-01-24 12:20] sagiegurari commented on #372
those line breaks go against the toml file spec.
there are workarounds but its better you look at the toml github repo to understand the spec of how to write and use it.

cargo make uses standard toml to define the tasks so its a bit outside of cargo make scope.

[2020-01-24 14:22] mazgi commented on #372
Oh, thanks!
I get it!

[I created follows makefile.](https://github.com/mazgi-sandbox/202001.cargo-make-0.26.1-cannot-line-breaks-in-condition/tree/1e2e33fb11e44169199327c8a50d83cc9b9435bd)

[code]

And I got the result as I wanted.

[code]

Thank you for your reply ❤️

[2020-01-24 14:22] #372 closed

[2020-01-29 19:58] mogenson commented on #355
Hello, I think I may be seeing this same issue on cargo-make 0.26.2 from crates.io. This version should include run_script 0.6 with the [chage stdin to piped](https://github.com/sagiegurari/run_script/commit/abab1577beeb6d8ef08f8a5f797d7cb044581e29) commit. I'm on Linux x86_64.

I've tried a few of the above suggestions to create a task that launches GDB to debug a Rust program. You can see a smal

[2020-01-29 20:06] mogenson commented on #355
By the way, when using the setsid command in any tasks, they fail with `setsid: failed to set the controlling terminal: Operation not permitted`

[2020-01-29 22:45] sagiegurari commented on #355
the changes in run script are not used by cargo make. i need to think of how to enable them when needed, probably some flag or something similar

[2020-01-29 22:49] mogenson commented on #355
I found a workaround by abusing the [script](http://man7.org/linux/man-pages/man1/script.1.html) command. `script` will swallow <kbd>Ctrl</kbd><kbd>C</kdb> and does not require super user permissions like `setsid`.

I've updated my [dummy project](https://github.com/mogenson/cargo-make-ctrl-c) with an example.

I'll keep an eye out for a cargo-make update with a flag or option, since that will be

[2020-01-30 18:27] mogenson commented on #355
I installed the 0.26.3 branch. Unfortunately, with your above `force-pipe-stdin` task I can still <kbd>Ctrl</kbd><kbd>c</kbd> quit the script and cargo-make.

If I use the environment flag in my GDB example, the task ends immediatly after launching GDB. It does not wait for the process to finish.
[code]

[2020-01-30 19:22] sagiegurari commented on #355
@mogenson thanks a lot for the feedback.
maybe you can play around with the change i did to find the right out/in option and if you do, we will expose those as some env to enable to workaround this.

@dakom what about your use case? does this resolve it?

[2020-01-30 20:07] dakom commented on #355
Can't check today but will try tomorrow... in the meantime, thanks :)

[2020-02-02 17:56] dakom commented on #355
sorry about the delay...

good news, this does fix it - thanks so much!!

little test repo here: https://github.com/dakom/cargo-make-stdio-test

[2020-02-02 18:15] sagiegurari commented on #355
@dakom thanks a lot for checking.

@mogenson I'll try to check gdb flow as well and will update here

[2020-02-06 16:26] sagiegurari commented on #355
@mogenson i'm not using my fix in your use case.
in the gdb console, i simply type quit to exit it.
it looks like thats the proper way to kill it so i'm not sure there is something needed to do in cargo-make

[2020-02-06 18:31] mogenson commented on #355
@sagiegurari this is the workflow I've been testing:

- clone https://github.com/mogenson/cargo-make-ctrl-c.git
- run cargo make debug-1 (or debug-2 or debug-3)
- type run in the gdb prompt to start test program execution
- press ctrl-c to break execution
- GDB may catch sigint or cargo-make may exit
- if you press ctrl-c again, cargo-make will definitely exit, and you'll be back at the shell prom

[2020-02-06 18:33] sagiegurari commented on #355
ok thanks for the detailed explanation. will try it.

[2020-02-06 18:37] mogenson commented on #355
If GDB is kind of a niche case, I've tried the following cargo make task:
[code]

As-is, pressing ctrl-c to exit cat also exits cargo-make and you don't see the last echo. With the env option uncommented, cat does not wait for stdin and the task finishes immediately.

[2020-02-09 07:08] sagiegurari opened #374 "For some executables, cntr-c will leave zombie processes"
This is in to continue #355 since original issue was resolved, but additional flow reported by @mogenson was not and requires different handling.
There is a hacky workaround to use script executable for it in the meantime.

repro can be seen in https://github.com/mogenson/cargo-make-ctrl-c.git

[2020-02-09 07:08] sagiegurari commented on #355
I'm going to close this issue as original problem was resolved.
@mogenson I have opened a new issue specifically for your flow in #374

[2020-02-09 07:08] #355 closed

[2020-02-16 06:02] sagiegurari opened #375 "grcov coverage support"
**Features Description**
Add coverage provider tasks for [grcov](https://github.com/mozilla/grcov)

[2020-02-21 10:53] sagiegurari opened #376 "Add github hub cli support"
can be used for release creation.

[2020-02-21 13:01] nre-ableton opened #377 "Version number not correctly reported"
**Describe the bug**

Running `cargo-make --version` just prints out `cargo` and not the actual version. I have so far only tried this with v0.27.0 on Mac, and am not sure if it has been fixed in `master` or for other platforms.

**To Reproduce**

Run `cargo-make --version`.

[2020-02-21 13:05] sagiegurari commented on #377
i think you meant to do ```cargo make --version``` no?

[2020-02-21 13:06] sagiegurari commented on #377
you can also checkout:
https://github.com/sagiegurari/cargo-make#cli-options

[2020-02-21 13:14] nre-ableton commented on #377
Ah, ok, I see now. So running `cargo-make make --version` prints out `cargo-make 0.27.0` as I was expecting. I found this confusing because running `cargo-make --help` claims that there is a `--version` switch which would print out the version, and it only prints out `cargo`.

I guess this option should be removed, then?

Please forgive my ignorance with these tools; I'm not terribly familiar with

[2020-02-21 13:16] sagiegurari commented on #377
so i'm using clap which generates that help docs. i'm not that fond of it but it does most of the job right.
you do have another binary which is makers that you do not need to call cargo first.
so you can do makers --version
makers and cargo-make do the same job just makers doesn't require that cargo prefix....

[2020-02-21 13:18] sagiegurari commented on #377
closing this one, but feel free to open new issue if you have any trouble.

[2020-02-21 13:18] #377 closed

[2020-02-21 13:27] sagiegurari commented on #375
I think this one should be implemented after mozilla/grcov#326 is handled instead of building an entire flow inside cargo-make makefile.

[2020-02-21 14:03] #376 closed

[2020-02-21 14:11] nre-ableton commented on #377
No problem, thanks for the clarification @sagiegurari!

[2020-03-06 10:17] l4l opened #379 "env_scripts for shell"
I don't really know whether it's a unimplemented feature or a bug, but it seems that env exports from shell scripts (bash at least) doesn't work in `env_scripts = [ .. ]`. Here is the simple example for reproducing the case:

[code]

[2020-03-06 10:21] sagiegurari commented on #379
correct, you need to use duckscript for that.
since its embedded inside cargo make, it can modify the env.
that's actually the reason i created this feature for :)

[2020-03-06 10:23] sagiegurari commented on #379
looking at the docs, it seems i mentioned that. give it a try.

[2020-03-06 11:39] l4l commented on #379
I see, so it's only possible with duckscript, that make sense then. There is also `@shell` runner, maybe it can handle similar thing? And as for common scrpts, I guess, it might be possible to look at the difference in all env vars before and after running `env_scripts`, wouldn't it?

[2020-03-06 11:50] sagiegurari commented on #379
child process can't modify parent and parent can't see the env of the child so.... that's tricky.
that's why i gave the ability to run an embedded script.
duckscript is really simple shell like lang that has easy access to env, filesystem and so on. if there are limitations that are blocking you, please point them out so i can try to help out

[2020-03-06 11:58] l4l commented on #379
Oh, indeed, you cannot simply eval this script without interpreter, right. Though it still should be possible explicitly setting child env vars and pass back new values via stdout.

My case is quite simple: before every task I need to set-up env vars that provided by third-party (e.g. `script.sh` in example above).

[2020-03-06 13:08] sagiegurari commented on #379
before every task you need to call 3rd party sh?
is it same shell?
if so, you could have a task that sources that shell and then calls cargo make as another child

[2020-03-06 14:25] l4l commented on #379
Well, it basically environmental path-es (e.g. PATH, LD_LIBRARY_PATH, etc), but defined in shell script, so yes those should be defined. I guess some of the tasks don't really need these vars, but those are minority, so I thought it would be easier to simply define such envs as globals.

Didn't really get the question. In my case everything can be handled only by sh.

Sounds like quite a clumsy so

[2020-03-06 14:28] sagiegurari commented on #379
ya, its not fun solution sorry.
if those are not really before every task, you could migrate it into cargo-make.
if its a complex script that may change a lot in the future, maybe best way is to have some script source it and then call cargo-make.
there isn't much magic that can easily be done at the moment, sorry.

[2020-03-11 00:20] roblabla opened #381 "Minimum version dependency installation"
**Features Description**
I'm currently dealing with bitrot happening in my kernel, which stopped building after leaving it untouched for a couple months. It turns out that newer version of build dependencies stopped building on the rustc version pinned by my project, which caused the build to fail.

It'd be nice to find a way to tell cargo-make to leverage the `min-version` and cargo's `--locked`

[2020-03-11 18:56] sagiegurari commented on #381
cool idea.
do you think install_crate_args is not good enough because its not global?

[2020-03-12 00:07] roblabla commented on #381
Huh, `install_crate_args` somehow flew under my radar. There doesn't seem to be any example in the docs showing how to use it? It's only mentioned [here](https://github.com/sagiegurari/cargo-make#usage-installing-cargo-plugins) in the readme. I had to look at the Makefile built into cargo-make to find how it's used ^^'. Maybe [this](https://github.com/sagiegurari/cargo-make/blob/7a466021001e75d59e

[2020-03-12 12:49] KaiserKarel opened #382 "Obtaining the workspace root"
I'm using a bunch of workspaces, sharing target directories. I'd like to refer to the root (the directory containing the Cargo.toml with the `workspace.members` key) from one of the nested workspaces. How can I accomplish this?

[2020-03-12 12:52] sagiegurari commented on #382
you mean you have a bunch of **crates** which are in the same workspace, right?
if so, when running from the workspace level, you have access to a ** CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY** env var.
however, if you go to a specific crate and run from there, cargo-make is unaware you are in a workspace.

[2020-03-12 13:01] KaiserKarel commented on #382
CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY does the trick when running from the root; however I'd like the scripts to also work when ran from other directories.

Basically I need to access the root `target` directory to load some wasm files; where I specify their location through my programs command line.

[2020-03-12 13:03] sagiegurari commented on #382
so currently i don't have that. but could try to add it if you run it from the root of some member crate.

[2020-03-12 13:04] KaiserKarel commented on #382
There should be a way to access it through Cargo I reckon; since it is able to figure out where to place all artifacts, even when I'm running cargo make from different directories.

[2020-03-12 13:05] sagiegurari commented on #382
ya, didn't say its not possible :)
just that, its not implemented at the moment and going to try to add it soon.

[2020-03-12 13:06] KaiserKarel commented on #382
That'd be great. Let me know if I can help out.

[2020-03-12 22:27] sagiegurari commented on #382
@KaiserKarel I just pushed a commit to the dev branch to setup CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY correctly even when starting the build in the member crate directly and not in the workspace level.
can you please install it and check if it resolves your issues?

[2020-03-13 08:56] sagiegurari commented on #379
i'm closing this for now, as i don't have and not sure i will have a good solution for importing shell scripts and running them embedded and not as child processes.
there are the following solutions:
* using duckscript
* using env table in makefile
i know it doesn't fit your needs as you have 3rd party scripts, but thats all i can do.
there are easy solution from outside cargo make meaning you hav

[2020-03-13 08:56] #379 closed

[2020-03-13 09:06] sagiegurari commented on #381
first of all, you don't have to duplicate things, right? you can extend for example:

[code]
which makes things more readable and maintainable.
i would even make the version as env var in the env table to share same value.
 
second, i can implement that global env var to enable this automatically, but i hope it will actually help and not cause other problems.

[2020-03-13 10:35] sagiegurari commented on #381
@roblabla  I just pushed support for this global flag.
if CARGO_MAKE_CRATE_INSTALLATION_FROZEN=true you will have version and frozen flags added automatically.
CARGO_MAKE_CRATE_INSTALLATION_LOCKED=true is the same, but instead of frozen, it adds locked.
you must have min_version defined in that specific installation info for this to be triggered.
can you please try it out and give me feedback?

[2020-03-13 12:34] roblabla commented on #381
I just took a quick look (didn't run it yet, just going over the code), I think you forgot to prefix the version with `--version` [here](https://github.com/sagiegurari/cargo-make/commit/bbaf4c87455e691caa17c8b0377ce39f32ff6e27#diff-adb5236b48e33bb74614a9a55f6e1e52R104)? `cargo install xargo --locked 0.3.18` won't work (it treats 0.3.18 as a crate to install), it needs to be `cargo install xargo --

[2020-03-13 16:17] sagiegurari commented on #381
woops. right. thanks.
and thanks for all the great idea you keep giving :)

[2020-03-13 16:34] sagiegurari commented on #381
Code updated and added relevant docs as well.
I'm relying on you for functional testing of it (didn't have much time myself, so only added unit tests for actual expected result and not crate actual installation).

[2020-03-13 17:58] roblabla commented on #381
Just ran 0.29 on my project, the LOCKED installation works perfectly fine :). I'm not entirely sure FROZEN makes sense for cargo install? When I tried installing xargo with --frozen, cargo complained with

(Full command: [cargo-make] INFO - Execute Command: `cargo install --force --frozen --version 0.3.18 xargo`)

So I'm not sure how --frozen is supposed to be used :eyes:.

[2020-03-13 18:26] sagiegurari commented on #381
ya, frozen does seem only relevant for dependencies. will remove that.

[2020-03-17 13:35] expenses opened #387 "Predefined flows shouldn't attempting to download and compile things, especially not with sudo"
The predefined `coverage-kcov` flow downloads `kcov`, builds it and tries to install it with `sudo`. This is pretty dangerous and is totally unnecessary. It'd be much better to just check if `kcov` exists in `$PATH` and just print an error if it doesn't exist.

[2020-03-17 13:46] sagiegurari commented on #387
today it both checks if it exists and also checks for min capabilities (meaning that its not an old kcov version that is not supported). only if it is old or not installed will it call sudo installation flow.

i know it feels risky, but the code is open source and you can see exactly what it does so there is a lot of transparency here. also you don't have to allow the sudo and it will just fail.
b

[2020-03-17 13:47] sagiegurari commented on #387
by the way, cargo-make also supports tarpaulin and you can change it via env to use that.
for me its not working well so its not the default one.

[2020-03-18 09:41] KaiserKarel commented on #382
Sorry, bit hectic last couple of days; but it seems to work perfectly!

[2020-03-18 09:46] sagiegurari commented on #382
great. will probably release a new official version today/tomorrow.

[2020-03-18 19:18] sagiegurari commented on #387
@expenses i just pushed a commit which enables to have sudo invocation prevented for non CI envs.
you just need to define the CARGO_MAKE_SUDO_DISABLE env in your makefile and it will try to run kcov without trying to install first.
hope this helps you

[2020-03-19 15:01] sagiegurari commented on #387
i'm closing this one because
1. just release a new cargo-make version which enables to disable sudo if requested
2. lack of feedback from OP

[2020-03-19 15:01] #387 closed

[2020-03-19 15:02] sagiegurari commented on #382
@KaiserKarel just release an official version with this fix.
thanks for the feedback

[2020-03-19 15:02] #382 closed

[2020-03-19 15:03] sagiegurari commented on #381
@roblabla just released a new version with this.
as usual thanks a lot for the feedback. you provided many great ideas and contributions.

[2020-03-19 15:03] #381 closed

[2020-03-21 13:33] KaiserKarel commented on #382
Perfect, thanks for the quick feature addition!

[2020-03-21 16:05] sagiegurari opened #390 "Ignoring non actionable tasks"
tasks that do not do any action or modify the env should be skipped and not printed.

[2020-03-22 17:03] KaiserKarel opened #391 "Extended Makefiles build excessively"
Extended Makefiles depending on eachother cause excessive builds. See https://github.com/KaiserKarel/cargo-make-dependency-issue for a replication.

[2020-03-22 17:42] sagiegurari commented on #391
I don't see an issue, but i do see a strange setup.

1. in workspace level you have CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE - this means that when a member is invoked, its makefile automatically extends the workspace level makefile.
2. if the workspace level makefile you also have extension to each member... so basically what happens:
* you run cargo make in workspace level
* workspace level makefile

[2020-03-22 19:53] sagiegurari opened #393 "kcov coverage flow support for rustc >= 1.44"

[2020-03-22 21:44] sagiegurari commented on #391
closing this one. if you need help to set it up feel free to open an issue.
for workspace example, you might want to look at https://github.com/sagiegurari/duckscript which is a project of mine which is using rust workspace. its fairly simple.

[2020-03-22 21:44] #391 closed

[2020-03-22 21:46] sagiegurari commented on #340
@bluejekyll sorry for the really late handling.
1. mac installation - i used your code few release ago so thats in
2. Overlapping coverage reports - i think i resolved this one. each invocation of kcov goes to a new sub folder. codecov knows how to pick up all reports and merge so its fine and with this no report is overwriting the other. this will be in the 0.30.0 release which i'm planning to re

[2020-03-22 22:32] bluejekyll commented on #340
Cool!

[2020-03-22 22:43] sagiegurari opened #396 "Enable to set timeout for kcov test execution"

[2020-03-23 14:46] sagiegurari opened #398 "Revert appveyor/travis build scripts after rust bug is fixed."

[2020-03-23 16:58] sagiegurari opened #399 "build number file task"

[2020-03-23 18:52] jounathaen opened #400 "default_task_name does not work"
**Describe the bug**
I have three tasks: `build`, `bin` and `flash`. I do NOT have a `default` task. I want `build` to be my default task, but this does not work.

**To Reproduce**
Steps to reproduce the behavior:
Makefile.toml:
[code]
The content of the tasks probably does not matter.

**Error Stack**
[code]
Even though I set `default_task_name` to `build`, cargo-make still executes `default` and

[2020-03-23 19:04] sagiegurari commented on #400
actually default_task_name is for global config, not makefile config section.
that .cargo-make file is used globally for all projects in your machine.
to change default task in your specific project only, do this

[code]

[2020-03-23 19:59] jounathaen commented on #400
Thanks for the fast response. This indeed solves my problem. Would you think that such a config does make sense in the `Makefile.toml`? If not, feel free to close this Issue.
Best Regards!

[2020-03-23 21:11] sagiegurari commented on #400
user input is validated and that field has default value before the makefile is loaded so its kinda tricky. but maybe i'll revisit this. thanks

[2020-03-23 21:11] #400 closed

[2020-03-23 21:12] #396 closed

[2020-03-23 21:12] #340 closed

[2020-03-23 21:12] #390 closed

[2020-03-23 21:12] #393 closed

[2020-03-25 22:37] sagiegurari commented on #131
instead of having over complex config in cargo make tasks, we can now use duckscript as inline script that has the ability to fetch resources via http and execute native commands.
so its possible to do this with 2 lines of inline duckscript.
it can even be enhanced to do more fetching types, but thats outside cargo-make.
so in a way, this is now supported with cross platform scripting.

[2020-03-25 22:37] #131 closed

[2020-03-25 22:38] sagiegurari commented on #228
do'nt have good ideas here, i'll close this one.

[2020-03-25 22:38] #228 closed

[2020-03-25 23:03] sagiegurari commented on #198
this seems to work. i'm adding few test cases, but seems to be ok.
its possible its a windows only issue, but i can't check at the moment. anyway, closing.

[2020-03-25 23:03] #198 closed

[2020-03-25 23:09] sagiegurari commented on #343
i've been thinking about this one few times and i prefer not to have additional profiles also set via cli.
i'm not sure this is a blocker here, and i'm not sure how much additional profiles are used as a feature (i used it a lot).
i think profile is the main thing and additional just allow few tweaking so... i'm ok with leaving it as is.
closing for now, but feel free to reopen if something is mis

[2020-03-25 23:09] #343 closed

[2020-03-28 15:13] sagiegurari commented on #398
moved to github actions.

[2020-03-28 15:13] #398 closed

[2020-03-29 00:02] cdmistman opened #402 "Support array-access syntax"
**Features Description**
There should be some kind of syntax for accessing arrays. For example, this would be useful following `@@split(string,delimiter)`.

**Describe the solution you'd like**
A simple square-bracket based array-access syntax following cargo make functions.

**Code Sample**
[code]

[2020-03-29 05:17] sagiegurari commented on #402
nice. i can create a new function that splits and gets like
getat(envvar,delimiter,index)
if its out of bounds the entire arg is removed (like split does if the env var is empty or doesn't exist)

[2020-03-29 05:40] #399 closed

[2020-03-29 05:43] sagiegurari commented on #402
by the way, you can do something already today.
you could have some task that is invoking duckscript script that splits and takes the argument.
then it can set it as a new env var to be accessed by other tasks.

I will implement the new function, but just wanted to point out that you are not completely blocked at the moment.

[2020-03-29 10:49] sagiegurari commented on #402
@cdmistman you can try the 'getat' function now available in the dev branch 0.30.2
it works like the split, but accepts a third param which is the index to return.

you can look at docs + example:

https://github.com/sagiegurari/cargo-make/tree/0.30.2#usage-functions-getat

[2020-03-30 01:37] cdmistman commented on #402
thanks!

[2020-04-01 22:13] YruamaLairba opened #403 "Please mention dependencies not handled by cargo for building cargo make."
Hello,

The first time i tried to build/install this app, the building process failed during the build of "open-ssl-sys". I get this error because the "libssl-dev" package was missing to my system. While this kind of issue is often easy to solve, this kind of prerequisite should be mentioned in the build/install process. In general, this avoid the annoying task of trying and failing the build for

[2020-04-02 14:44] sagiegurari commented on #403
Thanks a lot for the feedback.

That ssl dependency is not used directly by cargo-make but by other rust dependencies.
so this whole thing is kinda dynamic, as it may change in the future without even changing cargo-make version. so i'm not sure this should be documented.
also, in case of installation issues, there are also prebuilt versions available in the release page and that is documented at

[2020-04-02 15:57] gilescope commented on #403
It's not immediately obvious why a make tool needs internet access. It would be cool if we could slim down these dependencies so that we had a build tool that was extremely easy (and fast) to build :-)

[2020-04-02 16:59] sagiegurari commented on #403
well... actually many build tools do need internet access.
cargo, maven, gradle, npm, so on and so forth are build tools that know how to download dependencies.
if you have it locally, ok. but if not, they fetch from remote server.

cargo make does the same, but more than that, if you call cargo plugins for example, it will download and install them for you (if needed) although they are not a depe

[2020-04-02 18:58] gilescope commented on #403
I’m thinking that you might be able to get away with outsourcing all the networking - for the plugins you can call cargo install cargo-pluginname. Cargo itself is a great example of something that is non-trivial to build, but it’s already built so we can piggyback off it. Is duckscript an optional feature?

As a user it’s really helpful if there’s a build that can work with ideally almost all rust

[2020-04-02 19:21] sagiegurari commented on #403
its not optional feature.
usually dependencies can be setup with features easily in cargo.toml, but installing binaries is not as they are system wide.
also, it is used in core tasks.
i very much think the issue is legit if it was actually a real issue to install, but with prebuit binaries available, its not.
and its much much faster than other binaries such as rustfmt or clippy.
removing dependen

[2020-04-02 19:48] sagiegurari commented on #403
I'm closing this one for now.
if you want to submit a documentation PR, I will review it.
i will however not remove features and fragment the code.

[2020-04-02 19:48] #403 closed

[2020-04-04 13:36] sagiegurari commented on #402
this is now released in 0.30.2 cargo-make version.
thanks for the feedback.

[2020-04-04 13:36] #402 closed

[2020-04-09 15:07] sagiegurari opened #407 "init/end tasks names taken from base and not stable toml"
**Describe the bug**
Need to investigate why the config init/end task names are taken from the base and not overridden by the stable.toml

[2020-04-11 10:45] sagiegurari opened #408 "Prevent git hooks from running in git push task as part of release flow"
Release flow already runs lots of validations so no need to run additional ones.

[2020-04-11 22:36] aklitzke opened #409 "Response to request"
Hi!

@sagiegurari you posted here: https://github.com/aklitzke/dors/issues/1 and I'm following up.

I want to start off by saying that I think you've really written a very comprehensive makefile engine that has a ton of features and fits a lot of use cases super well. Thanks for all your hard work on this project, I still use it myself in some projects, and will likely continue to.

I think the ho

[2020-04-12 08:06] sagiegurari commented on #409
first of all, thanks a lot for your time writing the feedback.
i guess each item in the list is an issue so i'll try to respond to each to see if i'm missing anything...

1. your way is simple. i do see that many projects use the script tag only sometimes because it is simpler to understand and write. however, unless you going to parse that, you wouldn't be able to provide additional added value o

[2020-04-12 08:31] sagiegurari opened #410 "Support workspace makefile extension when running directly from member directory"
see bullet 2 from #409

[2020-04-12 08:32] sagiegurari opened #411 "run_task attribute to emulate "run on members" task capability"
This would make things much more simple and less 'hacky'
see bullet 5 #409

[2020-04-12 08:35] sagiegurari commented on #411
maybe add workspace-members attribute to run_task, for example:

[code]

workspace-members could than be true for all members or a vec of member names.

[2020-04-12 08:36] sagiegurari commented on #410
when running cargo make from member directly, i already know today that its part of a workspace, so i could read that workspace makefile and if it has the automatic extend workspace level makefile env setup, i could trigger that flow.

[2020-04-12 20:17] sagiegurari commented on #411
actually this is not needed. with 'fork' attribute, its possible to emulate do on members easily.
will update the docs for it.

[2020-04-12 20:17] #411 closed

[2020-04-12 21:08] sagiegurari commented on #410
This might be more tricky and backfire on users setting their makefile to use different makefile file name or having multiple makefiles in root or just having a root makefile that extends others.
safest way is just have member manually extend using the extend attribute the needed makefile.

closing this one as its more risky then helpful.

[2020-04-12 21:08] #410 closed

[2020-04-15 13:19] #407 closed

[2020-04-15 13:19] #408 closed

[2020-04-17 20:32] connorkuehl opened #415 "Recursively descend into crates NOT in workspace?"
Is there any way to set up a root-level Makefile such that 'cargo make' can be ran at the root folder and it will descend into other folders which contain crates?

We specifically cannot use cargo workspaces due to how cargo coalesces features which complicates things for us when we have a number of crates that are using the same dependency like `libc` in `no_std` and `std` modes.

For example, ou

[2020-04-17 22:18] sagiegurari commented on #415
interesting problem. let me think of how i can set a 'workspace' mode without a real workspace.

[2020-04-18 14:27] sagiegurari commented on #415
@connorkuehl this is now implemented in the 0.30.6 development branch.
you can install from there and give it a try.
would like to get feedback from you to see that it works well in your scenario.

The docs to set it up:
https://github.com/sagiegurari/cargo-make/tree/0.30.6#usage-workspace-emulation

basically:

[code]

[2020-04-20 16:39] connorkuehl commented on #415
Hi @sagiegurari! Wow! That was quick. It seems to work well! I can't speak to some of the more advanced configurations because for our purposes we are mainly just building, testing, running `clippy`, `rustfmt`, etc.

I don't think Cargo workspaces do this, but do you think that `cargo make` could recurse deeper than just 1 layer? [Here's an example of the structure I'm talking about](https://githu

[2020-04-21 12:51] sagiegurari commented on #415
* are you sure you really want more than 1 level?
the 'rust' way of doing it is what you did in your example: ```bin/my-crate;lib/my-lib;lib/my-other-lib``` which seems pretty correct to me.
Adding makefiles in the middle kinda makes things more complex i think and is not consistent with rust workspaces.

* multi line - you could do that with [duckscript](https://github.com/sagiegurari/duckscript)

[2020-04-22 20:16] connorkuehl commented on #415
That's fair. We're just trying to think of ways to organize our repo.

Thanks for the great work on this!

[2020-04-23 08:06] haraldh commented on #415
shouldn't this be an array instead of a `;` separated string in the first place?

[2020-04-23 09:01] sagiegurari commented on #415
that's good feedback.
currently i don't support
env = [...]
but maybe i should as long as people understand that it will be converted to a ; delimited string

[2020-04-23 09:11] sagiegurari commented on #415
just thought, the question is why the var is string and not an array type, and not how to define it.

so those variables are basically environment variables. as such its a map<string,string> structure.

[2020-04-23 17:18] sagiegurari commented on #415
@connorkuehl  @haraldh based on your feedback, i now support arrays, so it can be more easily defined as follows:

[code]

[2020-04-24 12:39] sagiegurari commented on #415
both features have been released in 0.30.6 version.
thanks a lot for the ideas.

[2020-04-24 12:39] #415 closed

[2020-04-28 14:02] sagiegurari opened #417 "Ability to run cargo-make tasks from within duckscript"
This will allow building a smart flow with conditions and custom scripting which in turn will run cargo-make tasks.

[2020-05-01 18:17] connorkuehl opened #418 "Remove nightly requirement to install rustfmt"
**Features Description**
`rustfmt` [can be installed with the stable toolchain](https://github.com/rust-lang/rustfmt#on-the-stable-toolchain), so I think the [`install_crate` step for the builtin `check-format` task](https://github.com/sagiegurari/cargo-make/blob/master/src/lib/descriptor/makefiles/rust.toml#L221) can be simplified to just install it without the condition on nightly.

[2020-05-01 18:21] sagiegurari commented on #418
rustfmt do a lot of backward breaks.
so I'll check what now it does, and maybe based on current toolchain I'll set different installation instructions.
similar, like i do with clippy.

[2020-05-01 19:01] wagenet opened #419 "ENV values are sometimes not interpolated"
[code]

BAZ becomes `${FOO}/lib` instead of `bar/lib`.

[2020-05-01 19:12] wagenet commented on #419
Actually, it may be something else going on. I have the following lines in my `[env]`:
[code]

But during my build, I get:

[code]

I can't figure out why one seems to be interpolated and the other is not.

[2020-05-01 19:12] wagenet commented on #419
AFAICT, whichever one I specify last doesn't work as expected.

[2020-05-01 19:23] sagiegurari commented on #419
I created the below toml file which worked just fine.
so i would need a more accurate test case if you got one

[code]

[2020-05-01 19:35] wagenet commented on #419
@sagiegurari thanks for taking a look. It's pretty baffling. I'll see what I can do to get a better reproduction.

[2020-05-02 09:28] sagiegurari commented on #418
@connorkuehl  i checked the configuration:
1. i have rustup component setup - so if that is able to install it via rustup thats a higher priority
2. in case rustup is not available, it will install the crate via rustfmt-nigthly which is the crate they publish.

so i'm not sure if there is an issue here. what problem did you face while working with stable? it should have installed rustfmt via rustu

[2020-05-04 10:03] sagiegurari opened #420 "cargo make on workspace for tasks defined only in members fails"
see
https://users.rust-lang.org/t/post-processing-of-compiled-binaries/41945/7

cc @lights0123

[2020-05-04 15:16] connorkuehl commented on #418
Hi @sagiegurari!

I didn't face any issues. I was just reading some of the source code and I may have misunderstood that `cargo-make` will only install `rustfmt` for the nightly toolchain, but since `rustfmt` had been released for the stable toolchain I was just curious if the default Makefile target could be simplified to  `install_crate = rustfmt`. No bugs, just curious :slightly_smiling_face:

[2020-05-04 15:46] sagiegurari commented on #418
ok so install instructions for rustfmt contain both crate name and rustup component.
cargo-make will first try to use the rustup component as it is much faster, and only if fails will fallback to the crate install which requires compilation.
i think for rustfmt we are fine.

The full docs: https://github.com/sagiegurari/cargo-make#usage-installing-dependencies
specifically on what i'm talking abou

[2020-05-04 15:46] #418 closed

[2020-05-04 18:15] sagiegurari commented on #420
@lights0123 this is now fixed in cargo-make 0.30.7 development branch.
i'm going to release a new version in few days (want to finish something first) but you can install this (if you need) from git directly.
thanks for the feedback in the rust user group.

[2020-05-06 16:30] wagenet opened #421 "No Colors in Github Actions"
I'm not at all certain this is cargo-make's fault, but I was hoping that you might be able to give some guidance. I don't have colors turned off and Github Actions does support coloration, so it's not clear why I'm not seeing colors in the logs.

[2020-05-06 16:45] sagiegurari commented on #421
Colors are supported via colored (bad name) crate.
the repo is:
https://github.com/mackwic/colored

per their readme:
[code]

much hunch is that maybe github actions are setting NO_COLOR, but I didn't check it.
I have to admit, i didn't notice it :) and i now i want colors as well....

[2020-05-06 16:49] sagiegurari commented on #421
cool. i'll update my ci.yml as well... :)

[2020-05-06 17:00] sagiegurari commented on #419
@wagenet is this problem solved or do you still face an issue?

[2020-05-06 18:19] sagiegurari commented on #421
closing this one as it works ok and nothing actionable to do.
thanks for opening it, i just updated all my rust projects to have colors :)

[2020-05-06 18:19] #421 closed

[2020-05-06 23:53] wagenet commented on #419
I haven't figured it out, but I guess you can close. I'll reopen if I have something more concrete to go on.

[2020-05-07 07:08] sagiegurari commented on #419
@wagenet is it possible that you had an issue when using env variables that are also defined in the stable.toml inside cargo-make? in which case load order might not be that straightforward?
or are these env vars with names that do not conflict?

[2020-05-07 17:32] #417 closed

[2020-05-07 17:54] sagiegurari commented on #420
This fix is now released

[2020-05-07 17:54] #420 closed

[2020-05-07 17:57] wagenet commented on #419
I don't think the name should have conflicted.

[2020-05-07 18:16] sagiegurari commented on #419
ok, i had a hunch since if you override an env var that is defined in the internal makefile (stable.toml) than the real order is different than what you see as the original position from the stable.toml takes effect.
but if its something without CARGO_MAKE_ prefix... its probably not conflicting.
anyhow, i'll leave this issue open for now and lets see if you reproduce this.
if not, i'll close in f

[2020-05-07 19:17] wagenet commented on #419
@sagiegurari sounds good. I'll definitely keep that in mind when I investigate. It's possible I am remember incorrectly.

[2020-05-18 11:50] brindosch opened #423 "Workspace member paths"
**Describe the bug**
Thank you for your work on cargo make. This might be a bug or a feature request. I noticed that in a virtual workspace the member paths needs to be `./src/lib/one`. `src/lib/one` is not recognized in the following scenario. Is this intended? Thank you.

[code]

[code]

[2020-05-18 11:54] sagiegurari commented on #423
don't think it is intended. i'll check it out.
thanks a lot for reporting.

[2020-05-18 16:20] mogenson opened #424 "pass arguments to dependencies and subtasks"
**Features Description**
Is is possible to pass arguments to a subtask or dependency?

**Describe the solution you'd like**
Perhaps, whitespace separate arguments in the `dependency` or `run_task` lists of a task?

**Code Sample**
[code]

[2020-05-18 16:23] sagiegurari commented on #424
there are not 'function arguments' in cargo-make, but you do have variables.
so you could set an env var in the caller task, and use that var in the called task.
in the called task, you can even add condition that it will only do something if that env var is provided (optional of course).

[code]

[2020-05-18 16:42] mogenson commented on #424
Thanks, this works well enough for my needs. You can close the issue if you'd like.

[2020-05-18 16:46] #424 closed

[2020-05-19 07:26] sagiegurari commented on #423
cargo-make comes with a lot of examples, including workspaces.
i checked workspace2 example at:
https://github.com/sagiegurari/cargo-make/tree/master/examples/workspace2

it all works well without './'
so maybe you could check the differences?

cargo toml
[code]

and makefile tasks:

[code]

[2020-05-19 22:49] brindosch commented on #423
Thank you for investigation. I was able to reproduce this issue just on **windows**. On Ubuntu 20.04 it works as intended.

[2020-05-20 05:06] sagiegurari commented on #423
ok, thanks. I don't have a Windows machine (except the ci machines) so might be more difficult.
so just to be sure, you need to add ./ in CARGO_MAKE_WORKPSACE_INCLUDE_MEMBERS right?

[2020-05-20 06:57] brindosch commented on #423
Right, my initial example is not working. It ignores the path and starts to run though the whole workspace. I guess the path is rejected in some way.

On windows ci you should be able to replicate the issue when you call my initial example. Maybe this is a starting point.

[2020-05-20 06:58] sagiegurari commented on #423
thanks a lot. ya, my plan is to write a unit test to reproduce it and test fixes over CI machine.
I try having every identified bug first having some unit test to ensure its fixed and remains fixed.

[2020-05-22 08:44] sagiegurari commented on #423
@brindosch I have been unable to reproduce this.

1. I started by adding more tests for windows and still my CI was passing
2. I created a branch in some testing repo i have: https://github.com/sagiegurari/misc-test/tree/rust_windows_workspace which i created the scenario you described and ran it via github actions CI. but it seems to be working fine:
https://github.com/sagiegurari/misc-test/runs/

[2020-05-23 11:29] brindosch commented on #423
Thank you for testing. Today i retried and ... it just works. I have no clue why. First, i thought about a issue `powershell.exe` vs `cmd.exe` but that's also not the case.

So this might be an error on my side. Sadly i have no commit history to verify.

Thank you for all efforts!

[2020-05-23 11:29] #423 closed

[2020-05-25 05:24] sagiegurari commented on #419
@wagenet i'm closing this one.
feel free to reopen or open a new issue if needed.

[2020-05-25 05:24] #419 closed

[2020-05-25 18:23] sagiegurari opened #426 "new task based on md-inc"
check https://github.com/martypapa/md-inc
maybe worth adding a new internal task to update readme using this.

[2020-05-25 23:39] olvyko opened #427 "Discussion: Alter "NEW CARGO-MAKE VERSION FOUND!!" message"
I suggest changing the message about new version of `cargo-make` to more compact one (1-2 lines), since at the moment this message takes up a lot of space (9 lines).

![cargo-make](https://user-images.githubusercontent.com/44478988/82847634-7d9c7780-9eef-11ea-9616-33567a9d246b.png)

as an example:
```New cargo-make version found (0.30.1 => 0.30.8). Run 'cargo install --force cargo-make'```

[2020-05-26 07:55] sagiegurari commented on #427
I think as a 1 liner it would probably not be seen which is like not having it at all.
The current design i took from other cli apps (i think npm).

by default cargo-make will not check for updates more than once a week (between invocations).
you can change it to a month in the global config update_check_minimum_interval param:
https://github.com/sagiegurari/cargo-make#global-configuration-1
so it

[2020-06-01 06:05] sagiegurari commented on #427
closing due to lack of feedback

[2020-06-01 06:05] #427 closed

[2020-06-03 20:15] lkatalin opened #429 "Intuitive way to skip emulated member crates in testing"
This may be more of a feature request than a bug; I am not sure.

We are emulating a workspace (many thanks for #415 ) and have one crate in the emulated workspace that will contain our top-level tests, for reasons of internal organization. We want to skip this one crate during `cargo make test` and then invoke it separately *after* the other crates have been built, as part of a command like `carg

[2020-06-03 20:39] sagiegurari commented on #429
the flow sounds kinda complex.
same task, invoked twice in same flow, but once to all crates except one and second time invoked only to that one?

to disable you could do 2 simple things
* add condition in top level to only work if current member is not that specific one (there is env var for current member)
* create a makefile for that member, override that task and just disable it.

but, if you

[2020-06-03 21:20] npmccallum commented on #429
@sagiegurari The primary goal we are trying to accomplish is rather simple: we need to run a bunch of tests after all the crates are built.

We are testing that the output binaries work as designed. If you have an alternative structure suggestion, we're all ears. But the basic idea is:
1. build all the binary crates
2. run lots of tests which use those binaries

[2020-06-04 06:05] sagiegurari commented on #429
ok, this means you will have to do some manual stuff i think.
lets say your flow is format, build, test.
but you first want to format + build all crates and only than test all crates.
so its like 2 different workspace flows, managed by one flow (i hope i'm clear... sorry if not).
so you could do something like this in your workspace level makefile.toml (forgive the names, its just to make things c

[2020-06-04 21:46] roblabla opened #430 "Windows path and duckscript"
**Describe the bug**
When I try to use `${CARGO_MAKE_WORKING_DIRECTORY}` in certain positions in duckscript from windows, it causes the following error:

The error is extremely confusing: it doesn't trigger all the time (for instance, `echo ${CARGO_MAKE_WORKING_DIRECTORY}` works fine, but `if is_path_exists ${CARGO_MAKE_WORKING_DIRECTORY}` will fail.

My understanding is that duckscript will repla

[2020-06-04 22:13] sagiegurari commented on #430
thanks for reporting. ya, that's a definite bug.

[2020-06-04 22:14] lkatalin commented on #429
@sagiegurari Thanks so much for your response! That flow makes sense and I ended up using it. For reference for anyone curious, what I ended up doing in order to be able to call that functionality with `cargo make test` instead of a custom command like `cargo make entire_flow` is this:

[code]

[2020-06-04 22:25] sagiegurari commented on #429
great to hear it all worked out.

[2020-06-04 22:25] #429 closed

[2020-06-05 12:51] sagiegurari commented on #430
@roblabla I fixed the duckscript sdk.
you can reinstall cargo-make and it should pick it up.

[2020-06-05 14:32] roblabla commented on #430
Yup, it's fixed! Thanks a lot :D

[2020-06-05 14:32] #430 closed

[2020-06-06 18:03] Geobert opened #431 "[Question] task override by sub crate in workpspace"
Hi!

I'm new to cargo-make and I come to use a task runner because of a webapp structured like this:
[code]

I want to run different build command according to the sub crate:
- `cargo build` for backend
- `wasm-pack build --target web --out-name wasm --out-dir ./static` for frontend

How do we express that in Makefile.toml?

Regards

[2020-06-06 19:33] sagiegurari commented on #431
So, you just need to create a Makefile.toml in the frontend subdirectory and have there the wasm build definition, for example:

[code]

than run ```cargo make build``` in the workspace dir and it will do cargo build for backend and wasm build for frontend.
reason you don't need to specify the backend file, is because cargo-make comes with a lot of default tasks so cargo build is already there.

[2020-06-06 19:48] Geobert commented on #431
Thank you very much! It worked!

[2020-06-06 19:48] #431 closed

[2020-06-10 08:47] roignpar opened #432 "OR condition"
As far as I can tell conditions pass only if all of them are met. Is there a way to use a conditional OR?

What I'm trying to do is run a task if either of two env vars is set, but not necessarily both.

[2020-06-10 09:48] sagiegurari commented on #432
i decided not to introduce OR in order to prevent complex syntax which can be very confusing.
there are many workarounds for that.
few that come to mind

* use condition script. if both env vars do not exist, just do exit 1
* define env setup duckscript block that creates an env var if both env vars exist and than condition based on that.

[2020-06-10 11:03] roignpar commented on #432
Thanks for the feedback!

[2020-06-10 11:03] #432 closed

[2020-06-23 15:57] connorkuehl opened #434 ""CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY" does not behave as described in emulated workspace"
**Describe the bug**

The documentation describes this environment variable as the working directory of the workspace root:

However, in an emulated workspace, this environment variable becomes the directory of the member crate.

In a non-emulated workspace, the environment variable is correct.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a directory to serve as the workspace (`mk

[2020-06-23 16:38] sagiegurari commented on #434
thanks a lot for the detailed explanation.
I'll take a look at it.

[2020-06-25 21:24] sagiegurari commented on #434
@connorkuehl can you try the 0.31.1 branch version and see if it solves your issues?

[2020-06-25 22:26] connorkuehl commented on #434
Works great! Thank you :smile:

[2020-06-26 08:54] #426 closed

[2020-06-26 08:55] sagiegurari commented on #434
I published an official release so i think we can close this one.
thanks a lot for the feedback.

[2020-06-26 08:55] #434 closed

[2020-07-03 15:11] mraerino commented on #410
seems like because of this, the README might be wrong?

[2020-07-03 17:14] sagiegurari commented on #410
I'll need to rewrite that doc to be more explanatory. the meaning wasn't when running from member crate dir directly, but when invoked as part of a workspace build, the crate has ability to get workspace makefile tasks.

remember, that no one really makes you name the makefile with a specific name so its tricky otherwise.
also if you must run directly from crate dir, you should use extend keyword

[2020-07-06 15:06] ambaxter opened #436 "Something akin to GNU Make % pattern rules"
**Features Description**
The Enarx project is using a gnu make file to generate some diagrams. We'd like to move to using [cargo-make ](https://github.com/enarx/enarx/issues/487), but it looks like we're blocked due to a lack of [GNU Pattern Rules](https://www.gnu.org/software/make/manual/html_node/Pattern-Rules.html#Pattern-Rules).

Ideally we'd like some way to describe:

1. File 1's creation de

[2020-07-06 15:14] sagiegurari commented on #436
you can create a full flow of tasks that get the file as a parameter via env var.
for example

[code]

than you can loop over a set of files via duckscript and trigger that flow, each time with different file:

[code]

just wrote it in the issue editor, so might have mistakes.

[2020-07-07 00:15] ambaxter commented on #436
How would I compare last modified time?

[2020-07-07 05:27] sagiegurari commented on #436
get last modified time of a file canbe added

[2020-07-07 11:44] dalance opened #437 "Duckscript for loop with multi-line env variable"
**Features Description**
I want to do for loop with multi-line env variable like below:

[code]

**Describe the solution you'd like**

I tried several variation, and found the combination of `array` and `replace` works fine.
Is this expected? If there is more sophisticated way, I want to know it.

[code]

[2020-07-07 13:17] sagiegurari commented on #437
This is a great question.
so a list env var is a cargo-make thing, as in reality env vars are key/value and cargo make enables you to do key/list.
however as you probably saw, the way i do it, is i concat all values using the ';' char.
so key=[a,b,c] becomes key=a;b;c

duckscript, has no idea of multi value env vars, so it just sees a;b;c
so using the spread won't work as spread works on spaces (s

[2020-07-07 22:50] sagiegurari commented on #436
@ambaxter just published new duckscript sdk 0.6.1 which gives you 2 new options
1. use the new ```is_path_newer file1 file2``` and that returns true/false. this should be easiest to create a condition by that.
2. longer version - use the new ```get_last_modified_time path``` which returns time in millies and than compare on your own.

naturally if something needed that exists as some native comman

[2020-07-07 22:58] sagiegurari commented on #437
@dalance i think this answers your question. if you need anything more feel free to open a new issue or reopen this one.

[2020-07-07 22:58] #437 closed

[2020-07-08 00:31] ambaxter commented on #436
Thank you so much! I'll work on it tomorrow and let you know how it goes!

[2020-07-08 02:44] dalance commented on #437
@sagiegurari I'll use `split` instead of `replace` and `array`. Thank you!

[2020-07-09 11:59] i-schuetz opened #439 "Code reuse?"
From a first (admittedly very quick) overflowing of the doc, I didn't anything to reuse code (loops / custom functions / parametrized tasks, etc?), other than Rust scripting maybe, but this seems overkill for simple cases. Is it possible? What would be best practice here?

Edit: After a second look, it seems that it's provided by https://github.com/sagiegurari/duckscript, but I guess that it it do

[2020-07-09 12:25] sagiegurari commented on #439
you can reuse tasks.
so you wrote a task with conditions and scripts and so on.
and you want to run it with different input each time, for example a filename.
that's kinda like a function.

so you can have that task to get that filename as an input by having it use some env var, for example MYFILE.

than you can call that task with different filename from other tasks by using the run_task with the

[2020-07-09 12:34] i-schuetz commented on #439
Thanks, yeah, sorry for not reading all the docs first but I'm trying to minimize the time investment before choosing to use this library and unfortunately it's not obvious. I was looking at this makefile: https://github.com/shekohex/flutterust/blob/master/Makefile.toml, where he has this section, for example:
[code]
What would be the best way to avoid the repetition here (the only variable is the

[2020-07-09 12:42] sagiegurari commented on #439
ya, thats duplication that can be avoided.
so there are many ways, the most straightforward way which is easy to understand is to extend the task with the value

[code]

i wrote it in my phone so there could be mistakes.
there are many other ways, but this is 1 easy concept

[2020-07-09 12:47] sagiegurari commented on #439
might need to remove the condition.
the condition is good if you use run_task before without extend like

[code]

[2020-07-09 13:10] i-schuetz commented on #439
That looks good, thanks!

[2020-07-09 13:10] #439 closed

[2020-07-09 13:16] i-schuetz commented on #439
P.S. I'm actually trying to do something like I did [here](https://github.com/i-schuetz/rust_android_ios/blob/master/app/build.gradle#L44-L74) in Gradle: the target is specified only once in the entire process, and the rest is solved via loop and dynamic tasks. Though on the other side this level of "dynamism" is a bit error prone.

[2020-07-09 13:25] sagiegurari commented on #439
so try to look at the code i wrote in #436
the for loop over a list and invoking a flow each time with different value.
its not exactly the same, but can give ideas.

[2020-07-10 00:43] ReTWi commented on #363
@sagiegurari i'm not sure how does it work

root Makefile.toml:
[code]

root/server Makefile.toml:
[code]

running from root "cargo make -p server dev" doesn't cd to a server to run task:
[code]

[2020-07-10 05:29] sagiegurari commented on #363
is there a reason to use workspace emulation here? it is used when you don't really have a workspace.
in which case you need to tell cargo make what members you have manually because there is no workspace cargo.toml to state it.

[2020-07-10 08:16] ReTWi commented on #363
@sagiegurari i don't have a workspace bacouse of side effects (shared target folder and dependencies). I just want to run server and client from root folder.

[2020-07-10 08:23] sagiegurari commented on #363
ok, so you need to define all of the members manually in the env block:

[code]

[2020-07-10 18:42] ambaxter commented on #436
I'm sure I've done something wrong, but this is my attempt. It doesn't appear to enter the for loop in all-files, though.

[code]

[2020-07-10 19:03] sagiegurari commented on #436
that's the problem when i wirte code samples on my phone :)
try to split the all files into an array.
and than loop.

[code]

[2020-07-10 19:17] sagiegurari commented on #436
by the way,  this:
image_outdated = false
should be:
image_outdated = set false

[2020-07-10 19:39] i-schuetz commented on #439
Thanks again!

[2020-07-10 20:03] ambaxter commented on #436
Ok! Everything works as expected!

About the only other thing is to ask if there's a way to override the build and clean tasks. If I name tasks.diagrams and tasks.clean-diagrams to build and clean, respectively, I get the following error

`[cargo-make] ERROR - Invalid task: build, contains multiple actions.`

The final looks like:
[code]

[2020-07-11 00:43] sagiegurari commented on #436
if condition script fails, it skips the task, and doesn't kill the build.

[2020-07-11 01:07] ambaxter commented on #436
That was my second attempt. If I change condition_script back to script, an exit 1 at the end of the script doesn't cause a build failure.

[2020-07-11 15:02] sagiegurari commented on #436
too many messages back and forth so i'm not sure exactly what the status is, so i might be saying nonsense.

1. condition scripts - decide if to run or not a task. so if they break, the build is ok, but task is skipped.
2. duckscript exit 1 will not break it i think. i might not be supporting that. instead try the assert_fail command which should break the build.
3. i saw you have if filetype x an

[2020-07-13 13:46] ambaxter commented on #436
Sorry about the multiple messages. The more I checked the more I found I was able to answer my own questions. I think we're in a good place now.

Thank you so much for your help!

[2020-07-13 13:46] #436 closed

[2020-07-28 07:10] gilescope opened #442 "Use features to improve build times and reach more users?"
On a fairly fast macbook pro it comiles in 3m 25s. For enterprise hardware with many levels of virus checkers, it takes longer. I wouldn't like to comment on how long it might take on a raspbury pi.

Is everything in cargo-make essential? Do all users use duckscript for example? I'd love to use cargo-make but currently I stand no chance of selling it to the team due to how much it pulls in.

If th

[2020-07-28 07:15] sagiegurari commented on #442
why not just used the precompiled binaries?

[2020-07-28 07:25] gilescope commented on #442
Sounds good, but there's few win/linux package managers (conda being a notable exception).

`cargo precompiled-install` isn't a thing yet though would think for tier-1 platforms that's something that should be possible but `cargo install x` works well because it's doesn't use binaries so doesn't hit many of the issues with downloading binaries in corporate environments.

[2020-07-28 08:19] sagiegurari commented on #442
wait, i mean that the releases page on github has precompiled binaries available for download for mac, windows and linux. so they can download from there. no need to run any cargo command or use some package manager.

i even have precompiled arm linux available.

[2020-07-28 09:42] gilescope commented on #442
Oh they got that covered. All github release downloads blocked. Sigh, that's just what companies do...

[2020-07-28 11:13] sagiegurari commented on #442
breaking it up with rust features is just not going to work well for cargo make as much of the code is also in scripts.
you asked about duckscript for example, so there are core tasks that use it. and if i disable it, it will compile but fail in runtime. so I don't want to go there.

usually you install a build tool only once and upgrade only if you must. so its a one time bump.

another option is

[2020-08-10 19:49] sagiegurari opened #445 "watch invocation should wrap makefile path"
seed-rs/seed#515

[2020-08-10 20:33] Type1J commented on #445
@sagiegurari Thanks for looking at this issue!

[2020-08-11 06:15] sagiegurari commented on #445
@Type1J i have a development branch 0.32.2 which might have a fix for this.
can you maybe test it as well on your use case?

[2020-08-11 18:40] Type1J commented on #445
I checked it out, did a
[code]
It looks like that works. Thanks!

[2020-08-11 18:42] sagiegurari commented on #445
great. thanks a lot for checking.
i have few more unrelated changes before i release a new official version.

[2020-08-13 00:39] Ben-PH opened #446 "Print out a report of times."
**Features Description**
The outputs of the commands being run are independent of the overall build script. As a result, the extra commands (such as running `time cargo make $TASK`) or tasks are required to get information on the the build script as a whole. This feature would provide an option that would have something like the following printed at the end.

[code]

**Describe the solution you'd

[2020-08-13 05:53] sagiegurari commented on #446
Interesting idea, i will check it out. few notes however,
* sometimes your build will be splited to multiple processes (wor example when working in a workspace, each member is a sub process) so you will have multiple summaries.
* it would be turned off by default. you will have to provide some cli flag or value in the makefile config section to turn it on. many people complain it is printing too m

[2020-08-13 19:02] haraldh opened #447 "RUST_RECURSION_COUNT: error: infinite recursion detected"
**Describe the bug**
`rustup` keeps track of recursion via the `RUST_RECURSION_COUNT`
environment variable.

Since `cargo make` uses up one increment, a chain of
- `cargo clippy`
 -> `cargo check`
  -> `rustc -vV`
   -> ...

Uses up to `rustup::env_var::RUST_RECURSION_COUNT_MAX` and we get the
error message:
[code]

**To Reproduce**
- a clean repo (no Cargo.lock)
- `cargo clippy` enabled on `stabl

[2020-08-13 19:44] sagiegurari commented on #447
cargo make runs commands which are sub processes so they can't update each other or share env vars. feels like a clippy issue.

[2020-08-13 20:26] haraldh commented on #447
Oh, you can unset the variable inside `cargo-make` before calling more `cargo` stuff.

[2020-08-13 20:28] haraldh commented on #447
And it is not a clippy issue...
This patch fixes the issue for us:
https://github.com/enarx/enarx/commit/185d4daa905d4f1a7bb0073365237794e89cdc15

[code]

[2020-08-14 06:56] sagiegurari commented on #447
ya, I'm sure it fixes things, but doesn't explain the root cause.
what I'm trying to understand how can unrelated processes share an env which is not possible.
fact you can workaround it via setting that env, might just hide something else.

i always use all features, including clippy in both crate and workspace projects, and i rum the ci flow before push and never got that.

so the only differenc

[2020-08-14 07:42] haraldh commented on #447
We use the current versions for stable and nightly. And in only occurs on fresh projects, without `target` and `Cargo.lock`.

[2020-08-14 07:48] haraldh commented on #447
The root cause is, that `cargo make` is the first `RUST_RECURSION_COUNT++`, and that you pass the `RUST_RECURSION_COUNT` env to the childs, so any job from `~/.cargo/bin/*` hard linked to `rustup` (like `cargo` and `rustc`) starts with `RUST_RECURSION_COUNT=1` instead of `0`.

Running `cargo clippy` on a complete empty crate seems to use all allowed `rustup::env_var::RUST_RECURSION_COUNT_MAX`
http

[2020-08-14 09:38] sagiegurari commented on #447
so it is a clippy issue if it maxes it out.
I'm ok with pushing that env var into cargo make internal makefile, just wanted to understand more.
i sometimes add workarounds for other rust/tools in the makefile, so thats another one to workaround clippy bug. so I'll add it specifically to the clippy task, and not in global env. makes sense?

[2020-08-14 14:43] haraldh commented on #447
Well, it's a `rustup` issue. If you call other rustup components they might call themselves rustup components. So, it's not `clippy` alone.

Will affect also:
- clippy
- llvm-tools-preview
- miri
- rls
- rust-analysis
- rust-docs
- rustc
- rustfmt

[2020-08-14 15:20] sagiegurari commented on #447
ya, so i did unset on global level. i never ran into this, but cant harm anything i guess...

[2020-08-15 22:53] philip-peterson opened #448 "Unable to run task in workspace crate"
**Describe the bug**
Running a task in a workspace-style crate is not possible.

**To Reproduce**
1. Clone the following repository: https://github.com/philip-peterson/repro-cm-issue
2. In the repo root, run `cargo make example`
3. Observe the actual output compared to the expected (which is `hi`)

**Error Stack**
[code]

[2020-08-16 05:04] sagiegurari commented on #448
when running member s1 task example, it will run cargo make inside s1 dir and see no such task.

if you want to pull in all tasks from the root workspace makefile, just add the env var as defined at https://github.com/sagiegurari/cargo-make

[2020-08-16 08:18] philip-peterson commented on #448
I’m talking about running `cargo make example` not from the `s1` directory but its parent directory.

[2020-08-16 08:50] sagiegurari commented on #448
me too. did you try adding the env var in the makefile as the documentation i linked to?

[2020-08-17 01:01] philip-peterson commented on #448
OK, that (`CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE`) does seem to work. It seems very confusing though, why is it considered extending the workspace, when the makefile is _in_ the workspace?

[2020-08-17 05:29] sagiegurari commented on #448
when you run cargo make in workspace root, it will instead run cargo make for each member in member folder with the task you asked.
this allows you to run actions on all members automatically, like build, format, clippy,....
when it runs the action for the member, it starts a new cargo make instance in the member folder itself.
so it reads the makefile from there , which in your case doesn't exist

[2020-08-17 05:41] sagiegurari commented on #448
ok, now i see i sent a link to the project and not the right section,
i meant to send this:
https://github.com/sagiegurari/cargo-make#usage-workspace-extend

also, to better understand why every member just doesn't use the workspace level makefile as is, is that they might have different needs and implementation.
for example a frontend/backend workspace project.
for backend, build means cargo buil

[2020-08-17 06:49] philip-peterson commented on #448
My question is more around the function of running a task in the root being what it is. Intuition would dictate that defining a duckscript task in the workspace crate with 3 sub-crates and then running the task from the workspace crate, would only run that duckscript task once for the workspace crate, since the workspace crate is itself, a crate.

Is there no way to define a top-level task that do

[2020-08-17 06:53] sagiegurari commented on #448
ok so its actually the reverse how i see it and thats why the confusion.
a workspace in rust is a collection of crates. the root folder is not a crate and doesn't have any functionality. it only groups all those member crates.
so cargo make in workspace mode means, it actually invokes the actions you want (like build) on each member and ignores the root folder. since if you are in a workspace and

[2020-08-17 06:56] philip-peterson commented on #448
Excellent, thank you!

[2020-08-17 06:58] #448 closed

[2020-08-17 19:16] sagiegurari commented on #446
@Ben-PH I just pushed to the development branch the time summary.
The printout looks as follows:
[code]

To make it work you will need to either pass the new --time-summary flag or add to the makefile config section the time_summary=true flag.
its automatically turned on in CI env.

Any feedback is welcome 😃

[2020-08-18 23:20] onContentStop opened #449 "Cannot make when Makefile.toml is in a path with spaces on Windows"
**Describe the bug**
My user folder on Windows is my full name, which contains a space. I specified a `watch` attribute in my Makefile.toml, which causes it to execute `cargo watch` with the `--makefile` parameter. However, this parameter is not quoted, giving this error.

**To Reproduce**
Steps to reproduce the behavior:
* Create a Makefile.toml in a path with spaces.
* Inside the Makefile put th

[2020-08-18 23:22] onContentStop commented on #449
Just noticed this is a duplicate of #445. Oops.

[2020-08-18 23:22] #449 closed

[2020-08-20 18:56] sagiegurari commented on #445
this is now released in the new cargo-make version 0.32.2

[2020-08-20 18:56] #445 closed

[2020-08-20 18:57] sagiegurari commented on #447
this is now released in the new cargo-make version 0.32.2

[2020-08-20 18:57] #447 closed

[2020-08-20 18:57] sagiegurari commented on #446
this is now released in the new cargo-make version 0.32.2

[2020-08-20 18:57] #446 closed

[2020-08-20 19:08] haraldh commented on #447
Thanks!

[2020-08-23 20:13] lidin opened #451 "Run parallel tasks for specific members"
**Features Description**
I have come a across a use case regarding watching file changes in several crates in a project, which I want to watch separately and perform different flows of actions separate of each other. I would also like to start these watchers from a workspace root task, in parallel, so that I can watch these crate changes at the same time in one window. So my project structure look

[2020-08-24 07:43] sagiegurari commented on #451
Let me think what can be done to simplify this use case without adding too much complexity to the run_task definition.

[2020-08-26 06:57] sagiegurari opened #452 "Support cleanup task for forked sub flow"
see discussion at yewstack/yew#1504

example:
[code]

[2020-08-27 12:34] sagiegurari commented on #452
implemented and released.

[2020-08-27 12:34] #452 closed

[2020-08-30 08:54] sagiegurari commented on #451
Hi @lidin I've been thinking about this for a while.
run_task supports many features (i just added cleanup_task as well) and it is becoming too complex.
i prefer not to have that attribute be also workspace aware and such.
i know you have a hacky solution that you are not a fan of, but parallel right now means running tasks from the list in parallel and not members in parallel. making it member aw

[2020-08-30 18:41] lidin commented on #451
Hi, @sagiegurari. Thank you for putting out the time to think about this. I totally agree that adding more complexity to the run_task feature is probably not a good idea. I will make do with the solution for now, and think about it a bit more, to see if there is a better way to do this. :) I’ll close this issue for now.

[2020-08-30 18:41] #451 closed

[2020-09-01 14:41] emgre opened #454 "Cannot use relative path dependencies in Rust scripts (cargo-script)"
**Describe the bug**
When using a Rust script, specifying path dependencies fails to resolve. `cargo-make` seems to change the working directory of `cargo-script` and the crate resolution then fails. `cargo-script` supports setting the path for resolution using the environment variable `CARGO_SCRIPT_BASE_PATH` (see [this](https://github.com/DanielKeep/cargo-script#environment-variables)). However,

[2020-09-01 14:44] sagiegurari commented on #454
Thanks for reporting.
strange that CARGO_SCRIPT_BASE_PATH doesn't resolve that problem as i do not touch that env var myself at all.
so if you define it, it should stay accurate for any child process running.
can you remove the ```foo = { path = "foo" }``` and see what the output of CARGO_SCRIPT_BASE_PATH is? it should stay ok.

[2020-09-01 14:48] sagiegurari commented on #454
oh... its windows.... its possible that CARGO_MAKE_WORKING_DIRECTORY on windows is just a '.' and not absolute path like on linux/mac (can't remember).
in which case i get why its not working.
how about doing this:

[code]

[2020-09-01 16:44] emgre commented on #454
This code:

[code]

Prints the following:

[code]

So the `CARGO_MAKE_WORKING_DIRECTORY` is properly set, but `CARGO_SCRIPT_BASE_PATH` is not set, even if I do it explicitly in the Makefile.toml.

[2020-09-01 20:58] sagiegurari commented on #454
ok so i was reading the docs more carefully, it seems CARGO_SCRIPT_BASE_PATH is provided BY cargo-script and not TO cargo-script. so it doesn't matter what you set there.
seems like a limitation in cargo-script which is out of my scope.
not sure how complex what you are doing, but did you think about the embedded [duckscript](https://github.com/sagiegurari/duckscript) runner?

[2020-09-02 13:11] emgre commented on #454
Oh, you are right. I misread the documentation. Sadly, duckscript won't be enough, I need the dependency to read info represented in Rust to generate Rust code. I'll stick with my current solution of just having another bin target in my workspace that depends on it and running it as a script with `cargo run --bin foo`. Thanks for your help!

[2020-09-02 13:20] #454 closed

[2020-09-20 09:05] mtmn commented on #260
Hi, do you think this issue is still needed? In case it is, I would love to help. :)

[2020-09-20 11:27] fkorotkov commented on #260
Cirrus config should look like:

[code]

It will be also great to add a [caching instruction](https://cirrus-ci.org/guide/writing-tasks/#cache-instruction) like in [Rust example](https://cirrus-ci.org/examples/#rust) but I don't have enough knowledge to see what can work as a `fingerprint_script` for `cargo-make`.

[2020-09-20 14:51] sagiegurari commented on #260
that's great!
Can any of you please create a PR for it?
readme content goes to the content.md and nav.md and from that i generate the readme.md

so just add another section there with all info.

[2020-09-22 15:09] #260 closed

[2020-10-01 02:46] Kreyren opened #460 "How can i define a variable if it's not blank?"
In my C-based Makefiles i use (for example):

[code]

Which is done to optimize the automatization of Continuous Integration (CI) or during the development as a part of code quality assurance.

Is there a way to assign a variable in `cargo-make` if it's not blank i.e `GIT ?= git` in C-based Makefile?

[2020-10-01 02:50] Kreyren commented on #460
Found

[code]

which is quite ugly compared to C-based makefile, but usable.

Closing as solved.

[2020-10-01 04:11] Kreyren opened #461 "Support for Embeddable Common Lisp (ecl) runner"
*Op has been updated with the finding from the conversation*

<img width=85% title="Krey's experiment to see if he can get more traffic by spending 5 secs in GIMP to encourage people to fix his things" src="https://user-images.githubusercontent.com/11302521/94767860-03549600-03ae-11eb-9545-3e6283876d53.png"/>

## Features Description

Support for Embeddable Common Lisp (ecl) script runner.

## Des

[2020-10-01 04:43] Kreyren opened #462 "Implement variable expansion"
Currently cargo-make is using following to define a variable depending on it's set state (empty/non-empty) in the environment:

[code]

Whereas C-based Makefile is using:

[code]

Which is more readable.

---

Suggesting to implement variable expansion on top of current functionality.

[2020-10-01 05:07] sagiegurari commented on #460
for your use case, ya maybe ugly but

1. I'm using toml format. your is just not valid
2. unlike make, conditions can check a lot more than just, not set. you can set env vara only if on right OS, rust channel, file exists and more. so tou need to look at the big picture.

[2020-10-01 05:16] Kreyren commented on #462
Resolved in https://github.com/sagiegurari/cargo-make/issues/460#issuecomment-701887605

[2020-10-01 05:16] #462 closed

[2020-10-01 05:20] Kreyren commented on #460
Agree that current conditions are superior to proposed and that other OS are a concern, but this is readability concern where i don't see why using

[code]

in toml woudn't be friendly to cross-platform development assuming that it would assign the value on systems that do not have a usable environment to get the variable from?

[2020-10-01 05:24] Kreyren commented on #460
^ Note that i am not suggesting replacing the current, but adding this on top of that for the usecase where the conditions are making the code less readable

[2020-10-01 05:33] sagiegurari commented on #460
readable is not always that objective. make syntax sometimes puzzles me :D
but seriously, i already get feedback from people that there are too many ways of doing same thing.
so, i prefer to keep it one way. maybe a bit verbose, ya agree, but very readable as in 'env_not_set' is more explanatory then ?= for people not coming from make

[2020-10-01 05:42] sagiegurari commented on #461
so basically what i need to do to support any such cli, like ecl, is to enable you to provide cli arguments before the script file.
so in this case, you will provide **--shell**
the end result would be

[code]

would that do?

also by the way, cargo-make has embedded duckscript runtime which provides a simple shell like language with a pretty big api.
but your use case is to use something that is

[2020-10-01 06:07] Kreyren commented on #461
I would think that would be sufficient assuming that

[code]

Invoked from `GNU bash, version 5.0.18(1)-release (x86_64-pc-linux-gnu)` on `5.8.0-10.1-liquorix-amd64` works.

![image](https://user-images.githubusercontent.com/11302521/94773372-e9ba4b00-03bb-11eb-8428-09f4f5b0d7f2.png)

but i would prefer `script_runner = "@ecl"`, because i am concerned about readability to ideally use only:

[code]

[2020-10-01 06:08] Kreyren commented on #461
also FWIW it seems that it's not expanding variables when it's invoked in a script which could be pebcak.
![image](https://user-images.githubusercontent.com/11302521/94773991-35b9bf80-03bd-11eb-91af-5a3b2ef2062f.png)

[2020-10-01 06:32] Kreyren commented on #460
FWIW that concern is mostly based on my experience with make where i try to write my code alike:

[code]

which cargo-make seems to have implemented in a better way so readability might not be as concerning, closing as solved for the time being..

---

True it's more phonetic in terms of readability for those not experienced with c-based makefiles.

---

EDIT: Might be worth noting:

In my develop

[2020-10-01 06:32] #460 closed

[2020-10-01 06:39] sagiegurari commented on #461
too many messages :D

1. adding something like ```@ecl``` is fine by. I think i'll do both options. but probably name it not ecl as that exists.
2. cargo make is creating temp files for those. that is true. but that allows you to write a full script file and not an unreadable one liner. one liners are cool sometimes, but scripts can be super complex. checkout the kcov script for example.
3. script

[2020-10-01 06:54] Kreyren commented on #461
Sorry didn't know how to make it shorter, but still understandable x.x

might be worth mentioning that lisp is basically framework to make a custom programming language so it has lots of implementations alike ccl (regular common lisp), ecl (Embedded Common Lisp), Vax common Lisp, Emacs Lisp, etc.. which are in core (generally, but not always) same, but are not designed to be compatible with each o

[2020-10-01 07:05] Kreyren commented on #461
Just clarifying based on peer-review in irc.freenode.net/#lisp

This is looking at the issue from a **lisp** point of view alike comparing common-lisp to emacs lisp which are lisp, but basically different languages as emacs lisp is redefining common lisp functions to be used for the editor.

Whereas **common-lisp**-based languages (ecl, ccl, etc..) as generally compatible with each other.

[2020-10-02 12:23] sagiegurari commented on #461
@Kreyren I just pushed the support for this in the dev branch 0.32.6
Basically you have now a new task level attribute called script_runner_args = [] that you can use.

I took your example, just drop the shebang.

[code]

I didn't test with ecl as i don't have that installed and didn't bother to install :)
so if you can test and provide some feedback, it would be great.

[2020-10-02 17:21] Kreyren commented on #461
Works on my end, thanks for working on this!

![image](https://user-images.githubusercontent.com/11302521/94951381-752efb80-04e4-11eb-822a-9b09d35bfb9d.png)

[2020-10-02 17:30] Kreyren opened #466 "Expansion of env in scripts?"
## Features Description

Make it possible to expand variables in `script`:

![image](https://user-images.githubusercontent.com/11302521/94951611-e66eae80-04e4-11eb-9fa6-b32cd82ec7ba.png)

Expecting to return `text: something`.

## Rationale

My makefiles usually look like:

[code]

Which is one of the main reasons to use makefiles for the repository management for me and thus proposing it to be im

[2020-10-03 07:58] sagiegurari commented on #466
cargo-make doesn't work with internal variables, it works with env variables.
so setting

[code]

Sets an env var. That env var is available in all child processes like ecl scripts and you can pick them up from the env.
replacing that with your request is

* going to break backwards compatibility in a really critical way
* can cause lots of issues in terms of breaking the scripts - for example wha

[2020-10-03 09:43] sagiegurari commented on #461
New version released to crates.io so i think we can close this one.

[2020-10-03 09:43] #461 closed

[2020-10-03 09:45] sagiegurari commented on #260
@mtmn I mentioned you as well in the official changelog and releases page :)
thanks both for the help.

[2020-10-04 03:04] masnagam opened #470 "`cargo make test-with-args -- --message-format=json` doesn't work"
### Describe The Bug
Built-in `test-with-args` task seems not to work properly when passing options as arguments.

The same issue might occur in other built-in tasks which can take arguments.

### Expected Behavior

`cargo test --message-format=json` should be executed as defined in [rust.toml](https://github.com/sagiegurari/cargo-make/blob/0.32.6/src/lib/descriptor/makefiles/rust.toml#L465)

###

[2020-10-04 04:12] Kreyren commented on #466
That works for me, thanks for info

![image](https://user-images.githubusercontent.com/11302521/95006811-8ec96380-0608-11eb-87c4-6991a64e6cbc.png)

[2020-10-04 04:12] #466 closed

[2020-10-04 09:14] sagiegurari commented on #470
thanks a lot. this feels like a bug with workspaces and cli args in general.
I'll fix that

[2020-10-04 16:35] sagiegurari commented on #470
@masnagam i have pushed a fix (i hope) to branch 0.32.7
could you please verify it works well for you as well?

[2020-10-05 06:34] masnagam commented on #470
@sagiegurari
Thank you for taking the time for this issue.
I've confirmed that the fix works fine, using the following command:

[code]

[2020-10-05 06:40] sagiegurari commented on #470
thanks a lot. I'll release it soon.

[2020-10-07 08:27] Kreyren opened #471 "Regression 0.32.6 - `script_runner_args` is not interpreted"
Running

[code]

In cargo-make=0.32.6 results in:

[code]

Where the same code worked on development branch.

Regression introduced in https://github.com/sagiegurari/cargo-make/pull/464

[2020-10-07 16:35] sagiegurari commented on #471
i lack docs, but you are missing script_extension. that should resolve it.

[2020-10-07 20:25] sagiegurari commented on #470
This is now released. thanks a lot for opening the issue

[2020-10-07 20:25] #470 closed

[2020-10-07 20:25] sagiegurari commented on #471
I updated the docs a bit....
thanks for notifying me of this

[2020-10-07 20:25] #471 closed

[2020-10-08 07:59] Kreyren commented on #471
@sagiegurari Works on my end, thanks! ^-^

[2020-10-08 11:39] Kreyren opened #473 "Implementation of @quicklisp runner"
**DISCLAIMER**: I tried to make this as short as possible, but there is lots of info to be processed x.x

**DISCLAIMER**: I am not a lisp backend developer (i just use the language on preferred implementation atm) so the information is provided to the best of my ability and may be inaccurate, peer-reviews were made and addressed.Any relevant information/criticism is welcomed.

![github_quicklisp](

[2020-10-08 14:28] sagiegurari commented on #473
thanks for all the details.
are you familiar with the [extend task attribute](https://github.com/sagiegurari/cargo-make#usage-task-extend-attribute)?

you can do something like the following

* define a base task with all the stuff you need to run ecl the way you want it, but without the script
* have other tasks provide the actual script and just extend that base task

[code]

[2020-10-08 14:31] sagiegurari commented on #473
by the way, in the base task you can also setup installation instructions on how to setup ecl if missing in your machine.
you can do that via install_script attribute:
https://github.com/sagiegurari/cargo-make#usage-installing-dependencies

[2020-10-11 06:10] sagiegurari commented on #473
@Kreyren did you have a chance to look at my solution?

[2020-10-11 12:24] adamski234 opened #474 "Default to root workspace if member makefile was not found"
### Feature Description
When no `Makefile.toml` was found in the first member workspace, only apply the top level makefile. Or emit an error message pointing to the ability to have makefiles in members or the `--no-workspaces` flag.

### Describe The Solution You'd Like
When running `cargo make` in a workspace with multiple members, `cargo-make` looks inside each member's folder for `Makefile.toml

[2020-10-11 12:28] sagiegurari commented on #474
not sure if i totally understand this one.
so you have members without a makefile in a workspace and it causes the build to fail?
because i also have a public github project with rust workspace, and one of the members does not have a specific makefile:
https://github.com/sagiegurari/duckscript/tree/master/duckscript
and it works just fine.
so i'm trying to fully understand the issue and solution r

[2020-10-11 13:20] adamski234 commented on #474
My example: https://github.com/adamski234/ars-parser/blob/7fa083dca61540df2a813299731a012488e94744/Makefile.toml. When running `cargo make echo1` in that project, `cargo-make` goes to `ars_generator`, fails to find the makefile, and simply returns with error. My idea is that it should either tell me `ars_generator does not have a makefile` and a link to the docs about workspaces, or just run the t

[2020-10-11 13:24] sagiegurari commented on #474
ah, the the issue not a missing makefile.
the issue is that it triggers cargo make in that member, and does'nt find the echo1 task because its not defined.
if you want members to get workspace level tasks automatically (only if triggered from workspace directory), add the following to your workspace makefile:

[code]

from the docs: https://github.com/sagiegurari/cargo-make#automatically-extend-wo

[2020-10-11 16:30] adamski234 commented on #474
My original idea was to either make that a default, or at least let the users know that it's looking for a member's makefile. It was a bit of my fault, as I didn't read that part of the docs, but I was following the introduction and got stuck on that part

[2020-10-11 17:46] sagiegurari commented on #474
ya, i know its a bit confusing. there are a lot of features and many ways of doing same thing.
for workspaces, in order to make a clear separation between crates to enable each crate to define its own logic of how doing things, i did not set it on by default.
for example you have a workspace with 2 members, 1 server and 1 client.
the build task for each might be very different (server might be car

[2020-10-12 17:18] sagiegurari commented on #474
i'm closing this one as I think it should work for you.
however, if you run into issues or got some questions, feel free to reopen/open a new issue

[2020-10-12 17:18] #474 closed

[2020-10-15 00:05] Kreyren commented on #473
@sagiegurari yep, sorry for the delay has issues on infra (DNS Server ruining my life) x.x

---

That would solve just a part of the issue as this needs quicklisp installed and configured to run per implementation to not have:

[code]

At the header of the file.

Installing dependencies noted, do you propose to make a logic there for the invidual implementations? I would ideally want to avoid inst

[2020-10-15 02:27] lygstate opened #476 "Doesn't support command cargo --version in task"
### Describe The Bug

The following task caused error
[code]

[2020-10-15 05:22] sagiegurari commented on #473
* header - sorry i'm not a lisp person. i only did few things during my university time 20 years ago :)
So you are saying you need to write those 3 lisp lines all of the time? because (and i'm not a lisp person) those seem very specific to how you do things (like loading setup.lisp from specific path) and not a must for lisp execution in general.
so if i did have a ```@ecl``` runner, it would stil

[2020-10-15 05:29] sagiegurari commented on #476
@lygstate thanks a lot for reporting this.
I see the automatic crate installation kicked in for that as well and tried to find a crate named --version which is naturally totally wrong :)
i'll have that fixed. thanks for reporting.

[2020-10-15 23:58] Kreyren commented on #473
Noted

Yes these three lines **and** parsed arguments per implementation (i.e. `ecl`) are requires to run the code alike:

Expecting to be able to use:
[code]

Without them the implementation either doesn't parse the created file correctly or prints unwanted messages (see `Silencing unwanted output` in OP.)

FWIW this is a quicklisp which is a dialect of common lisp so using `@ecl` would be confus

[2020-10-17 08:28] sagiegurari commented on #473
So, i'm re-reading the whole thing and still bottom line the requirement is that you would have a new runner ```@quicklist``` for example which adds 3 lines automatically for all such scripts:
[code]

but
* 1 line is specific to your installation path
* silent is something you want, but its not default for quicklist so why should it be default here?

so, at the end, it boils down to something real

[2020-10-17 08:46] sagiegurari commented on #476
@lygstate this is now fixed in the 0.32.8 development branch.

[2020-10-19 19:58] adamski234 opened #479 "cargo-make finds inexistent commands in the makefile"
### Describe The Bug
I have a workspace with a member. Both have the following in their makefiles:
[code]
Running `cargo make` on the top level makefile works fine. Running `cargo make` on the member causes this to appear in the error log:
![image](https://user-images.githubusercontent.com/39589619/96504974-c31e6000-1255-11eb-91a5-03c710fbd3a2.png)
The `build` task contains no commands or args.

#

[2020-10-19 20:17] sagiegurari commented on #479
did you disable the core tasks? if not, the build task is already defined.
checkout the docs for the predefined tasks. there arw a lot of them so you can work with cargo make without even writing any makefile.

[2020-10-19 21:39] sagiegurari commented on #479
no, it was meant for extending. if you want yoy can use the clear attribute as well.

[2020-10-20 22:55] bobhenkel opened #480 "Ability to list the tasks in my toml file"
### Feature Description
So far all I can find is ``` makers --makefile ./my-build.toml --list-all-steps ``` which returns all kind of tasks I didn't create and none that are in my toml file.

I want to be able to list my tasks and ideally have a description show up next to them. Something similar to what you see people do with ``` make list ```.  My use case is coming from using this tool as a gen

[2020-10-20 22:58] bobhenkel commented on #480
I do see my tasks show up under No Category section, so maybe if I can figure out how to create a category that my tasks will be in I can filter everything else out?  Still seems kind of complicated for must wanting to list my tasks.

[2020-10-21 06:10] sagiegurari commented on #480
* you see more tasks than you defined, because you automatically get a lot of the built in tasks in cargo-make. this allows you to use cargo make without the need of writing any makefile at all. if you want to not to have any of the built in core tasks and write everything from scratch, add the following to your makefile

[code]

as mentioned in this section: https://github.com/sagiegurari/cargo-m

[2020-10-21 06:11] sagiegurari commented on #480
also if your make file is named Makefile.toml its automatically picked up and all cli commands do not need the --makefile argument.
in your case, it means:

[code]

[2020-10-21 17:17] bobhenkel commented on #480
Thanks! This is exactly what I was looking for.  Really liking cargo-make, even for non-rust things.

Really appreciate your work on this!

Thanks again!
Bob

[2020-10-21 17:17] #480 closed

[2020-10-23 20:03] seanybaggins opened #481 "Not working with Cargo tarpaulin"
**Makefile.toml**
[code]

**command**
[code]

**Terminal Output**
[code]

[2020-10-23 20:10] sagiegurari commented on #481
the reason is that there is already a core coverage task defined and it does something else. you overwrote it and now it both invokes a command and another task which is a bit invalid.

I'm with my phone so its a bit hard to put the links here, but checkout the readme on core tasks and extending.

however, for coverage specifically i wrote few tasks and env vars to enable easy customization. there

[2020-10-23 23:12] Kreyren commented on #473
Sorry for taking long time to respond again x.x

---

These three lines are not my preferences, but configuration for the implementation to allow running from cargo-make so that it can process the provided scripts.

Without these the implementation either spams in the cargo-make output or fails to process the script.

Currently this requires the quicklisp backend installed on the target userland w

[2020-10-26 12:26] sagiegurari commented on #473
let me think of how to enable you to configure this....

[2020-10-31 00:55] sffc opened #482 "Run command for each file matching a pattern"
### Feature Description

One of gnumake's key features is the ability to run a command for each file matching a pattern, such as:

[code]

### Describe The Solution You'd Like

I would like makers to support the ability to run a task multiple times on each file matching a certain pattern.

### Code Sample

In my Makefile.toml:

[code]

This would run `wasm-opt -o pkg/%.opt.wasm pkg/%.wasm` and sub

[2020-10-31 01:32] sffc opened #483 "Run dependencies in parallel"
### Feature Description

If my task has multiple dependencies, and those dependencies are independent from one another, cargo make should be able to run them in parallel.

### Describe The Solution You'd Like

If I write the following, I expect each of the subtasks to be run in parallel, or at least be *allowed* to be run in parallel if I pass a `-j` option to cargo make.

[code]

I can use `paral

[2020-10-31 10:59] sagiegurari commented on #482
@sffc thanks for the idea.
Unlike make, this tool doesn't work on file paths, but on tasks/flows.
but you could do something similar with duckscript as follows:

[code]

[2020-10-31 11:01] sagiegurari commented on #483
@sffc there is a workaround for the issue you stated, but i agree that this is a limitation and a complex one to resolve.
it would also break things like task specific env vars i have, but i guess thats not an issue.
I'll see if i can get to it at some point, but probably not in the near future due to the complexity.

[2020-10-31 15:22] roblabla commented on #473
Couldn't extend "merge" scripts sections? e.g. have:

[code]

I think this would be useful beyond quicklisp. You could imagine a runner setting up some variables (not env vars, actual variables specific to that runner) before execution. Maybe even add a `pre_script` and `post_script` meant to be used by task-runner?

[2020-10-31 15:26] sagiegurari commented on #473
pre/post acript is an interesting idea. I'll take a look.
thanks for the suggestion.

[2020-11-01 10:27] sagiegurari commented on #473
@roblabla  @Kreyren i implemented pre/main/post script sections as suggested so we can now share scripts between tasks partially. so you should be able to do something like this:

[code]

[2020-11-03 03:03] sffc commented on #482
Thanks for the response and the tip about duckscript!

The workaround I currently have is to use `find`, like:

[code]

But I think that's probably not cross-platform.  It looks like duckscript is designed to be more cross-platform?  If so, that seems like a very good workaround.

[2020-11-03 03:14] sffc opened #484 "Inherit aliases from .cargo/config.toml"
### Feature Description

I have a number of aliases defined in my .cargo/config.toml file, like this:

[code]

There should be a way in cargo-make to run those aliases without the boilerplate of re-defining them in Makefile.toml.

### Describe The Solution You'd Like

If I run `cargo make quiz`, cargo-make should first look for a "quiz" target, and if it fails to find one, it should behave as if t

[2020-11-03 03:57] sffc commented on #484
I realized that I can invert this structure: define the helper commands in Makefile.toml and write aliases to them in .cargo/config.toml.  This requires that the user have cargo-make installed.

[2020-11-03 04:50] sagiegurari commented on #482
ya, duckscript is the built in cross platform scripting solution for cargo make

[2020-11-03 04:53] sagiegurari commented on #484
that's a really interesting idea.
you can invert as you said, and ya it means users need cargo-make installed, but usually it also means you build needs it anyway.

regardless, defining tasks from those aliases is a really neat idea.
let me take a look at what i can do

[2020-11-03 09:47] berkus opened #485 "Conditional env vars"
Hi, not sure if this is implemented already, couldn't find it in the docs:

One common pattern I use is to set cargo-make env variable to corresponding env var if it's defined, or revert to a default value if not set:
[code]

Is there a shorter way to express that? If not, could it be added?

[2020-11-03 10:49] sagiegurari commented on #485
you only need the second line, no?

[2020-11-03 12:24] berkus commented on #485
Hmm, you're probably right, thanks! :)

[2020-11-03 12:28] #485 closed

[2020-11-03 20:57] Kreyren commented on #473
Thanks for working on this! ^-^

This resolves the issue for hard-codded executables, but is there a way to apply the `script.pre` depending on the executable used?

[2020-11-04 04:42] sagiegurari commented on #473
just create different base tasks to extend from
instead of selecting executable in you actual task, you select base task to extend.
the base task can also extend other tasks as needed.

[2020-11-04 06:19] sagiegurari commented on #473
maybe a more complete example will explain better:

[code]

[2020-11-05 06:09] Kreyren opened #486 "Cargo-make to replace CMake on CXX projects (and others)?"
I am rewriting Paludis <https://gitlab.exherbo.org/paludis/paludis> and using CMake on it is currently as painful as it can possible be, because it is:

### 1. Scripting language is featureless and implementation requires difficult to read code
defining almost everything as strings - Which to me is painful to use and writing in it feels like adding work instead of making the work easier due to the

[2020-11-05 08:16] sagiegurari commented on #486
thanks for the detailed explanation and examples.
personally i always use the tool for the platform, so i also use cmake for c/c++ but i know there are general build systems out there like buck/bazel/....

cargo-make in general can be used to run any flow and for rust gives much extra power.
but for other platforms it doesn't have any extra insight to help as it does for rust.

it doesn't mean it

[2020-11-05 10:22] Kreyren commented on #473
That example is kinda bloated, decided to use ecl only atm.

[2020-11-05 10:41] sagiegurari commented on #473
its bloated as it is an example of having 2 lisp langs with minor differences sharing logic.
it is meant to answer your last question

[2020-11-05 12:59] sagiegurari commented on #484
@sffc just push this support to the development branch.
Basically to enable cargo aliases to be automatically loaded as tasks as well, you have to enable it in the makefile config section as follows:

[code]

[2020-11-05 13:08] sagiegurari commented on #482
I'll close this for now because i think we have a solution, but feel free to reopen if needed

[2020-11-05 13:08] #482 closed

[2020-11-05 13:10] sagiegurari commented on #481
closing due to lack of feedback.

[2020-11-05 13:10] #481 closed

[2020-11-05 13:11] sagiegurari opened #487 "Improve perf for core tasks where cargo plugin installation is not needed"
Due to #484 i can now have an ability to disable automatic cargo plugin installation.
i can use that to save a bit of perf for many core tasks.

[2020-11-05 13:15] sagiegurari opened #488 "Document the installation disable attribute"
This is a new feature developed for #484 so just need to document it.

[2020-11-05 20:38] #488 closed

[2020-11-05 20:38] #487 closed

[2020-11-05 20:39] sagiegurari commented on #476
@lygstate the fix is now published.

[2020-11-05 20:39] #476 closed

[2020-11-05 20:39] sagiegurari commented on #484
@sffc this feature is now published. thanks a lot

[2020-11-05 20:39] #484 closed

[2020-11-05 20:39] sagiegurari commented on #473
this feature is now published.

[2020-11-05 20:39] #473 closed

[2020-11-05 21:37] sffc commented on #484
That's awesome; thanks!!

Note: I see the option is called `load_cargo_aliases`, not `cargo_load_aliases` as in your post above.

[2020-11-05 21:49] sagiegurari commented on #484
right, my mixup. that's what you get when you don't copy paste :)

[2020-11-07 02:07] tamasfe opened #489 "JSON schema for Taplo"
You could submit a schema for [Taplo](https://github.com/tamasfe/taplo) for autocompletions and docs in its [VS Code extension](https://marketplace.visualstudio.com/items?itemName=tamasfe.even-better-toml).

The easiest way would be to use [schemars](https://github.com/GREsau/schemars) and this project could have some VS Code IDE support with minimal effort.

[2020-11-07 07:14] sagiegurari commented on #489
Cool idea. My only concern is the fact that i add new capabilities and require to change the format by adding more attributes or having attributes support additional data types.

[2020-11-07 13:18] tamasfe commented on #489
Yeah, it's generally a good idea to version config files this complex, at least that's how [taskfile](https://taskfile.dev/#/) handles major changes. (although Taplo doesn't handle these kind of complex schemas nicely yet ([#57](https://github.com/tamasfe/taplo/issues/57)))

On a second thought, I'm planning to create some kind of repository, as every tool supports fetching via http instead of bun

[2020-11-07 15:35] sagiegurari commented on #489
created an issue in taplo for it. once that is implemented, i'll work on creating a schema and uploading it to that new repo.
otherwise it will break very often.

[2020-11-07 16:12] sagiegurari opened #491 "Migrate from dirs to dirs-next"
Seems dirs is no longer maintained and dirs-next replaced it.

[2020-11-07 16:14] sagiegurari commented on #489
tamasfe/taplo#58

[2020-11-08 07:55] Kreyren commented on #486
The issue with cmake is that it builds the makefiles per platform and the makefiles being a limiting factor atm where i want it to build on as many turing complete systems as possible including non-standard to the reasonable degree -> Assuming sourcing makefiles not a sufficient solution?

But.... you can always create a task with a lot of duckscript functions to contain the logic and then just ex

[2020-11-08 08:15] sagiegurari commented on #486
* load scripts - i just meant to use that to load the right makefile from remote to get all the functions that allow for c/cpp compilation. the project specific logic would still be in project specific makefile.

* lang features (answering in context of duckscript)
  * if/switch - you have [if/elseif/else](https://github.com/sagiegurari/duckscript/blob/master/docs/sdk.md#std__flowcontrol__If)
  *

[2020-11-08 12:00] Xeizzeth opened #492 "Tutorial example doesn't work on windows"
### Describe The Bug
On the windows 10 platform basic example fails with message:
[code]

### To Reproduce
Install on windows via _cargo install --force cargo-make_
Create file MakeFile.toml with the contents provided in the tutorial.
Run cargo make --makefile MakeFile.toml my-flow

### Additional notes
Also tried to rename task to "workflow", the same result.
All other tasks described in the file

[2020-11-08 12:03] sagiegurari commented on #492
can you also post your makefile? because it doesn't seem to be related to windows or something like that
also your command line and the printout do not match. you wrote that you called it MakeFile but in the output i see Makefile so my guess, you have some mixup there.

[2020-11-08 12:12] Kreyren commented on #486
Can you elaborate how? I think you are proposing to maintain multiple makefiles used depending on used kernel which would require a duplicate code assuming the complexity of the CXX repo that requires compiling of libraries from X amount of files?

---

duckscript noted

---

FWIW my current proposal would be to add optional API to cargo-make that can be used as a replacement for cmake that doesn'

[2020-11-08 12:14] Xeizzeth commented on #492
Sure thing.

Here is the contents of of the file. And it actually named CargoMake.toml
Sorry for the confusion.

[code]
And here is the program I launch:

[2020-11-08 12:14] Xeizzeth commented on #492
Sure thing.

Here is the contents of of the file. And it actually named CargoMake.toml
Sorry for the confusion.

[code]
And here is the program I launch:
$ cargo make --makefile CargoMake.toml my-flow

[2020-11-08 12:19] Xeizzeth commented on #492
And here are the terminal outputs:
Haven't shown it earlier since it would give out the name of my super secret project.
[code]
If it is not helpful then tell me what should I provide

[2020-11-08 12:28] sagiegurari commented on #492
ok, you put it in a workspace crate. so that works very differently.
i suggest you finish reading the doc, especially the workspace section as it has special behaviour.

[2020-11-08 12:36] Xeizzeth commented on #492
Yeah, then please make a note about this in the tutorial, because yeah, I intended to read the whole doc, but what's the point of reading it if even basic example doesn't work? (in my conditions)

[2020-11-08 12:54] sagiegurari commented on #492
thanks, thats great feedback.
maybe i'll put some remark there in bold....

[2020-11-11 16:51] Xeizzeth commented on #492
@timfish Funny this or not but it would require me to read the whole documentation to just make the basic example to work.
And maybe not in bold, but just a reminder. On a separate line. Because yeah, not everybody comes with the project made from scratch.

[2020-11-11 18:13] sagiegurari commented on #492
@Xeizzeth I'm not sure i understood your last comment and who was laughing and where.
I'll update the doc as stated before and make a comment on how to make it work in workspaces.

however, i will not start explaining what a rust workspace is. that type of documentation is out of scope for this project.

[2020-11-12 05:06] Xeizzeth commented on #492
Once you mentioned the workspaces in relation to my project structure it spawned the immediate association so there is no need to explain anything.
And the comment were addressed to @timfish

[2020-11-15 11:17] sagiegurari commented on #492
implemented

[2020-11-15 11:17] #492 closed

[2020-11-23 19:22] AntonOellerer opened #493 "Async `cm_run_task`"
Hey,
Thank you a lot for this great tool!
One thing I came across when using cargo-make together with [duckscript](https://github.com/sagiegurari/duckscript/) to run system tests is the problem of starting processes we need for successful execution of another task which we run later in the script.
The `cm_run_task` command is really nice, but as far as I can tell there is no way to run it in the b

[2020-11-24 17:39] sagiegurari commented on #493
thanks for the idea. i'll take a look at starting it in a background thread and not waiting for it.
just need to make sure it doesn't block the main process from exiting.
i guess i won't call the flag silent, maybe background/spawn/something like that.

[2020-11-26 12:59] sagiegurari commented on #493
@AntonOellerer I implemented the changes in duckscript and published them.
As for this one, i implemented it in a dev branch 0.32.10 and you can install cargo make from that branch and test it.
basically you need to add **--async** before the task name and it will be invoked on a separate thread.
however:

* unlike your request in duckscript spawn - this one will not be silent. duckscript spawn st

[2020-11-26 15:56] AntonOellerer commented on #493
Thank you a lot, I will take a look at it tomorrow!

[2020-11-27 13:09] arlyon opened #497 "Propose syntax-sugar for referring to tasks in other crates"
I have a workspace with many crates. As part of the packaging process, I'd like to copy some files (html templates) between them. This copy stage depends on some preprocessing defined in `src/web/Makefile.toml`. In the root `Makefile.toml` I am having to create a dummy task that changes directory and runs the target I want.

**src/web/Makefile.toml**
[code]

**Makefile.toml**
[code]

The combined

[2020-11-27 13:17] sagiegurari commented on #497
Interesting idea.
What if it was an object instead?
[code]
which would trigger a sub cargo make process (as you did manually)?
The fork would always be true, but if i'm making it an object now, i need to think of future support for other things.
does it make sense?

[2020-11-27 17:55] arlyon commented on #497
Yeah that could work, while making "some-local-task" and { name = "some-local-task" } equal. If you give some pointers I'd be happy to take a crack at it once we think about it a little more.

[2020-11-27 18:03] sagiegurari commented on #497
@arlyon if you want create a PR (always happy to get help) here are the pointers i can give:

* types.rs - update the task and platform task structs to have dependencies instead of vec of strings, a vec of enum of either string or a new type that can have those fields. I do stuff like that a LOT in that file so you have many examples.
* execution_plan.rs - when you loop over dependencies, if you c

[2020-11-28 00:36] arlyon commented on #497
Cool, I had a go at the first bit. Expect a PR soon :)

[2020-12-02 10:39] AntonOellerer commented on #493
Hey, when testing the `--async` flag, there seems to be a problem with the `cwd` command.
The duckscript is
[code]
and `start-server` looks like this:
[code]
When running `makers test-system`, I get the following log:
[code]

[2020-12-02 10:43] sagiegurari commented on #493
thanks for the feedback.
i actually documented it that when running tasks in parallel, things like env vars anf cwd may be an issue.
this is because cargo make updates the cwd per task needs and reverts once done.
if you are doing it in async that can result in big issues and is not recommended.
instead, i suggest the command itself should handle it, either by updating the path to the executable o

[2020-12-02 10:44] AntonOellerer commented on #493
The two duck related changes (https://github.com/sagiegurari/duckscript/issues/142 and https://github.com/sagiegurari/duckscript/issues/144) work, thank you!

[2020-12-02 10:44] AntonOellerer commented on #493
Yeah, I am doing it in the script now, thank you!

[2020-12-02 10:48] AntonOellerer commented on #493
I tested `cm_run_task --async` now with commands not changing the working directory and it worked flawlessly, thank you again!

[2020-12-02 14:02] #493 closed

[2020-12-03 18:44] sagiegurari opened #499 "update changelog based on current PRs"

[2020-12-04 10:39] #499 closed

[2020-12-04 10:50] sagiegurari commented on #497
@arlyon i was manually testing this one and i found a bug there when the path specifies a file name as well (i was actually testing the cross-file.toml you created).
I think the issue is that you take the full path as directory path and do not split the filename from it

[code]

what i think you wanted to do is check that path and than if its a dir than ok, if its a file to break it down to path t

[2020-12-04 10:51] sagiegurari commented on #497
i would also add a test for both scenarios to make sure the generated proxy task is as we wanted it to be.

[2020-12-04 11:30] dakom opened #500 "Pass arguments to be used as variables"
### Feature Description
When running cargo make, allow arbitrary arguments to be used as variables in the tasks

### Problem

I have a situation where there is a repeatable pattern of stuff like this:

[code]

In this example, there are two things that need to happen:

1. the APP_NAME env var needs to be set
2. the sub-task needs to be run

### Solution

it would be great if I could instead do som

[2020-12-04 14:20] sagiegurari commented on #500
I pretty sure thats already supported.
if we are talking about duckscript you should have variables 1 and 2 defined.
so you could do

[code]

[2020-12-06 19:35] arlyon commented on #497
Hey! Yes it seems I missed that case, I thought that that was covered since the example I wrote worked but that was in the same directory. I'll get a patch up asap

[2020-12-07 09:38] dakom commented on #500
this does work, thanks :)

Is there a way in Duckscript to exit early if ${1} isn't one of a predefined list of strings?

[2020-12-07 10:47] sagiegurari commented on #500
you van create a set of strings and check if it is contained it that set.

https://github.com/sagiegurari/duckscript/blob/master/docs/sdk.md

if not, just do exit the script

[2020-12-09 09:33] Kreyren opened #501 "Question: Handling of privileged access on cargo-make"
I have command `debootstrap` that requires root privileges, how should i handle that on cargo-make?

### Expected
Look for command capable of elevating root e.g. `sudo` and try to use it to elevate root for commands that requires it

### File
[code]

### Output
[code]

[2020-12-09 09:34] Kreyren commented on #501
CC @sagiegurari

[2020-12-09 09:57] sagiegurari commented on #501
Did you try to do:

[code]

[2020-12-09 09:59] sagiegurari commented on #501
I just want to mention that i use sudo in one of my embedded tasks (the kcov installation script).
I use a script there and put a sudo before the apt command and it works well.
i'm hoping sudo as a command should also be supported automatically.

[2020-12-09 11:02] Kreyren commented on #501
Yes, but that makes it depending on `sudo` which is unexpected as it shoudn't use it when executed from root or when the end-user is using something like `gksudo'

---

Was also thinking about using a script or maybe a task that sets a variable prior to the commands that expect privileged access? something alike:

[code]

but i find the use of command for command prefix ugly and something that sho

[2020-12-09 12:41] sagiegurari commented on #501
you can have a setup script that checks what sudo command exists and based on that set it as a variable (look at setup env scripts).
also, duckscript has a which command that can be used, so you do'nt have to actually trigger a call to sudo which saves you from possible asking of password before really needed.
as to check if you are already root, i don't know, i guess same logic as you would do in

[2020-12-09 12:42] sagiegurari commented on #501
closed by mistake... reopening.

[2020-12-10 02:47] Kreyren commented on #501
Setup env scripts seems to be a sufficient solution. Can you elaborate on implementation in duckscript (as duckscript doesn't support conditionals) or in cross-platform way that ideally woudn't require non-cargo dependencies?

I was thinking something alike:
[code]

Which defines `${DEBOOTSTRAP}` that if not set already contains `debootstrap` and if the end-user is not privileges it prepends `${SU

[2020-12-10 07:18] sagiegurari commented on #501
duckscript does support if/else conditions. i suggest you read a bit on it.
it also has the which command i talked about

[2020-12-11 02:16] Kreyren commented on #501
Found https://github.com/sagiegurari/duckscript/blob/master/docs/sdk.md#std__flowcontrol__If

Thanks, missed it! I am satisfied with the implementation now -> closing.

[2020-12-11 02:16] #501 closed

[2020-12-11 14:57] #500 closed

[2020-12-15 16:49] sagiegurari commented on #497
@arlyon are you taking care of this one or you prefer me to fix it?

[2020-12-15 18:32] arlyon commented on #497
Hey, I've been working on this but its a bit more complex than I had initially thought regarding paths and things.

[2020-12-15 18:39] sagiegurari commented on #497
i can take a look as well.

[2020-12-16 11:13] arlyon commented on #497
Yes, that would be helpful. This next few days are quite busy with work wrapping up before the holidays and I understand it's kind-of time sensitive. Thank you (and sorry)!

[2020-12-20 09:12] sagiegurari commented on #497
@arlyon fixed it. you can look at the relevant commit if you are interested.

[2020-12-20 10:54] #491 closed

[2020-12-20 10:54] sagiegurari commented on #497
released

[2020-12-20 10:54] #497 closed

[2020-12-28 04:18] tamasfe commented on #489
@sagiegurari This is now implemented for Taplo, and the documentation is [here](https://taplo.tamasfe.dev/configuration/#schemas) if you're still interested.

[2020-12-28 17:25] sagiegurari commented on #489
this is great. I'll work on that. thanks a lot

[2021-01-15 13:27] realAP opened #504 "Release build"
Hello :)

is it possible to set a flag to build the whole workspace in release and not in development?
Thanks :)

[2021-01-15 13:46] #504 closed

[2021-01-16 04:03] alilee opened #505 "Command to generate a file"
### Feature Description
I can't see how to use a cargo-make command to write a .sh script to the file system (script content is customised from ENV and is passed by name as input to a utility, so can't just be a naive cargo-make script). The problem stems from how to call a command and use piping, eg. ```echo "script" > script.sh```.

### Describe The Solution You'd Like
Maybe, explicit redirect o

[2021-01-16 17:03] sagiegurari commented on #505
if you want to use pipes and redirection i would suggest using 'script' attribute instead, for example:

[code]

Naturally the content or script output path can be env vars and set from outside.
you can also use duckscript to do that which is also via script attribute.
There are many examples in the examples folder and in the readme.

[2021-01-17 22:36] alilee commented on #505
Thanks for the quick response.

The script in question is about 20 lines long and has its own variables, so this echo meta becomes complicated.

I'll have a closer look at duckscript though.

Thanks!

[2021-01-18 19:07] d4h0 opened #506 "Feature: Strict mode / validation"
### Feature Description

It would be nice, if there was an option for a strict mode that validates `Makefile.toml` files.

For example, I had the following task:

[code]

...and was wondering why my live-reload server didn't work.

Turned out, I missed an "n" in "command".

### Describe The Solution You'd Like

Would it be possible to recognize cases like these, and fail or show a warning?

Maybe

[2021-01-18 19:41] sagiegurari commented on #506
that is super interesting idea.
I will check what can be done (I will check serde docs).
by the way, PRs are always welcome as well :)

[2021-01-19 11:43] umaYnit opened #507 "@shell script `rm -rf` in windows can not delete file"
### Describe The Bug

[code]
 in windows will became `rmdir`, and it  can not delete file
### To Reproduce

### Error Stack

[code]

### Code Sample

[code]

[2021-01-19 11:45] sagiegurari commented on #507
1. if its a file, dont add the -r as that means recursive
2. change @shell to @duckscript and it should work as well

[2021-01-19 13:02] umaYnit commented on #507
thanks for your reply.
I try the duck script, but still error.
[code]
[cargo-make] INFO - cargo make 0.32.10
[cargo-make] INFO - Project: kernel
[cargo-make] INFO - Build File: Makefile.toml
[cargo-make] INFO - Task: clean
[cargo-make] INFO - Profile: development
[cargo-make] INFO - Running Task: clean
C:\Users\Ynit\Desktop\tmp\rust-raspberrypi-OS-tutorials\07_uart_chainloader
kernel8.img
[cargo-m

[2021-01-19 13:12] sagiegurari commented on #507
can you please share the full makefile?

[2021-01-19 13:15] sagiegurari commented on #507
i think the file name as an EOL in it or something? because your printout looks it does.

i don't really have windows to test on.
from what i see in duckscript rm command, if the path does not exist, it just breaks out and does nothing:
https://github.com/sagiegurari/duckscript/blob/3877712774ae74a6d2d0e0d309954384ce4a7a3e/duckscript_sdk/src/sdk/std/fs/rm/mod.rs#L49

i can tell you to workaround i

[2021-01-19 13:24] umaYnit commented on #507
[code]
this is the full makefile.
and the file name is `kernel8.img`, i want to remove  both rust target folder and the img file

[2021-01-19 13:33] umaYnit commented on #507
i find the command `ls` and use it in script.
[code]
and the output
[code]

[2021-01-19 13:44] sagiegurari commented on #507
just for testing.... what if you changed to:
[code]

[2021-01-19 13:50] umaYnit commented on #507
Still the same error

[2021-01-19 14:14] sagiegurari commented on #507
something is strange in your system. os 2 means file not found. but its there? so something funky is going on in your env.

open cmd and try runming the rm command to see.

i dont think its a code issue for windows as all these commands are tested on windows as part of the CI

[2021-01-19 14:28] umaYnit commented on #507
Maybe you mean `del`?, it's run well

[2021-01-19 14:33] d4h0 commented on #506
Sounds good :)

Serde has the [`deny_unknown_fields` attribute](https://serde.rs/container-attrs.html#deny_unknown_fields) (`#[serde(deny_unknown_fields)]`), which might be useful. But I'm not sure if that would work with the feature set that `cargo make` has.

[2021-01-19 14:37] umaYnit commented on #507
it's really weird. i use another command `existing` like this.
[code]
Still not working.
[code]
By the way, i delete the file and run the `cargo make clean`, it ok, not any error msg been printed

[2021-01-19 15:12] sagiegurari commented on #507
so if it exists... you end up at:
https://github.com/sagiegurari/duckscript/blob/3877712774ae74a6d2d0e0d309954384ce4a7a3e/duckscript_sdk/src/sdk/std/fs/rm/mod.rs#L52

std::fs::remove_file(&arguments[0])

and that breaks? that is so strange. thats a core rust api. so i'm not sure why it would fail.
i also have lots of tests there, including on windows.
its hard without an ability to debug this.

by

[2021-01-19 15:13] umaYnit commented on #507
i download `duckscript` and run test `test_scripts` in `duckscript_sdk/src/lib_test.rs` , it give me an error.
[code]
Is it because the way I am running is wrong?
Also, how can I test the delete method?

[2021-01-19 15:15] umaYnit commented on #507
i know it ok, but i want to find the error.  I just learned about the duck script at today, it’s awesome, i like it

[2021-01-19 15:18] sagiegurari commented on #507
To run duckscript tests, simply run ```cargo make``` in the workspace dir.
to test specifically the sdk (where the rm command is implemented) run ```cargo make``` in the duckscript_sdk dir. save a bit of time :)

The test is at:
https://github.com/sagiegurari/duckscript/blob/3877712774ae74a6d2d0e0d309954384ce4a7a3e/duckscript_sdk/src/sdk/std/fs/rm/mod_test.rs#L44